﻿@model Mega.Garage.Persistence.Content.Entities.Slider


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    عنوان
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    توضیحات
                </label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    مدت زمان نمایش
                </label>
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    متن جایگزین
                </label>
                @Html.EditorFor(model => model.SubstituteText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubstituteText, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

    <div class="inner">
        <div align="right">@{Html.RenderAction("Index", "SliderMedia", new { sliderId = Model.Id });}</div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>
}
