﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Slider>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Sliders")', 'ایجاد اسلایدر')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            اسلایدر جدید
        </div>
        <h1>
            اسلایدرها
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th>
                        مدت زمان نمایش
                    </th>
                    <th>
                        متن جایگزین
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.SubstituteText)
                        </td>

                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "Sliders", new { id = @item.Id })', 'ویرایش اسلایدر')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "Sliders", new { id = @item.Id })', 'حذف اسلایدر')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
</section>
