﻿@model Mega.Garage.Persistence.Catalog.Entities.CatalogType


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.HasShipment, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-Has-Shipment",
                       name = "HasShipment"
                    })
                    @Html.ValidationMessageFor(model => model.HasShipment, "", new { @class = "text-danger" })
                    <label class="custom-control-label" for="custom-switch-Has-Shipment">قابل ارسال</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
