﻿@model Mega.Garage.Logic.Polling.ViewModel.UserSurveyViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.UserSurvey.Id)

    <div class="container">
        @if (Model.Questions != null && Model.Questions.Count > 0)
        {
            for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-12">
                        <label>@Model.Questions[i].Title</label>
                        <div>
                            @if (Model.Questions[i].Survey.QuestionType == 0)
                            {
                                <input type="checkbox" name="UserSurveyQuestions[@i].ResponseValue" class="form-control" />
                                <input type="hidden" name="UserSurveyQuestions[@i].QuestionId" value="@Model.Questions[i].Id" />
                                <input type="hidden" name="UserSurveyQuestions[@i].UserSurveyId" value="@Model.UserSurvey.Id" />
                            }
                            else if (Model.Questions[i].Survey.QuestionType == 1)
                            {
                                <select name="UserSurveyQuestions[@i].ResponseValue" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected>5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <input type="hidden" name="UserSurveyQuestions[@i].QuestionId" value="@Model.Questions[i].Id" />
                                <input type="hidden" name="UserSurveyQuestions[@i].UserSurveyId" value="@Model.UserSurvey.Id" />
                            }
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-12">
                <label>نظر، پیشنهاد، یا انتقاد خود را وارد کنید:</label>
                <div>
                    @Html.DisplayFor(x => x.UserSurvey.Comment)
                    @Html.TextAreaFor(x => x.UserSurvey.Comment, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-success" value="ثبت" />
            </div>
        </div>
    </div>
}
