﻿@model Mega.Garage.Logic.Polling.ViewModel.UserSurveyViewModel

<div class="container-fluid">
    @if (Model.UserSurveyQuestions != null && Model.UserSurveyQuestions.Count > 0)
    {
        for (int i = 0; i < Model.UserSurveyQuestions.Count; i++)
        {
            <div class="row">
                <div class="col-sm-12">
                    <label>@Model.UserSurveyQuestions[i].Question.Title</label>
                    @if (Model.UserSurveyQuestions[i].Question.Survey.QuestionType == 0)
                    {
                        <input type="checkbox" name="UserSurveyQuestions[@i].ResponseValue" />
                    }
                    else if (Model.UserSurveyQuestions[i].Question.Survey.QuestionType == 0)
                    {
                        <input type="number" name="UserSurveyQuestions[@i].ResponseValue" />
                    }
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-sm-12">
            @Html.DisplayFor(x => x.UserSurvey.Comment)
            @Html.TextAreaFor(x => x.UserSurvey.Comment)
        </div>
    </div>
</div>