﻿@model IEnumerable<Mega.Garage.Persistence.Catalog.Entities.CatalogCategory>
@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>طبقه بندی کاتالوگ ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","CatalogCategories")', 'طبقه بندی کاتالوگ')">
            <span class="arrow-box"><i class="arrow vertical"></i><i class="arrow horizontal"></i></span>
            طبقه بندی کاتالوگ جدید
        </div>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CatalogId)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                    <th>@Html.DisplayNameFor(model => model.SortNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.ReserveJsonData)</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Catalog.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.SortNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReserveJsonData)</td>                        
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","CatalogCategories",new { id = @item.Id })' , 'ویرایش طبقه بندی کاتالوگ')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","CatalogCategories",new { id = @item.Id })' , 'حذف طبقه بندی کاتالوگ')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
