﻿@model Mega.Garage.Persistence.Catalog.Entities.CatalogCategory
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label>@Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label" })</label>
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label>@Html.LabelFor(model => model.CatalogId, "CatalogId", htmlAttributes: new { @class = "control-label" })</label>
            @Html.DropDownList("CatalogId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CatalogId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-sm-12">
        <div class="flex-column">
            <label>@Html.LabelFor(model => model.SortNumber, htmlAttributes: new { @class = "control-label" })</label>
            @Html.EditorFor(model => model.SortNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SortNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-sm-12">
        <div class="flex-column">
            <label>@Html.LabelFor(model => model.ReserveJsonData, htmlAttributes: new { @class = "control-label" })</label>
            @Html.TextAreaFor(model => model.ReserveJsonData, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ReserveJsonData, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}