﻿@model Mega.Garage.Persistence.Content.Entities.Comment

<div class="form-group submit sub-rem">
    <p>
        آیا از حذف این مورد اطمینان دارید؟
    </p>
    <div class="modal-footer btn-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">بلی</button>
        }
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
</div>
