﻿@using Mega.Garage.Logic.Enums;
@model Mega.Garage.Persistence.Content.Entities.Comment

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="col-lg-8 col-md-7 col-sm-7  col-xs-6 right-wrapper">
            <div class="form-group col-12 ">
                <div class="d-flex flex-column text-area">
                    <label for="label"> متن کامل </label>
                    @Html.TextAreaFor(model => model.FullText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullText, "", new { @class = "text-danger" })
                </div>
            </div>            
            <div class="form-group col-md-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="label">نوشته</label>
                    @Html.DropDownList("EntryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="label">وضعیت دیدگاه</label>
                    @Html.DropDownList("CommentStatus", EnumHelper.GetSelectList(typeof(CommentStatus)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CommentStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer btn-wrapper">
                <button type="submit" class="btn btn-primary"> ذخیره</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6 left-wrapper">
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">نام کاربر </label>
                    @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.UserFullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">ایمیل کاربر</label>
                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">آدرس مرورگر کاربر </label>
                    @Html.EditorFor(model => model.UserUrl, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.UserUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">آدرس آی پی کاربر </label>
                    @Html.EditorFor(model => model.UserIp, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.UserIp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">تعداد آراء موافق</label>
                    @Html.EditorFor(model => model.LikeCount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.LikeCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">تعداد آراء مخالف</label>
                    @Html.EditorFor(model => model.DislikeCount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DislikeCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">تعداد بازدید</label>
                    @Html.EditorFor(model => model.VisitCount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.VisitCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label"> تاریخ ثبت دیدگاه  </label>
                    @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">اطلاع رسانی هنگام انتشار دیدگاه</label>
                    @Html.EditorFor(model => model.NotifyOnPublish, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NotifyOnPublish, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>   
}
