﻿@using Mega.Garage.Logic.Enums
@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Comment>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Comments")', 'ایجاد دیدگاه')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            افزودن مورد جدید
        </div>
        <h1>
            دیدگاه ها
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        نام کاربر
                    </th>
                    <th>
                        پست الکترونیک کاربر
                    </th>
                    <th>
                        آدرس مرورگر کاربر
                    </th> 
                    <th>
                        تعداد بازدید
                    </th>                   
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    var commentStatus = Enum.GetName(typeof(CommentStatus), item.CommentStatus.Value);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entry.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserUrl)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitCount)
                    </td>                    
                    <td>
                        <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Comments",new { id = @item.Id })' , 'ویرایش دیدگاه')">
                            <i class='fa fa-edit'></i>
                        </span>
                        <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Comments",new { id = @item.Id })' , 'حذف دیدگاه')">
                            <i class="fa fa-trash"></i>
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
