﻿@model IEnumerable<Mega.Garage.Persistence.Dealer.Entities.BookingCapacity>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>ظرفیت رزروها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","BookingCapacities")', 'ظرفیت رزرو')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            ظرفیت رزرو جدید
        </div>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DealerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeBoxId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaxCapacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOnSite)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dealer.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeBox.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxCapacity)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsOnSite)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","BookingCapacities",new { id = @item.Id })' , 'ویرایش ظرفیت رزرو')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","BookingCapacities",new { id = @item.Id })' , 'حذف ظرفیت رزرو')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>