﻿@model Mega.Content.Presentation.Models.View.TranslationIndex

@if (!Model.Translations.Any())
{
    <div style="padding: 50px">
        <span>
            موردی یافت نشد
        </span>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        زبان
                    </th>
                    <th>
                        مسیر مولفه در کد
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model.Translations)
            {
                <tbody>
                    <tr class="translation-row" data-id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComponentPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "Translations", new { id = @item.Id })', 'ویرایش ')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "Translations", new { id = @item.Id })', 'حذف ')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>

}
