﻿@model Mega.Garage.Persistence.Content.Entities.Translation

@using (Html.BeginForm("Create", "Translations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label"> زبان</label>
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label"> مسیر مولفه در کد</label>
                @Html.EditorFor(model => model.ComponentPath, new { htmlAttributes = new { @class = "form-control text-left" } })
                @Html.ValidationMessageFor(model => model.ComponentPath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 ">
            <div class="d-flex flex-column text-area">
                <label for="label"> عنوان</label>
                @Html.TextAreaFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 ">
            <div class="d-flex flex-column text-area">
                <label for="label"> توضیحات</label>
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
