﻿@model Mega.Garage.Persistence.Content.Entities.Translation

@using (Html.BeginForm("Edit", "Translations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label"> زبان</label>
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label"> مسیر مولفه در کد</label>
                @Html.EditorFor(model => model.ComponentPath, new { htmlAttributes = new { @class = "form-control text-left" } })
                @Html.ValidationMessageFor(model => model.ComponentPath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 ">
            <div class="d-flex flex-column text-area">
                <label for="label"> عنوان</label>
                @Html.TextAreaFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 ">
            <div class="d-flex flex-column text-area">
                <label for="label"> توضیحات</label>
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
