﻿@model Mega.Garage.Presentation.Areas.Content.Models.TranslationIndex

@{
    Layout = "~/Views/Shared/_List.cshtml";
}
<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Translations")', 'ایجاد ')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            افزودن مورد جدید
        </div>
        <h1>
            ترجمه‌ها
        </h1>
    </section>
</div>
<section class="content">

    @using (Ajax.BeginForm("Search", new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "divSearchResult",
        InsertionMode = InsertionMode.Replace


    }))
    {
        @Html.AntiForgeryToken()

        <div class="search">
            <div class="input-wrapper">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="text" name="query" placeholder="جستجوی متن یا کلمه" class="form-control" id="txtSearch" />
                @Html.ValidationMessageFor(model => model.Search, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <button type="submit" onclick="searching();" value="جستجو" class="btn btn-primary">جستجو</button>

        </div>
    }


    <div id="divSearchResult">

    </div>

</section>

<script>
    function searching() {

        $('#divSearchResult').empty();
        $('#divSearchResult').append("<div class='ellipsis-loader'><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div></div>");

    }
</script>
