﻿@model Mega.Garage.Logic.Order.ViewModel.BulkDiscountViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Discount.Id)
    @Html.HiddenFor(model => model.Discount.RowVersion)
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.Title)</label>
            @Html.EditorFor(model => model.Discount.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Prefix)</label>
            @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Count)</label>
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Min)</label>
            @Html.EditorFor(model => model.Min, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Max)</label>
            @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.FromDate)</label>
            @Html.EditorPersianDatePicker(model => model.Discount.FromDate)
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.ToDate)</label>
            @Html.EditorPersianDatePicker(model => model.Discount.ToDate)
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.Percent)</label>
            @Html.EditorFor(model => model.Discount.Percent, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.AmountPrice)</label>
            @Html.EditorFor(model => model.Discount.AmountPrice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.NumberOfUsageLimit)</label>
            @Html.EditorFor(model => model.Discount.NumberOfUsageLimit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.MaximumAmountLimit)</label>
            @Html.EditorFor(model => model.Discount.MaximumAmountLimit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Discount.MinimumBasketSize)</label>
            @Html.EditorFor(model => model.Discount.MinimumBasketSize, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.Discount.IsForWeb, new
                {
                   @class = "custom-control-input",
                   id = "IsForWeb",
                   name = "IsForWeb"
                })
                <label class="custom-control-label" for="IsForWeb">@Html.DisplayNameFor(model => model.Discount.IsForWeb)</label>
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.Discount.IsForMobile, new
                {
                   @class = "custom-control-input",
                   id = "IsForMobile",
                   name = "IsForMobile"
                })
                <label class="custom-control-label" for="IsForMobile">@Html.DisplayNameFor(model => model.Discount.IsForMobile)</label>
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.Discount.IsJustForOnlinePayment, new
                {
                   @class = "custom-control-input",
                   id = "IsJustForOnlinePayment",
                   name = "IsJustForOnlinePayment"
                })
                <label class="custom-control-label" for="IsJustForOnlinePayment">@Html.DisplayNameFor(model => model.Discount.IsJustForOnlinePayment)</label>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Discount.IsJustForTransportation, new { @Value = 0 })
    @Html.HiddenFor(model => model.Discount.NumberOfUsed, new { @Value = 0 })
    @Html.HiddenFor(model => model.Discount.HasExpired, new { @Value = false })

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

}
@section Scripts
{
    <script>
        $(function () {
            $(document).on("keyup", 'input[name="Prefix"]', function () {
                $this = $(this);
                var value = $this.val();
                if ($this.val().length > 3)
                    $this.val(value.substring(0, 3));
            });
        });
    </script>
}