﻿@model IEnumerable<Mega.Garage.Persistence.Order.Entities.Discount>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}
    <div class="theader add">
        <section class="content-header" style="display: block">
            <h1>لیست تخفیف ها</h1>

        <div class="create-btn btn btn-success" data-toggle="modal"
             data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Discount")', 'ایجاد کد تخفیف جدید')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            کد تخفیف جدید
        </div>
        <div class="create-btn btn btn-success" data-toggle="modal"
             data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("BulkInsert","Discount")', 'تولید کد تخفیف')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            درج گروهی کد تخفیف
        </div>

    </section>
</div>
<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-4 form-group">
                                <label>از تاریخ</label>
                                <input type="text" class="form-control persian-date" name="FromDate" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>تا تاریخ</label>
                                <input type="text" class="form-control persian-date" name="ToDate" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>کوپن تخفیف</label>
                                <input type="text" class="form-control" name="Code" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>&nbsp;
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="content">

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FromDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaximumAmountLimit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsForMobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsForWeb)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsJustForOnlinePayment)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td>
                            @Html.DisplayForDate(item.FromDate)
                        </td>
                        <td>
                            @Html.DisplayForDate(item.ToDate)
                        </td>
                        <td>
                            @item.MaximumAmountLimit
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsForWeb)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsForMobile)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsJustForOnlinePayment)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Discount", new { id = @item.Id })' , 'ویرایش نوع کمپین')">
                                <i class='fa fa-edit'></i>
                            </span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Discount", new { id = @item.Id })' , 'حذف نوع کمپین')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);

        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>