﻿@model Mega.Garage.Persistence.Order.Entities.Discount

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Title)</label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Code)</label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.FromDate)</label>
            @Html.EditorPersianDatePicker(model => model.FromDate)
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.ToDate)</label>
            @Html.EditorPersianDatePicker(model => model.ToDate)
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Percent)</label>
            @Html.EditorFor(model => model.Percent, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.AmountPrice)</label>
            @Html.EditorFor(model => model.AmountPrice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.NumberOfUsageLimit)</label>
            @Html.EditorFor(model => model.NumberOfUsageLimit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.MaximumAmountLimit)</label>
            @Html.EditorFor(model => model.MaximumAmountLimit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.MinimumBasketSize)</label>
            @Html.EditorFor(model => model.MinimumBasketSize, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsForWeb, new
                {
                   @class = "custom-control-input",
                   id = "IsForWeb",
                   name = "IsForWeb"
                })
                <label class="custom-control-label" for="IsForWeb">@Html.DisplayNameFor(model => model.IsForWeb)</label>
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsForMobile, new
                {
                   @class = "custom-control-input",
                   id = "IsForMobile",
                   name = "IsForMobile"
                })
                <label class="custom-control-label" for="IsForMobile">@Html.DisplayNameFor(model => model.IsForMobile)</label>
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsJustForOnlinePayment, new
                {
                   @class = "custom-control-input",
                   id = "IsJustForOnlinePayment",
                   name = "IsJustForOnlinePayment"
                })
                <label class="custom-control-label" for="IsJustForOnlinePayment">@Html.DisplayNameFor(model => model.IsJustForOnlinePayment)</label>
            </div>
        </div>
    </div>



    @Html.HiddenFor(model => model.IsJustForTransportation, new { @Value = 0 })
    @Html.HiddenFor(model => model.NumberOfUsed, new { @Value = 0 })
    @Html.HiddenFor(model => model.HasExpired, new { @Value = false })

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

}