	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/12/2019 18:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 16px;
	font-style: normal;
}

.flaticon-telegram:before { content: "\f100"; }
.flaticon-linkedin-letters:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-youtube-logotype:before { content: "\f103"; }
.flaticon-instagram:before { content: "\f104"; }
.flaticon-facebook-logo:before { content: "\f105"; }