﻿@model Mega.Garage.Persistence.OnSite.Entities.ProductGroup
@{
    Layout = "~/Views/Shared/_List.cshtml";
    List<Mega.Garage.Persistence.Order.Entities.Product> products = ViewBag.Products;
    List<Mega.Garage.Persistence.OnSite.Entities.ProductGroupProduct> productGroupProducts = ViewBag.ProductGroupProducts;
}


<section class="content">
    <div class="theader add">
        <section class="content-header pull-right">
            <h1>لیست محصولات @Model.Title</h1>
        </section>
    </div>
    <br />
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان محصول
                    </th>
                    <th style="width: 290px;">
                    </th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                    using (Html.BeginForm("Create", "ProductGroupProducts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <tr>
                            <td style="text-align: right; vertical-align: middle;">
                                @item.Code - @item.CatalogTitle
                            </td>
                            @if (productGroupProducts.Count(x => x.ProductId == item.Id) == 0)
                            {
                                <td>
                                    <div class="d-flex flex-column">
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("ShowWhenQtyFinished", new
                                            {
                                               @class = "custom-control-input",
                                               id = "custom-switch-show-when-qty-finished-" + item.Id,
                                               name = "ShowWhenQtyFinished"
                                            })
                                            <label class="custom-control-label" for="custom-switch-show-when-qty-finished-@item.Id">
                                                نمایش محصول در صورت اتمام موجودی
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="ProductId" value="@item.Id" />
                                    <input type="hidden" name="ProductGroupId" value="@Model.Id" />

                                    <button type="submit" class="btn"><i class="fa fa-check text-green"></i></button>
                                </td>
                            }
                            else
                            {
                                var productItem = productGroupProducts.Find(x => x.ProductId == item.Id);

                                <td>
                                    @Html.DisplayForBoolean(productItem.ShowWhenQtyFinished)
                                </td>
                                <td>
                                    <input type="hidden" name="ProductId" value="@item.Id" />
                                    <input type="hidden" name="CampaignId" value="@Model.Id" />

                                    <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","ProductGroupProducts", new { id = productItem.Id })' , 'حذف محصول')">
                                        <i class="fa fa-times text-red"></i>
                                    </span>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
