﻿@model Mega.Garage.Persistence.Catalog.Entities.Brand

@using (Html.BeginForm("Modify", "Brands", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Title)</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.EnglishTitle)</label>
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.LogoImagePath)</label>
                <input type="file" accept="*.jpg" name="LogoImage" class="form-control" />
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.WideImagePath)</label>
                <input type="file" accept="*.jpg" name="PictureImage" class="form-control" />
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Country)</label>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Description)</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}


