﻿@model Mega.Garage.Persistence.Dealer.Entities.TimeBox

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.TimeBoxTypeId)
            </label>
            @Html.DropDownList("TimeBoxTypeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TimeBoxTypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Title)
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Code)
            </label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Description)
            </label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}