﻿@model Mega.Garage.Persistence.Order.Entities.CampaignType

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-group col-md-12 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Title)</label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">@Html.DisplayNameFor(model => model.Code)</label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", maxlength="5" } })
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

}