﻿@model Mega.Garage.Persistence.OnSite.Entities.ProductGroup

@using (Html.BeginForm("Modify", "ProductGroups", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.EnglishTitle)
                </label>
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ThumbImagePath)
                </label>
                @Html.FileUpload(model => model.ThumbImagePath)
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ImagePath)
                </label>
                @Html.FileUpload(model => model.ImagePath)
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.LandingPageId)
                </label>
                @Html.DropDownList("LandingPageId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.SelectedCategoryId)
                </label>
                @Html.DropDownList("SelectedCategoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.ShowFullCategoryProducts, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-show-full-category-products",
                       name = "ShowFullCategoryProducts"
                    })
                    <label class="custom-control-label" for="custom-switch-show-full-category-products">
                        @Html.DisplayNameFor(model => model.ShowFullCategoryProducts)
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}