﻿@using Mega.Garage.Logic.Enums;
@model Mega.Content.Presentation.Models.View.EntryCreate


@using (Html.BeginForm("Create", "Entries", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EntryIndex.Entry.Id)
        @Html.HiddenFor(model => model.EntryIndex.Entry.VisibilityStatus)
        @Html.HiddenFor(model => model.EntryIndex.Entry.PublishStatus)
        @Html.HiddenFor(model => model.EntryIndex.Entry.CommentCount)
        @Html.HiddenFor(model => model.EntryIndex.Entry.VisitCount)
        @Html.HiddenFor(model => model.EntryIndex.Entry.Code)
        @Html.HiddenFor(model => model.EntryIndex.Entry.CreatedDate)
        @Html.HiddenFor(model => model.EntryIndex.Entry.IsActive)
        @Html.HiddenFor(model => model.EntryIndex.Entry.RowVersion)

        @Html.HiddenFor(model => model.EntryTag.Entry.Id)
        @Html.HiddenFor(model => model.EntryTag.Entry.IsActive)
        @Html.HiddenFor(model => model.EntryTag.Entry.RowVersion)

        <div class="col-lg-8 col-md-7 col-sm-7  col-xs-6 right-wrapper">
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label">عنوان  </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label"> عنوان خلاصه  </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.BriefTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.BriefTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label">گروه نوشته </label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.CategoryId, (SelectList)ViewBag.CategoryId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label">  نوع نوشته</label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.EntryTypeId, (SelectList)ViewBag.EntryTypeId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EntryTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 ">
                <div class="d-flex flex-column text-area">
                    <label for="label">متن کامل</label>
                    @Html.TextAreaFor(model => model.EntryIndex.Entry.FullText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.FullText, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label"> خلاصه نوشته</label>
                    @Html.TextAreaFor(model => model.EntryIndex.Entry.BriefDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.BriefDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label">تاریخ انتشار  </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.PublishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                    <label for="label">تاریخ انقضاء  </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.ExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.ExpirationDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer btn-wrapper">
                <button type="submit" class="btn btn-primary"> ذخیره</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6 left-wrapper">
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label"> زبان</label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.LanguageId, (SelectList)ViewBag.LanguageId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.LanguageId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">گروه اصلی</label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.EntryParentId, (SelectList)ViewBag.EntryParentId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EntryParentId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 hide">
                <div class="d-flex flex-column">
                    <label for="label">عنوان انگلیسی</label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EnglishTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 hide">
                <div class="d-flex flex-column">
                    <label for="label"> خلاصه انگلیسی نوشته  </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.EnglishBriefDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EnglishBriefDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 hide">
                <div class="d-flex flex-column">
                    <label for="label"> کد HTML </label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.HtmlCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.HtmlCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">پیوند</label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.Link, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <div class="custom-control custom-switch">
                        @Html.CheckBoxFor(model => model.EntryIndex.Entry.CommentAllowed, new
                        {
                           @class = "custom-control-input",
                           id = "custom-switch-comment-allowed",
                           name = "CommentAllowed"                           
                        })
                        @Html.ValidationMessageFor(model => model.EntryIndex.Entry.CommentAllowed, "", new { @class = "text-danger" })
                        <label class="custom-control-label" for="custom-switch-comment-allowed">مجاز به ثبت دیدگاه</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <div class="custom-control custom-switch">
                        @Html.CheckBoxFor(model => model.EntryIndex.Entry.ShowPublishDate, new
                        {
                           @class = "custom-control-input",
                           id = "custom-switch-show-publish-date",
                           name = "ShowPublishDate"
                        })
                        
                        @Html.ValidationMessageFor(model => model.EntryIndex.Entry.ShowPublishDate, "", new { @class = "text-danger" })
                        <label class="custom-control-label" for="custom-switch-show-publish-date">نمایش تاریخ انتشار</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">فهرست  </label>
                    @Html.ListBoxFor(model => model.SelectedIndex, Model.IndexSelectList,
                    new
                    {
                        @class = "SelectedIndex-multiple",
                        multiple = "multiple",
                        name = "states[]"

                    })
                    @Html.ValidationMessageFor(model => model.SelectedIndex, "", new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">برچسب  </label>
                    @Html.ListBoxFor(model => model.SelectedTag, Model.TagSelectList,
                    new
                    {
                        @class = "SelectedTag-multiple",
                        multiple = "multiple",
                        name = "states[]"
                    })
                    @Html.ValidationMessageFor(model => model.SelectedTag, "", new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">نویسنده  </label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.AuthorId, (SelectList)ViewBag.AuthorId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.AuthorId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">قابلیت مشاهده  </label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.VisibilityStatus, EnumHelper.GetSelectList(typeof(VisibilityStatus)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.VisibilityStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">وضعیت انتشار</label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.PublishStatus, EnumHelper.GetSelectList(typeof(PublishStatus)), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.PublishStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12">
                <div class="d-flex flex-column">
                    <label for="label">اسلایدر  </label>
                    @Html.DropDownListFor(model => model.EntryIndex.Entry.SliderId, (SelectList)ViewBag.SliderId, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.SliderId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.SelectedIndex-multiple').select2();
            $('.SelectedTag-multiple').select2();
        });
    </script>
}
