﻿@using Mega.Garage.Logic.Enums;
@model Mega.Garage.Persistence.Content.Entities.Entry


@using (Html.BeginForm("Create", "Entries", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EntryIndex.Entry.Id)


    foreach (var property in Model.EntryIndex.Entry.GetType().GetProperties())
    {
        if (!property.GetGetMethod().IsVirtual)
        {
            @Html.Hidden("EntryIndex.Entry." + property.Name, property.GetValue(Model.EntryIndex.Entry));
        }
    }

    foreach (var property in Model.EntryTag.Entry.GetType().GetProperties())
    {
        if (!property.GetGetMethod().IsVirtual)
        {
            @Html.Hidden("EntryTag.Entry." + property.Name, property.GetValue(Model.EntryTag.Entry));
        }
    }
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label"> زبان</label>
            @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.LanguageId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">  نوع نوشته</label>
            @Html.DropDownList("EntryTypeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EntryTypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">گروه اصلی</label>
            @Html.DropDownList("EntryParentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EntryParentId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">گروه نوشته </label>
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">عنوان  </label>
            @Html.EditorFor(model => model.EntryIndex.Entry.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label"> عنوان خلاصه  </label>
            @Html.EditorFor(model => model.EntryIndex.Entry.BriefTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.BriefTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">عنوان انگلیسی</label>
            @Html.EditorFor(model => model.EntryIndex.Entry.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EnglishTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label"> خلاصه نوشته</label>
            @Html.EditorFor(model => model.EntryIndex.Entry.BriefDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.BriefDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label"> خلاصه انگلیسی نوشته  </label>
            @Html.EditorFor(model => model.EntryIndex.Entry.EnglishBriefDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.EnglishBriefDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">متن کامل</label>
            @Html.EditorFor(model => model.EntryIndex.Entry.FullText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.FullText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label"> کد HTML </label>
            @Html.EditorFor(model => model.EntryIndex.Entry.HtmlCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.HtmlCode, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">پیوند</label>
            @Html.EditorFor(model => model.EntryIndex.Entry.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryIndex.Entry.Link, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="checkbox">
                <label for="label">مجاز به ثبت دیدگاه</label>
                @Html.EditorFor(model => model.EntryIndex.Entry.CommentAllowed)
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.CommentAllowed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <div class="checkbox">
                    <label for="label">نمایش تاریخ انتشار</label>
                    @Html.EditorFor(model => model.EntryIndex.Entry.ShowPublishDate)
                    @Html.ValidationMessageFor(model => model.EntryIndex.Entry.ShowPublishDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">فهرست  </label>
                @Html.ListBoxFor(model => model.SelectedIndex, Model.IndexSelectList, new
                {
                    @class = "chzn-select form-control",
                    multiple = "multiple"
                })
                @Html.ValidationMessageFor(model => model.SelectedIndex, "", new { @class = "text-warning" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">برچسب  </label>
                @Html.ListBoxFor(model => model.SelectedTag, Model.TagSelectList, new
                {
                    @class = "chzn-select form-control",
                    multiple = "multiple"
                })
                @Html.ValidationMessageFor(model => model.SelectedTag, "", new { @class = "text-warning" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">نویسنده  </label>
                @Html.DropDownList("AuthorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.AuthorId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">قابلیت مشاهده  </label>
                @Html.DropDownList("VisibilityStatus", EnumHelper.GetSelectList(typeof(VisibilityStatus)), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.VisibilityStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">وضعیت انتشار</label>
                @Html.DropDownList("PublishStatus", EnumHelper.GetSelectList(typeof(PublishStatus)), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.PublishStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">اسلایدر  </label>
                @Html.DropDownList("SliderId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.SliderId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">تاریخ انتشار  </label>
                @Html.EditorFor(model => model.EntryIndex.Entry.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.PublishDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">تاریخ انقضاء  </label>
                @Html.EditorFor(model => model.EntryIndex.Entry.ExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryIndex.Entry.ExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
