﻿@using Mega.Garage.Logic.Enums
@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Entry>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Entries")', 'ایجاد نوشته')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            نوشته جدید
        </div>
        <h1>
            نوشته ها
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        گروه
                    </th>
                    <th>
                        نوع
                    </th>

                    <th>
                        تاریخ انتشار
                    </th>
                    <th>
                        تاریخ انقضاء
                    </th>
                    <th>
                        نویسنده
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var visibilityStatus = Enum.GetName(typeof(VisibilityStatus), item.VisibilityStatus);
                    var publishStatus = Enum.GetName(typeof(PublishStatus), item.PublishStatus);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryType.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpirationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author.Title)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "Entries", new { id = @item.Id })', 'ویرایش نوشته')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "Entries", new { id = @item.Id })', 'حذف نوشته')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

