﻿@model Mega.Garage.Persistence.Order.Entities.Invoice

@{
    var orderItemList = (List<Mega.Garage.Persistence.Order.Entities.OrderItem>)ViewBag.OrderItems;
    var products = (List<Mega.Garage.Persistence.Order.Entities.Product>)ViewBag.Products;
}

@section Header {
    <style type="text/css">
        h4 {
            font-size: 22px;
            font-weight: bold;
        }

        .product-details .price span {
            font-size: 20px !important;
        }

        .form-control {
            font-size: unset !important;
        }

        .base-price {
            color: red;
            text-decoration: line-through;
        }

        .unit-price {
            color: green;
            font-weight: bold
        }

        .item {
            background-color: white;
            padding: 15px;
            border-radius: 7px;
            margin-bottom: 20px !important;
        }

        .imgItem {
            width: 220px;
        }
    </style>
}

<div class="hero-wrap hero-bread" style="background-image: url('/theme/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        @Html.Partial("_Messages")

        <div class="alert alert-warning" role="alert">
            <strong>در صورت نیاز می توانید، بسته محصولات را از اتوسرویس گرفته و نیازی به تعویض اجباری نیست.</strong>
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>بسته تحویل گرفته از اتو سرویس را حتما بررسی کنید تا روغن دریافتی به صورت پلمپ باشد.</strong>
        </div>
        <a href="/reviewOrder/print/@Model.OrderNumber" class="btn btn-success" target="_blank">نسخه چاپی</a>
        <br />
        <br />
        <div class="">
            <div class="row">
                <div class="col-lg-3 mb-5 ftco-animate" style="margin-bottom: 0 !important;">
                    <a href="/reviewOrder/QrCode/@(Model.OrderNumber +"_" + Model.TotalAmount.Value + "_" + Model.TotalDiscount + "_" + Model.FinalPrice)" class="image-popup">
                        <img src="/reviewOrder/QrCode/@(Model.OrderNumber +"_" + Model.TotalAmount.Value + "_" + Model.TotalDiscount + "_" + Model.FinalPrice)" class="img-fluid" alt="Colorlib Template">
                    </a>
                </div>
                <div class="col-lg-9 product-details pl-md-5 ftco-animate">
                    <h4>شماره سفارش: @Model.OrderNumber</h4>
                    <p class="price">
                        <div>
                            نوع پرداخت: @Model.PaymentType.Title
                        </div>
                        @if (Model.PaymentTypeId == 2) { 
                        <div>
                            وضعیت پرداخت : @(Model.IsPayed.GetValueOrDefault() ?"پرداخت شده":"پرداخت نشده")
                        </div>
                        }
                        <div>
                            وضعیت سفارش: @Model.InvoiceProcess.Title
                        </div>
                        <div>
                            مبلغ سفارش: @Model.TotalAmount.Value.ToString("N0") ریال
                        </div>
                        @if (Model.TotalDiscount.HasValue)
                        {
                            <div class="text-success">
                                تخفیف: @Model.TotalDiscount.Value.ToString("N0") ریال
                            </div>
                        }

                        <div class="unit-price" style="margin-top: 5px;">
                            <strong>قیمت نهایی: @Model.FinalPrice.Value.ToString("N0") ریال</strong>
                        </div>
                    </p>

                    @if (ViewBag.Dealer != null)
                    {
                        <div class="alert alert-info" role="alert">
                            <div>
                                <strong>اتوسرویس خدمت دهنده: </strong>
                                @ViewBag.Dealer.Title
                            </div>
                            <div>
                                <strong>آدرس: </strong>
                                @ViewBag.Dealer.Address
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <br />
        <br />
        <h5>لیست محصولات: </h5>
        @foreach (var item in orderItemList)
        {
            var product = products.FirstOrDefault(productItem => productItem.Id == item.ProductId);
            if (product != null)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-lg-3 mb-5 ftco-animate" style="margin-bottom: 0 !important;">
                            @{ var img = Mega.Garage.Logic.FileUpload.Services.UploadService.GetCDNFilePath(product.ColorImage); }
                            <a href="@img" class="image-popup"><img src="@img" class="imgItem" /></a>
                        </div>
                        <div class="col-lg-9 product-details pl-md-5 ftco-animate">
                            <h4>@product.CatalogTitle</h4>
                            <p class="price">
                                <div class="base-price">
                                    قیمت واحد: @product.BasePrice.Value.ToString("N0") ریال
                                </div>
                                <div class="unit-price">
                                    قیمت برای شما: @product.UnitPrice.Value.ToString("N0") ریال
                                </div>
                                <div style="margin-top: 5px;">
                                    <strong>کد سفارش: @item.OrderDetailNumber</strong>
                                </div>
                            </p>
                            <p>
                                @product.CatalogDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="row marg-t-35">
            <div class="col">
                @Html.Partial("_DealerList");
            </div>
        </div>
    </div>
</section>