﻿@model List<Mega.Garage.Logic.Order.ViewModel.CartViewModel>
@{
    ViewBag.Title = "بازبینی سفارش";
    var products = (List<Mega.Garage.Persistence.Order.Entities.Product>)ViewBag.Products;
    var dealers = (List<Mega.Garage.Persistence.Dealer.Entities.Dealer>)ViewBag.Dealers;
    Mega.Garage.Persistence.OnSite.Entities.ProductGroup productGroup = ViewBag.ProductGroup;
}
@section Header {
    <style type="text/css">
        h4 {
            font-size: 22px;
            font-weight: bold;
        }

        .product-details .price span {
            font-size: 20px !important;
        }

        .form-control {
            font-size: unset !important;
        }

        .base-price {
            color: red;
            text-decoration: line-through;
        }

        .unit-price {
            color: green;
            font-weight: bold
        }

        .item {
            background-color: white;
            padding: 15px;
            border-radius: 7px;
            margin-bottom: 20px !important;
        }

        .imgItem {
            width: 220px;
        }

        .dealer-item {
            display: flex;
            align-items: center;
            background: white;
            padding: 5px;
            border-radius: 5px;
            margin-top: 5px;
            border-right: solid 5px #ffc300;
            height: 90%;
        }

        .payment-type {
            display: flex;
            align-items: center;
        }

        .img-payment {
            width: 45px;
            margin: 5px 10px;
        }
    </style>
}

<div class="hero-wrap hero-bread" style="background-image: url('/theme/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        @Html.Partial("_Messages")

        @foreach (var item in Model)
        {
            var product = products.FirstOrDefault(productItem => productItem.Id == item.ProductId);
            if (product != null)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-lg-3 mb-5 ftco-animate" style=" margin-bottom: 0 !important;">

                            <a href="@Mega.Garage.Logic.FileUpload.Services.UploadService.GetCDNFilePath(product.ColorImage)" class="image-popup">
                                @Html.ImagePreview(p => product.ColorImage, "imgItem")
                            </a>
                        </div>
                        <div class="col-lg-9 product-details pl-md-5 ftco-animate">
                            <h4>@product.CatalogTitle</h4>
                            <p class="price">
                                <div class="base-price">
                                    قیمت واحد: @product.BasePrice.Value.ToString("N0") ریال
                                </div>
                                <div class="unit-price">
                                    قیمت برای شما: @product.UnitPrice.Value.ToString("N0") ریال
                                </div>
                                <div>
                                    تعداد: @item.Count عدد
                                </div>
                                <div>
                                    قیمت کل
                                    <span>@((product.UnitPrice.Value * item.Count).ToString("N0")) ریال</span>
                                </div>
                            </p>
                            <p>
                                @product.CatalogDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @using (Html.BeginForm("index", "reviewOrder", FormMethod.Post))
    {
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 cart-wrap ftco-animate">
                    <div class="cart-total">
                        <div>
                            <label for="txtFirstName">
                                نام:
                            </label>
                            <input id="txtFirstName" type="text" class="form-control" name="FirstName" value="@(ViewBag.Customer?.FirstName)" @(ViewBag.Customer != null ? "readonly" : "") />

                            <label for="txtFirstName">
                                نام خانوادگی:
                            </label>
                            <input id="txtLastName" type="text" class="form-control" name="LastName" value="@(ViewBag.Customer?.LastName)" @(ViewBag.Customer != null ? "readonly" : "") />

                            <label for="txtMobileNumber">
                                تلفن همراه:
                            </label>
                            <input id="txtMobileNumber" type="tel" class="form-control" value="@(Mega.Garage.Common.Cryptography.Decrypt(Mega.Garage.Common.Cookie.ReadCookie("AUTH")))" name="Mobile" readonly />

                            <label for="cmbCarGroup">
                                گروه خودرو <sub>(اختیاری)</sub>:
                            </label>
                            <select id="cmbCarGroup" class="form-control" name="CarGroup">
                                <option value="">..:: انتخاب کنید ::..</option>
                                @for (int i = 0; i < ViewBag.CarGroup.Count; i++)
                                {
                                    <option value="@(ViewBag.CarGroup[i].Code)" @(ViewBag.Customer?.CarGroupCode == ViewBag.CarGroup[i].Code ? "selected" : "")>@(ViewBag.CarGroup[i].Title)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h5>شیوه پرداخت</h5>
                        @*<div>
                            <label class="payment-type">
                                <input type="radio" name="Payment" value="1" />
                                <img class="img-payment" src="/theme/images/cash-pay.png" />
                                <span>پرداخت در محل</span>
                            </label>
                        </div>*@
                        <div>
                            <label class="payment-type">
                                <input type="radio" name="Payment" value="2" checked />
                                <img class="img-payment" src="/theme/images/online-pay.png" />
                                <span>پرداخت آنلاین</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            @if (Mega.Garage.Logic.General.Services.SettingsService.IsMandatoryDealer())
            {
                <h5 style="margin-top: 25px;">اتو سرویس مورد نظر جهت دریافت خدمت را انتخاب کنید:</h5>
                <div class="row">
                    @foreach (var item in dealers)
                    {
                        <div class="col-6">
                            <label class="dealer-item">
                                <span>
                                    <input type="radio" name="Dealer" value="@item.Id" />
                                </span>
                                <span style="display: inline-block; margin-right: 10px;">
                                    <strong>@item.Title</strong>
                                    <br />
                                    @item.Address
                                </span>
                            </label>
                        </div>
                    }
                </div>
            }

            <h5 style="margin-top: 25px;">اطلاعات نهایی:</h5>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>مشخصات سفارش</h3>
                        <p class="d-flex">
                            <span>مبلغ کل: </span>
                            <span>@ViewBag.Price.ToString("N0") ریال</span>
                        </p>
                        <p class="d-flex text-success">
                            <span>تخفیف: </span>
                            <span>@(ViewBag.Discount?.ToString("N0") ?? "0") ریال</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>مبلغ قابل پرداخت</span>
                            <span>@((ViewBag.Price - (ViewBag.Discount ?? 0)).ToString("N0")) ریال</span>
                        </p>
                        <span class="text-secondary">با احتساب 9% مالیات بر ارزش افزوده</span>
                    </div>
                    <p class="text-center"><button class="btn btn-primary py-3 px-4">تایید و ثبت نهایی</button></p>
                </div>

                <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 col12 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <div>
                            <div class="alert alert-warning" role="alert">
                                <strong>در صورت نیاز می توانید، بسته محصولات را از اتوسرویس گرفته و نیازی به تعویض اجباری نیست.</strong>
                            </div>
                            <div class="alert alert-warning" role="alert">
                                <strong>بسته تحویل گرفته از اتو سرویس را حتما بررسی کنید تا روغن دریافتی به صورت پلمپ باشد.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col cart-wrap justify-content-start ftco-animate">
                @Html.Partial("_DealerList")
            </div>

        </div>
    }
</section>


