﻿@model Mega.Garage.Persistence.Payment.Entities.UserPayment



<section class="ftco-section">
    <div class="container">
        <h2>در حال انتقال به صفحه بانک</h2>
        <form id="bankForm" action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" method="post">
            <input type="hidden" name="RefId" value="@Model.ReferalCode" />
        </form>
    </div>
</section>

@section Scripts {
    @if (Model != null)
    {
        <script>
            $(function () {
                $('#bankForm').submit();
            })
        </script>
    }
}