﻿@using Mega.Garage.Common
@{
    Layout = null;
}
@model Mega.Garage.Persistence.Order.Entities.Invoice
@{
    var OrderDetail = (Mega.Garage.Persistence.Order.Entities.Invoice)ViewBag.InvoiceDetail;
    var orderItemList = (List<Mega.Garage.Persistence.Order.Entities.OrderItem>)ViewBag.OrderItems;
    var products = (List<Mega.Garage.Persistence.Order.Entities.Product>)ViewBag.Products;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    <link rel="stylesheet" href="/theme/css/fonts.css">

    <style type="text/css">
        *{margin:0;padding:0;box-sizing:border-box;font-family:iranyekan;font-size:12px;}
        body{direction:rtl;text-align:right;}
        .container{width:80%;max-width:1280px;margin:0 auto;}
        .table{width:100%;}
        .imgItem{float:right;width:120px;height:120px;margin:10px;}
        .header{border:1px solid #999;width:100%;}
        .table>tbody>tr>td{line-height:25px;border-bottom:1px solid #e3e3e3;}
        .table>tbody>tr:last-child>td{border-bottom:medium none;}
        @@media print {
           @@page { margin: 0; }
            .container{
                width:100%;
                padding:1cm;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        @Html.Partial("_Messages")
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <table class="header">
                            <tr>
                                <td style="width:380px;">
                                    <img class="imgItem" src="/reviewOrder/QrCode/@(Model.OrderNumber + "_" + Model.TotalAmount.Value + "_" + Model.TotalDiscount + "_" + Model.FinalPrice)">

                                    <div style="margin:12px 10px 0 0;">شماره فاکتور :<b> @OrderDetail.OrderNumber.ToPersianNumber()</b></div>
                                    <div style="margin:10px 10px 0 0;">تاریخ فاکتور :<b>@(Mega.Garage.Common.DateUtility.GetPersianDate(OrderDetail.InvoiceDate).ToPersianNumber())</b></div>
                                    <div style="margin:10px 10px 0 0;">خریدار :<b> @OrderDetail.Customers.FirstName @OrderDetail.Customers.LastName</b></div>
                                    <div style="margin:10px 10px 0 0;">مجموع مبلغ خرید :<b> @OrderDetail.FinalPrice.Value.ToString("#,#").ToPersianNumber() ریال</b></div>
                                </td>
                                <td><img style="float:left;height:120px;padding:10px;" src="~/theme/images/logo_speedy.png" /></td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in orderItemList)
                {
                    var product = products.FirstOrDefault(productItem => productItem.Id == item.ProductId);
                    if (product != null)
                    {
                        <tr>
                            <td>
                                <h4 style="margin-top:15px;line-height:30px;font-size:15px;">@product.CatalogTitle</h4>
                                <p>
                                    شماره سفارش: <b>@item.OrderDetailNumber.ToPersianNumber()</b>
                                </p>
                                <p>
                                    قیمت واحد: @product.BasePrice.Value.ToString("N0").ToPersianNumber() ریال
                                </p>
                                <p>
                                    قیمت برای شما: @product.UnitPrice.Value.ToString("N0").ToPersianNumber() ریال
                                </p>
                                
                            </td>
                        </tr>
                    }
                }
              
            </tbody>
            <tfoot>
                <tr>
                    <td style="border-top:2px solid #999">
                        <div style="text-align:center;margin:10px 0;font-size:12px;">
                        محصولی از پرتال جامع خودروی کشور - IraneCar.Com
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="/theme/js/main.js"></script>
    <script>
        $(document).ready(function () {
            window.print();
        })
    </script>
</body>
</html>
