﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Position>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Positions")', 'ایجاد موقعیت')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            افزودن موقعیت جدید
        </div>
        <h1>
            موقعیت ها
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان موقعیت
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Positions",new { id = @item.Id })' , 'ویرایش موقعیت')">
                                <i class='fa fa-edit'></i>
                            </span>
                           
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Positions",new { id = @item.Id })' , 'حذف موقعیت')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
      
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>
