﻿@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("../fonts/iransans/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/iransans/ttf/IRANSansWeb(FaNum).ttf") format("truetype"); }

::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 8px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #999; }

html, body {
  font-size: 0.8rem;
  font-family: IRANSans;
  position: relative; }
  html .alert-wrapper, body .alert-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1031;
    /*width:100%;
        height:100%;
        background-color:rgba(0,0,0,.2);
        left:0;
        top:0;
        padding:30px 15px;*/ }
    html .alert-wrapper .alert, body .alert-wrapper .alert {
      direction: rtl;
      text-align: right;
      width: auto; }

* {
  font-family: IRANSans; }

.content-wrapper section.content {
  direction: rtl;
  text-align: center; }

.modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  color: #000000; }
  .modal .modal-header .close {
    padding: 0 !important;
    margin: 0 !important; }

.modal .modal-content {
  direction: rtl;
  text-align: right; }
  .modal .modal-content .modal-body .form-group {
    width: 100%;
    float: right; }
  .modal .modal-content .modal-body .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: right; }
    .modal .modal-content .modal-body .form-wrapper .right-wrapper {
      padding: 0; }
    .modal .modal-content .modal-body .form-wrapper .left-wrapper {
      background-color: #f2f2f2;
      padding: 15px 0;
      border-radius: 4px; }
    .modal .modal-content .modal-body .form-wrapper .text-area textarea {
      min-height: 100px; }
  .modal .modal-content .modal-body .form-detail > .form-group {
    display: flex;
    flex-wrap: wrap;
    display: flex; }
    .modal .modal-content .modal-body .form-detail > .form-group .form-group {
      display: flex;
      margin: 2px;
      padding: 5px;
      background-color: #eee;
      align-items: center;
      justify-content: center;
      color: #777;
      font-size: .9rem; }
  .modal .modal-content .modal-body .modal-footer {
    border-top: none; }
  .modal .modal-content .btn-wrapper button {
    margin: 0 5px; }

.search {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }
  .search button {
    margin-right: 10px; }

.card-btn {
  cursor: pointer;
  margin-left: 5px; }
  .card-btn:last-child {
    margin: 0; }

.ellipsis-loader {
  animation: 1.8s infinite ellipsis-loader;
  display: block;
  height: 8px;
  overflow: hidden;
  position: relative;
  width: 140px;
  padding: 15px 0;
  margin: 0 auto; }

.ellipsis-loader__dot {
  animation: 1.8s infinite ellipsis-loader__dot;
  background: #000;
  border-radius: 50%;
  float: left;
  height: 8px;
  position: absolute;
  width: 8px; }
  .ellipsis-loader__dot:nth-child(1) {
    animation-delay: 0.15s;
    left: -13px; }
  .ellipsis-loader__dot:nth-child(2) {
    animation-delay: 0.3s;
    left: -26px; }
  .ellipsis-loader__dot:nth-child(3) {
    animation-delay: 0.45s;
    left: -39px; }
  .ellipsis-loader__dot:nth-child(4) {
    animation-delay: 0.6s;
    left: -52px; }

@keyframes ellipsis-loader {
  0%, 25% {
    transform: translateX(0); }
  100% {
    transform: translate(20px); } }

@keyframes ellipsis-loader__dot {
  0% {
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateX(0); }
  55% {
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 1;
    transform: translateX(98px); }
  75%, 100% {
    transform: translateX(212px); }
  90% {
    opacity: 0.2; } }
