﻿@model List<Mega.Garage.Logic.Order.ViewModel.CartViewModel>
@{
    var products = (List<Mega.Garage.Persistence.Order.Entities.Product>)ViewBag.Products;
}

@section Header {
    <style type="text/css">
        h4 {
            font-size: 22px;
            font-weight: bold;
        }

        #coupon_box {
            position: absolute;
            top: -200px;
        }

        @@media (min-width: 1190px) {
            .cart-list {
                overflow-x: hidden !important;
            }
        }
    </style>
}

<div class="hero-wrap hero-bread cart" style="background-image: url('/theme/images/bg_7.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">سبد خرید</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">فروش اینترنتی محصولات اسپیدی</a></span></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    @if (Model.Count > 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>محصول</th>
                                    <th>قیمت</th>
                                    <th>تعداد</th>
                                    <th>جمع قیمت</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var product = products.FirstOrDefault(productItem => productItem.Id == item.ProductId);
                                    if (product != null)
                                    {
                                        <tr id="row_@item.ProductId" data-basePrice="@product.UnitPrice" class="text-center">

                                            <td class="image-prod" style="max-width: 100px;">
                                                @Html.ImagePreview(Model => product.ColorImage, "imgItem")
                                            </td>

                                            <td class="product-name">
                                                <h2>@product.CatalogTitle</h2>
                                                <h3>@product.CatalogDescription</h3>
                                            </td>

                                            <td class="price">@product.UnitPrice.Value.ToString("N0") ریال</td>

                                            <td class="quantity">
                                                <div class="input-group mb-3">

                                                    <span class="input-group-btn mr-2">
                                                        <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                                            <i class="ion-ios-add"></i>
                                                        </button>
                                                    </span>
                                                    <input type="tel" class="form-control input-number number-only" min="1" max="100" maxlength="2" name="count" onchange="changeCount(this, '@item.ProductId','@product.UnitPrice')" value="@item.Count">
                                                    <span class="input-group-btn ml-2">
                                                        <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                                            <i class="ion-ios-remove"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>

                                            <td id="prod_@product.Id" class="total">@((product.UnitPrice.Value * item.Count).ToString("N0")) ریال</td>

                                            <td class="product-remove"><a href="#" data-toggle="modal" onclick="selectedProduct=@item.ProductId;" data-target="#ModalCenter"><span class="ion-ios-close"></span></a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="position: relative;">
                <div id="coupon_box"></div>
                <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 cart-wrap ftco-animate" style="margin-top: 5px">
                    <div class="cart-total">
                        @using (Html.BeginForm("CheckDiscount", "Cart"))
                        {
                            <h3 class="font-weight-bold">کد تخفیف</h3>
                            <span class="text-secondary">در صورت داشتن کد تخفیف آن را در کادر زیر وارد کنید</span>
                            <input type="hidden" name="price" value="@ViewBag.Price" />
                            if (!Mega.Garage.Common.Cookie.IsCookieSet("Discount"))
                            {
                                <input id="txtDiscountCode" class="form-control" name="discountCode" value="" placeholder="کد تخفیف خود را وارد کنید" />
                                <br />
                                <p><button id="btnCheck" type="button" class="btn btn-success text-white" style="color: white !important; padding: 5px 40px; height: 40px !important">اعمال کد تخفیف</button></p>
                            }
                            else
                            {
                                <input id="txtDiscountCode" class="form-control" value="@(Mega.Garage.Common.Cryptography.Decrypt(Mega.Garage.Common.Cookie.ReadCookie("Discount")))" placeholder="کد تخفیف خود را وارد کنید" readonly />
                                <br />
                                <p><button id="btnCheck" type="button" class="btn btn-danger text-white" style="color: white !important; padding: 5px 40px; height: 40px !important">حذف کد تخفیف</button></p>
                            }
                            if (TempData["DicountCodeError"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["DicountCodeError"]
                                </div>
                            }
                        }
                    </div>
                    <input id="scrollToDealer" type="button" class="btn btn-info py-3 px-4" value="مشاهده لیست اتو سرویس ها" style="margin-top: 12px; width: 100%;" />
                </div>
                <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 cart-wrap ftco-animate" style="margin-top: 5px">

                    <div class="cart-total mb-3">
                        <h3>سبد خرید</h3>
                        <p class="d-flex">
                            <span>مبلغ کل: </span>
                            <span id="cart-price">@ViewBag.Price.ToString("N0") ریال</span>
                        </p>
                        <p class="d-flex text-success">
                            <span>تخفیف: </span>
                            <span id="cart-discount">@(ViewBag.Discount?.ToString("N0") ?? "0") ریال</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>مبلغ قابل پرداخت</span>
                            <span id="cart-final-price">@((ViewBag.Price - (ViewBag.Discount ?? 0)).ToString("N0")) ریال</span>
                        </p>
                        <span class="text-secondary">با احتساب 9% مالیات بر ارزش افزوده</span>
                    </div>
                    <p class="text-center"><a href="/revieworder" class="btn btn-primary py-3 px-4">ادامه خرید</a></p>
                </div>
            </div>
            <div class="row marg-t-35">
                <div class="col">
                    @Html.Partial("_DealerList")
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <h4 class="font-weight-bold text-center" style="margin: 50px;">
                <span class="icon-shopping_cart"></span>
                سبد خرید شما خالی است.
            </h4>

            <div class="text-center">
                <h5><a href="/">مشاهده محصولات</a></h5>
            </div>
        </div>
    }
</section>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">حذف محصول</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                آیا از حذف محصول اطمینان دارید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" onclick="removeItem()">بلی</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDiscountCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">کد تخفیف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                وارد کردن کد تخفیف اجباری است
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">باشه</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        var selectedProduct;
        function changeCount(ths, pId, price) {
            var $count = $(ths).val();
            $.post('/Cart/ChangeCount', { productId: pId, count: $count }, function (d) {
                $('#prod_' + pId).html((String(price * $count)).numberWithCommas().toIndiaDigits() + ' ریال');
                updateTotalPrice();
            });
        }

        function removeItem() {
            $('#ModalCenter').modal('hide');
            $.post('/cart/remove/', { id: selectedProduct }, function (d) {
                $('#row_' + selectedProduct).slideUp(1000, function () {
                    $(this).remove();
                    if ($('[id*="row"]').size() == 0) {
                        window.location.reload();
                    }
                    $('#bsktCount').html($('[id*="row"]').size());
                    updateTotalPrice();
                });
            });
        }

        function updateTotalPrice() {
            $.get('/cart/getCartSummary', function (response) {
                $('#cart-price').html(String(response.price).numberWithCommas().toIndiaDigits() + ' ریال');
                $('#cart-discount').html(String(response.discount).numberWithCommas().toIndiaDigits() + ' ریال');
                $('#cart-final-price').html(String((response.price - response.discount)).numberWithCommas().toIndiaDigits() + ' ریال');
            });
        }

        $(document).ready(function () {

            $(".quantity").on("change", function () {
                $(this).closest("form").submit();
            });

            $('.quantity-right-plus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($(this).closest('.quantity').find(".input-number").val());
                $(this).closest('.quantity').find(".input-number").val(quantity + 1).change();
            });

            $('.quantity-left-minus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($(this).closest('.quantity').find(".input-number").val());
                if (quantity > 0) {
                    $(this).closest('.quantity').find(".input-number").val(quantity - 1).change();
                }
            });

            $("#btnCheck").on("click", function (event) {
                event.preventDefault();

                if (!$("#txtDiscountCode").val()) {
                    $('#ModalDiscountCode').modal('show');
                    return;
                }

                $(this).closest("form").submit();
            });
            $("#scrollToDealer").click(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: ($("#dealer-list").offset().top - 80)
                }, 500);
            });
        });
    </script>

}