﻿@model IEnumerable<Mega.Garage.Persistence.Order.Entities.Campaign>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}


<div class="theader add">
    <section class="content-header">
        <h1>لیست کمپین ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify", "Campaigns")', 'ایجاد کمپین')">
            <span class="arrow-box"><i class="arrow vertical"></i><i class="arrow horizontal"></i></span>کمپین جدید
        </div>
    </section>
</div>
<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>از تاریخ</label>
                                <input type="text" class="form-control persian-date" name="startDate" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>تا تاریخ</label>
                                <input type="text" class="form-control persian-date" name="endDate" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>تایید شده</label>
                                <select class="form-control" name="isOneSite">
                                    <option value="">مهم نیست</option>
                                    <option value="1">بلی</option>
                                    <option value="0">خیر</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>فروش ویژه</label>
                                <select class="form-control" name="isSpecialGarage">
                                    <option value="">مهم نیست</option>
                                    <option value="1">بلی</option>
                                    <option value="0">خیر</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CampaignImage)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Code)</th>
                    <th>@Html.DisplayNameFor(model => model.CampaignTypeId)</th>
                    <th>@Html.DisplayNameFor(model => model.IsOnsite)</th>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                    <th>@Html.DisplayNameFor(model => model.IsConfirmed)</th>
                    <th>@Html.DisplayNameFor(model => model.IsSpecialGarage)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ImagePreview(modelItem => item.CampaignImage, 't')</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.CampaignType.Title)</td>
                        <td>@Html.DisplayForBoolean(item.IsOnsite)</td>
                        <td>@Html.DisplayForDate(item.StartDate)</td>
                        <td>@Html.DisplayForDate(item.EndDate)</td>
                        <td>@Html.DisplayForBoolean(item.IsConfirmed)</td>
                        <td>@Html.DisplayForBoolean(item.IsSpecialGarage)</td>
                        <td>
                            <a href="@Url.Action("ProductList", "Campaigns", new { Id = item.Id })"><i class="fa fa-list"></i></a>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify", "Campaigns", new { id = @item.Id })' , 'ویرایش کمپین')"><i class='fa fa-edit'></i></span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "Campaigns", new { id = @item.Id })' , 'حذف کمپین')"><i class="fa fa-trash"></i></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @{
            int PageSize = (int)ViewBag.PageSize;
            int TotalRecords = (int)ViewBag.TotalRecords;
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>
