﻿@model Mega.Garage.Persistence.Order.Entities.Campaign
<style type="text/css">
    .form-group.col-md-6.col-sm-12 {
        height: 57px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Title)
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Code)
            </label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.CampaignTypeId)
            </label>
            @Html.DropDownList("CampaignTypeId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.CampaignImage)
            </label>
            @Html.FileUpload(model => model.CampaignImage)
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.StartDate)
            </label>
            @Html.EditorPersianDatePicker(model => model.StartDate)
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.EndDate)
            </label>
            @Html.EditorPersianDatePicker(model => model.EndDate)
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsOnsite, new
                {
                   @class = "custom-control-input",
                   id = "custom-switch-is-on-site",
                   name = "IsOnsite"
                })
                <label class="custom-control-label" for="custom-switch-is-on-site">@Html.DisplayNameFor(model => model.IsOnsite)</label>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsSpecialGarage, new
                {
                   @class = "custom-control-input",
                   id = "custom-switch-is-special-Garage",
                   name = "IsSpecialGarage"
                })
                <label class="custom-control-label" for="custom-switch-is-special-Garage">@Html.DisplayNameFor(model => model.IsSpecialGarage)</label>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.WebsiteLink)
            </label>
            @Html.EditorFor(model => model.WebsiteLink, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
        <div class="d-flex flex-column text-area">
            <label for="label">
                @Html.DisplayNameFor(model => model.Description)
            </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details", Model)</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

}
