﻿@model Mega.Garage.Persistence.Order.Entities.Campaign
@{

    List<Mega.Garage.Persistence.Order.Entities.CampaignProduct> campaignProducts = ViewBag.CampaignProductList;
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header" style="direction: rtl">
        <h1>
            لیست محصولات @Model.Title
        </h1>
    </section>
</div>

@Html.Partial("_Messages")

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان محصول
                    </th>
                    <th style="width: 100px">
                        تعداد
                    </th>
                    <th style="width: 100px">
                        حداقل خرید
                    </th>
                    <th style="width: 100px">
                        حداکثر خرید
                    </th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ProductList)
                {
                    using (Html.BeginForm("ProductList", "Campaigns", FormMethod.Post))
                    {
                        <tr>
                            <td style="text-align: right; vertical-align: middle;">
                                @item.Code - @item.CatalogTitle
                            </td>
                            @if (campaignProducts.Count(x => x.ProductId == item.Id) == 0)
                            {
                                <td>
                                    <input type="text" class="form-control" name="Qty" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="MinOrderQty" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="MaxOrderQty" />
                                </td>
                                <td>
                                    <input type="hidden" name="ProductId" value="@item.Id" />
                                    <input type="hidden" name="CampaignId" value="@Model.Id" />

                                    <button type="submit" class="btn"><i class="fa fa-check text-green"></i></button>
                                </td>
                            }
                            else
                            {
                                var campaignItem = campaignProducts.Find(x => x.ProductId == item.Id);

                                <td>
                                    <input type="text" class="form-control" name="Qty" value="@campaignItem.Qty" disabled />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="MinOrderQty" value="@campaignItem.MinOrderQty" disabled />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="MaxOrderQty" value="@campaignItem.MaxOrderQty" disabled />
                                </td>
                                <td>
                                    <input type="hidden" name="ProductId" value="@item.Id" />
                                    <input type="hidden" name="CampaignId" value="@Model.Id" />


                                    <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("DeleteCampaignProduct","Campaigns", new { id = campaignItem.Id })' , 'حذف محصول')">
                                        <i class="fa fa-times text-red"></i>
                                    </span>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
