﻿@model Mega.Garage.Persistence.Content.Entities.ContentCategory

@if (ViewBag.CategoryIsInUse == true)
{
    <div class="alert alert-danger">
        گروه بندی در حال استفاده است و قابل حذف نمی باشد!
    </div>
}
else
{
    <div class="form-group submit sub-rem">
        <div>
            <p>
                آیا از حذف این مورد اطمینان دارید؟

            </p>
        </div>
        <div class="modal-footer btn-wrapper">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">بلی</button>

            }
            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        </div>
    </div>
}