﻿@model IEnumerable<Mega.Garage.Persistence.Dealer.Entities.Booking>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>رزروها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Bookings")', 'رزرو مراجعه')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            رزرو جدید
        </div>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DealerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeBoxId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Day)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DayDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerLastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsReserved)
                    </th>                   
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dealer.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeBox.Title)
                        </td>
                        <td>
                            @Html.DisplayForDate(item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DayDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsReserved)
                        </td>                        
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Bookings",new { id = @item.Id })' , 'ویرایش رزرو')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Bookings",new { id = @item.Id })' , 'حذف رزرو')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>

                    </tr>

                </tbody>
            }
        </table>
    </div>
</section>
