﻿@model Mega.Garage.Persistence.Dealer.Entities.Booking

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.DealerId)
                </label>
                @Html.DropDownList("DealerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.TimeBoxId)
                </label>
                @Html.DropDownList("TimeBoxId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Day)
                </label>
                @Html.EditorPersianDatePicker(model => model.Day)
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.DayDescription)
                </label>
                @Html.EditorFor(model => model.DayDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CustomerFirstName)
                </label>
                @Html.EditorFor(model => model.CustomerFirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CustomerLastName)
                </label>
                @Html.EditorFor(model => model.CustomerLastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Qty)
                </label>
                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsReserved, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-Is-Reserved",
                       name = "IsReserved"
                    })
                    <label class="custom-control-label" for="custom-switch-Is-Reserved">رزرو شده</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    تعداد
                </label>
                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
