﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Tag>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Tags")', 'ایجاد برچسب')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            برچسب جدید
        </div>
        <h1>
            برچسب ها
        </h1>
    </section>
</div>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        برچسب
                    </th>
                    <th>
                        برچسب انگلیسی
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnglishTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>                        
                        <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Tags",new { id = @item.Id })' , 'ویرایش برچسب')">
                            <i class='fa fa-edit'></i>
                        </span>
                        <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Tags",new { id = @item.Id })' , 'حذف برچسب')">
                            <i class="fa fa-trash"></i>
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
