﻿@model Mega.Garage.Persistence.Content.Entities.Language


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        <div class="input-line">
            <div class="form-group">
                عنوان
                <div class="flex-column">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                کدزبان
                <div class="flex-column">
                    @Html.EditorFor(model => model.LanguageCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LanguageCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                توضیحات
                <div class="flex-column">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>

}
