﻿@model List<Mega.Garage.Persistence.Dealer.Entities.DealerLogin>

@{
    List<Mega.Garage.Persistence.Dealer.Entities.Dealer> dealers = ViewBag.Dealer;
    Layout = "~/Views/Shared/_List.cshtml";
    ViewBag.Title = "لیست کاربران اتوسریس ها";
}

<div class="theader add">
    <section class="content-header align-right">
        <h1>@ViewBag.Title</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","DealerLogin")', 'کاربر جدید')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            کاربر جدید
        </div>
    </section>
</div>
<section class="content" style="min-height:unset;">
    <div class="row">
        <div class="col">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "DealerLogin", FormMethod.Get))
                    {
                        <div class="form-group col-md-4">
                            <label for="Dealer">اتوسرویس ها</label>
                            <select id="Dealer" class="form-control" name="DealerId">
                                <option value="">...</option>
                                @foreach (var item in dealers)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group pull-left">
                                    <button type="reset" class="btn btn-default margin-r-5">حذف فیلتر</button>
                                    <button type="submit" class="btn btn-info margin-r-5">جستجو</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        نمایندگی
                    </th>
                    <th>
                        نام کاربری
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => dealers.FirstOrDefault(x => x.Id == item.DealerId).Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>
                                <span class="card-btn" title="ریست کردن رمز عبور" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("ResetPassword","DealerLogin", new { id = @item.Id })' , 'ریست کردن رمز عبور')">
                                    <i class='fa fa-key'></i>
                                </span>
                                
                                <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","DealerLogin", new { id = @item.Id })' , 'ویرایش کاربر')">
                                    <i class='fa fa-edit'></i>
                                </span>

                                <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","DealerLogin", new { id = @item.Id })' , 'حذف کاربر')">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div>
        @{
            int PageSize = (int)ViewBag.PageSize;
            int TotalRecords = (int)ViewBag.TotalRecords;
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>


