﻿@model Mega.Garage.Persistence.Dealer.Entities.DealerLogin

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.HiddenFor(model => model.Token)
        @Html.HiddenFor(model => model.TokenExpireDate)
        @Html.HiddenFor(model => model.RegId)
        @Html.HiddenFor(model => model.IsLocked)
        @Html.HiddenFor(model => model.Longitude)
        @Html.HiddenFor(model => model.Latitude)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.ModifiedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.ModifiedDate)
        @if (Model.Id > 0)
        {
            @Html.HiddenFor(model => model.Password)
        }

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label>@Html.LabelFor(model => model.DealerId, "DealerId", htmlAttributes: new { @class = "control-label" })</label>
                @Html.DropDownList("DealerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.UserName)
                </label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @if (Model.Id <= 0)
        {
            <div class="form-group col-md-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="label">
                        @Html.DisplayNameFor(model => model.Password)
                    </label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                </div>
            </div>
        }

    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
