﻿@model Mega.Garage.Persistence.Content.Entities.TableRow

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TableRow</h4>
    <hr />
    <dl class="dl-horizontal">
        <label>
            @Html.DisplayNameFor(model => model.TableId)
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.TableId)
        </div>

        <label>
            تاریخ ایجاد
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <label>
            تاریخ ویرایش
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div>

        <label>
            ایجاد شده توسط
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.CreatedBy)
        </div>

        <label>
            ویرایش شده توسط
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.ModifiedBy)
        </div>

        <label>
            فعال
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.IsActive)
        </div>

        <label>
            نسخه
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.RowVersion)
        </div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
