﻿@model Mega.Garage.Persistence.Content.Entities.TableRow

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TableRow</h4>
    <hr />
    <dl class="dl-horizontal">
        <label>
            @Html.DisplayNameFor(model => model.TableId)
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.TableId)
        </div>

        <label>
            تاریخ ایجاد
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <label>
            تاریخ ویرایش
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div>

        <label>
            ایجاد شده توسط
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.CreatedBy)
        </div>

        <label>
            ویرایش شده توسط
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.ModifiedBy)
        </div>

        <label>
            فعال
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.IsActive)
        </div>

        <label>
            نسخه
        </label>

        <div class="input">
            @Html.DisplayFor(model => model.RowVersion)
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
