﻿@model Mega.Garage.Persistence.Order.Entities.Product
@{
    ViewBag.Title = Model.CatalogTitle;
    ViewBag.Description = Model.CatalogDescription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" name="hidden-product-group" id="hidden-product-group" value="@Model.Id" />
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="@Mega.Garage.Logic.FileUpload.Services.UploadService.GetCDNFilePath(Model.ColorImage)" class="image-popup">
                    @Html.ImagePreview(x => Model.ColorImage, "img-fluid")
                </a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3 class="mb-4 pb-2">@Model.CatalogTitle</h3>
                <div>
                    @Model.CatalogDescription
                </div>
                <div class="row mt-4">
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn-change btn" data-type="minus"><i class="ion-ios-remove"></i></button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn-change btn" data-type="plus"><i class="ion-ios-add"></i></button>
                        </span>
                    </div>
                    <div class="col-md-6">
                        @if (@Model.UnitPrice.HasValue)
                        {
                            <p class="price">قیمت <span>@Model.UnitPrice.Value.ToString("N0") ريال</span></p>
                        }
                        else
                        {
                            <p class="price">قیمت <span>@Model.BasePrice.Value.ToString("N0") ريال</span></p>
                        }
                    </div>
                </div>
                <p><a href="#" data-id="@Model.Id" class="btn add-to-cart btn-primary py-3 px-5 left">اضافه کردن به سبد خرید</a></p>

                <div class="clearfix"></div>
                @if (!string.IsNullOrEmpty(Model.CatalogDescription))
                {
                    <div id="accordion" class="accordion-area">
                        <div class="panel">
                            <div class="panel-header" id="headingOne">
                                <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"> نقد و بررسی تخصصی </button>
                            </div>
                            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="panel-body">
                                    @Html.Raw(Model.CatalogDescription)
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4 pb-1">آخرین  محصولات</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            @{
                MegaViewModel<Mega.Garage.Logic.OnSite.ViewModel.ProductGroupViewModel> productList = ViewBag.productList;
                foreach (var item in productList.Data.Products.Take(4).ToList())
                {
                    <div class="col-xl-3 col-md-4 col-sm-6 ftco-animate">
                        @Html.Partial("_ProductThumbnail", item)
                    </div>
                }
            }
        </div>
    </div>
</section>
<script>
    $('#quantity').change(function (e) {
        e.preventDefault();
        var $val = $(this).val();
        if (isNaN($val)) {
            $(this).val(1).focus();
        }
        else {
            if (parseInt($val) >= 1)
                $(this).val($val).focus();
            else
                $(this).val(1).focus();
        }
    })
    $('.btn-change').click(function () {
        var type = $(this).attr('data-type');
        var qu = $('#quantity');
        var quVal = parseInt(qu.val());
        switch (type) {
            case 'minus': {
                if (quVal <= 1)
                    qu.val(1).focus();
                else
                    qu.val(quVal - 1).focus();
            }
                break;
            case 'plus':
                qu.val(quVal + 1).focus();
                break;
        }
    })
</script>
