﻿@model Mega.Garage.Persistence.Content.Entities.Alert

@{
    Layout = "~/Views/Shared/_Edit.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        
        <div class="theader left">
            <h4>پیام</h4>
            <div class="card-btn">
                @Html.ActionLink("بازگشت به فهرست", "Index")
                <span class="arrow-box">
                    <i class="arrow left-half"></i>
                    <i class="arrow right-half"></i>
                    <i class="arrow horizontal"></i>
                </span>
            </div>
            <div class="descreption">
                بازگشت به فهرست
            </div>
        </div>
        <div class="box">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RowVersion)
            <div class="input-line">
                <div class="form-group">
                    عنوان
                    <div class="flex-column">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    عنوان انگلیسی
                    <div class="flex-column">
                        @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    توضیحات
                    <div class="flex-column">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    زبان
                    <div class="flex-column">
                        @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    دسته بندی
                    <div class="flex-column">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="input-line submit-box">

                <div class="form-group submit">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ذخیره" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div>@Html.Partial("_Details")</div>
        </div>
    </div>
}