﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Alert>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <span>
       پیام ها
    </span>
    <div class="card-btn">
        <span class="arrow-box">
            <i class="arrow vertical"></i>
            <i class="arrow horizontal"></i>
        </span>
        @Html.ActionLink("افزودن مورد جدید", "Create")
    </div>
    <div class="descreption">
        افزودن مورد جدید
    </div>
</div>
<table class="table light">
    <tr>
        <th>
            زبان
        </th>
        <th>
            عنوان
        </th>
        <th>
            عنوان انگلیسی
        </th>
        <th>
            توضیحات
        </th>
        <th>
            گروه
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Language.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnglishTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Title)
    </td>
    <td>
        <span class="card-btn" title="ویرایش">
            <i class='fas fa-edit'></i>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
        </span>
        <span class="card-btn" title="حذف">
            <i class="fas fa-trash-alt"></i>
            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </span>

    </td>
</tr>
    }
</table>