﻿@model Mega.Garage.Persistence.Order.Entities.Invoice

@{
    Layout = "~/Views/Shared/_List.cshtml";
    ViewBag.Title = "Details";


    List<Mega.Garage.Persistence.Order.Entities.InvoiceAdditive> invoiceAdditives = ViewBag.InvoiceAdditives;
    List<Mega.Garage.Persistence.Order.Entities.InvoiceAdditiveType> invoiceAdditiveTypes = ViewBag.InvoiceAdditiveTypes;
    List<Mega.Garage.Persistence.Order.Entities.OrderItem> orderItems = ViewBag.OrderItems;
}

<style type="text/css">
    .detail-row {
        margin: 0 10px;
    }

    .form-group {
        text-align: right;
        border: solid 1px silver;
        margin: 0;
        padding: 15px 10px;
    }
</style>
<div class="theader add">
    <section class="content-header">
        <div>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("History","Invoices", new { Id = Model.Id })', 'سوابق عملیات روی سفارش')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                مشاهده سوابق
            </div>
        </div>
        <h1>فاکتور شماره @Model.InvoiceCode</h1>
    </section>
</div>
<br />
<br />

<section class="content">
    <div style="direction: rtl;">
        <div class="detail-row row">
            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.InvoiceCode): </strong>
                @Html.DisplayFor(model => model.InvoiceCode)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.InvoiceDate): </strong>
                @Html.DisplayForDateTime(Model.InvoiceDate)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.OrderNumber): </strong>
                @Html.DisplayFor(model => model.OrderNumber)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.HasAdditive): </strong>
                @Html.DisplayForBoolean(Model.HasAdditive)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.AdditiveAmount): </strong>
                @Html.DisplayFor(model => model.AdditiveAmount)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.TotalAmount): </strong>
                @Html.DisplayFor(model => model.TotalAmount)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.TotalQty): </strong>
                @Html.DisplayFor(model => model.TotalQty)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.TotalDiscount): </strong>
                @Html.DisplayFor(model => model.TotalDiscount)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.FinalPrice): </strong>
                @Html.DisplayFor(model => model.FinalPrice)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.HasDelivery): </strong>
                @Html.DisplayForBoolean(Model.HasDelivery)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.DeliveryPrice): </strong>
                @Html.DisplayFor(model => model.DeliveryPrice)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.PaymentTypeId): </strong>
                @Html.DisplayFor(model => model.PaymentTypeId)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.IsPayed): </strong>
                @Html.DisplayForBoolean(Model.IsPayed)
            </div>

            <div class="form-group col-md-6 col-sm-12 pull-right">
                <strong>@Html.DisplayNameFor(model => model.PaymentStatus): </strong>
                @Html.DisplayFor(model => model.PaymentStatus)
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h4 class="pull-right">اقلام فاکتور</h4>

    <table class="table table-striped table-bordered table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>
                    ردیف محصول
                </th>
                <th>
                    قیمت واحد
                </th>
                <th>
                    تاریخ تحویل
                </th>
                <th>
                    شماره قلم سفارش
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orderItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayForDateTime(item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDetailNumber)
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("OrderItemsHistory","Invoices", new { Id = item.Id })', 'سوابق عملیات محصول')">
                            <span class="card-btn" title="سوابق">
                                <i class='fa fa-history'></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <br />
    <h4 class="pull-right">هزینه های اضافی فاکتور</h4>
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        مبلغ
                    </th>
                    <th>
                        تاریخ
                    </th>
                    <th>
                        ایجاد شده توسط
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in invoiceAdditives)
                {
                    <tr>
                        <td>
                            @(invoiceAdditiveTypes.Find(x => x.Id == item.InvoiceAdditiveTypeId)?.Title)
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @Html.DisplayForDateTime(item.CreatedDate)
                        </td>
                        <td>
                            @item.CreatedBy
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>
