﻿@model List<Mega.Garage.Persistence.Order.Entities.InvoiceProcessHistory>

@{
    //Layout = "~/Views/Shared/_List.cshtml";

    List<Mega.Garage.Persistence.Order.Entities.InvoiceProcess> invoiceProcesses = ViewBag.InvoiceProcesses;
}


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        وضعیت جدید
                    </th>
                    <th>
                        وضعیت قبلی
                    </th>
                    <th>
                        تاریخ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @(invoiceProcesses.Find(x => x.Id == item.NewInvoiceProcessId)?.Title)
                        </td>
                        <td>
                            @(invoiceProcesses.Find(x => x.Id == item.OldInvoiceProcessId)?.Title)
                        </td>
                        <td>
                            @Html.DisplayForDateTime(item.CreatedDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>