﻿@using Mega.Garage.Persistence.Order.Entities
@model Mega.Garage.Logic.Order.ViewModel.FullReportByCustomerViewModel

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<style type="text/css">
    #search-form label {
        width: 67px;
        justify-content: left;
    }
</style>

<div class="theader add">
    <section class="content-header pull-right">
        <h1>
            سفارشات
        </h1>
    </section>
</div>
<br />
<br />
<section class="content">
    <div style="direction: rtl;">
        <div class="card vertic">
            <div class="card bg-info text-white">
                <div class="row align-items-center">
                    <div class="col-4">مشتری:  @ViewBag.Customer.FirstName @ViewBag.Customer.LastName </div>
                    <div class="col-4">تلفن همراه: @ViewBag.Customer.Mobile </div>
                    <div class="col-4">پست الکترونیک: @ViewBag.Customer.Email </div>
                </div>
            </div>

            <div id="search-form" style="direction: rtl; margin-top: 15px">
                @using (Html.BeginForm("IndexByCustomer", "Invoices", FormMethod.Post))
                {
                    <div class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="textFromDate">از تاریخ: &nbsp;</label>
                            @Html.EditorPersianDatePicker("FromDate", (DateTime?)ViewBag.FromDate)
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="textToDate">تا تاریخ: &nbsp;</label>
                            @Html.EditorPersianDatePicker("ToDate", (DateTime?)ViewBag.ToDate)
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="textOrderNumber">شماره سفارش: &nbsp;</label>
                            <input id="textOrderNumber" type="text" name="OrderNumber" class=" form-control" value="@(ViewBag.OrderNumber)" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="textName">کدتخفیف: &nbsp;</label>
                            <input id="textDiscountCode" type="text" name="DiscountCode" class=" form-control" value="@(ViewBag.DiscountCode)" />
                        </div>
                        <input type="submit" value="جستجو" class="btn btn-default" />
                        <input type="hidden" class="lock" value="@ViewBag.CustomerId" name="CustomerId" />
                        <input id="btnResetForm" type="button" value="حذف فیلتر" class="btn btn-default" />
                        <div class="form-group mx-sm-3">
                         <button type="submit" formaction="@Url.Action("Report", "Invoices")" class="btn-success btn-lg fa fa-file-excel-o" />
                         </div>
                    </div>
                }
            </div>

            @{int i = 0;}
            @foreach (var item in Model.Invoices.OrderByDescending(x=> x.InvoiceDate))
            {
                <div class="card bg-light text-dark">
                    <div class="row align-items-center">
                        <div class="col-3 text-green text-bold">@Html.DisplayNameFor(model => item.OrderNumber): @Html.DisplayFor(modelItem => item.OrderNumber)</div>
                        <div class="col-3">@Html.DisplayNameFor(model => item.InvoiceDate): @Html.DisplayForDateTime(item.InvoiceDate) </div>
                        <div class="col-2">@Html.DisplayNameFor(model => item.FinalPrice): @item.FinalPrice.Value.ToString("N0") ریال </div>
                        <div class="col-2">@Html.DisplayNameFor(model => item.DiscountCode): @Html.DisplayFor(modelItem => item.DiscountCode) </div>
                        <div class="col-2"><button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#demo_@i">جزئیات سفارش</button></div>
                    </div>
                </div>
                <br />

                <div class="table-responsive collapse" id="demo_@i">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>محصول</th>
                                <th>قیمت</th>
                                <th>کدتخفیف</th>
                                <th>وضعیت</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var orderItem in item.OrderItems)
                            {
                                <tr>
                                    <td>
                                        @orderItem.Product.CatalogTitle
                                    </td>
                                    <td>
                                        @orderItem.BasePrice.ToString("N0") ریال
                                    </td>
                                    <td>
                                        @orderItem.DicountCode
                                    </td>
                                    <td>
                                        @orderItem.OrderStatusId
                                    </td>
                                    <td>
                                        <span class="card-btn" title="جزئیات" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("History", "Invoices", new { id = @item.Id })', 'جزئیات')">
                                            <i class="fa fa-history"></i>
                                        </span>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                i++;
            }

        </div>
    </div>
    <br />
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnResetForm").on("click", function () {
            $(this).closest("form").find("input[type=text], input[type=tel], input[type=number], input[type=hidden]:not(.lock)").val('')
            $(this).closest("form").submit()
        });
    });
</script>

