﻿@using Mega.Garage.Persistence.Order.Entities
@model Mega.Garage.Logic.Order.ViewModel.FullReportByCustomerViewModel

@{
    Layout = "~/Views/Shared/_List.cshtml";

    List<Mega.Garage.Persistence.Order.Entities.InvoiceProcess> process = ViewBag.InvoiceProcesses;
}

<style type="text/css">
    #search-form label {
        width: 67px;
        justify-content: left;
    }
</style>

<div class="theader add">
    <section class="content-header align-right">
        <h1>سفارشات</h1>
    </section>
</div>
<section class="content" style="min-height:unset;">
    <div class="row">
        <div class="col">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
                    {
                        <div class="row text-right">

                            <div class="form-group col-md-4">
                                <label for="FromDate">از تاریخ:</label>
                                @Html.EditorPersianDatePicker("FromDate", (DateTime?)ViewBag.FromDate)
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ToDate">تا تاریخ:</label>
                                @Html.EditorPersianDatePicker("ToDate", (DateTime?)ViewBag.ToDate)
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ProductGroup">نوع مشتری:</label>
                                <select id="ProductGroup" class="form-control" name="ProductGroup">
                                    <option value="" selected>...</option>
                                    <option value="1">مشتریان معمولی</option>
                                    <option value="2">مشتریان اسنپی</option>
                                </select>
                            </div>

                        </div>
                        <div class="row text-right">
                            @*<div class="form-group col-md-4">
                                    <label for="CustomerName">نام مشتری:</label>
                                    <input type="text" name="CustomerName" class="form-control" />
                                </div>*@
                            <div class="form-group col-md-4">
                                <label for="CustomerName">نام مشتری:</label>
                                <select id="cmbCustomer" class="form-control" name="CustomerId">
                                    @if (ViewBag.Customer != null)
                                    {
                                        <option value="@ViewBag.Customer.Id">@ViewBag.Customer.FirstName @ViewBag.Customer.LastName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="OrderNumber">شماره سفارش:</label>
                                <input type="text" name="OrderNumber" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="DiscountCode">کدتخفیف:</label>
                                <input type="text" name="DiscountCode" class="form-control" />
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="form-group col-md-4">
                                <label for="PaymentType">نوع پرداخت:</label>
                                <select id="PaymentType" class="form-control" name="PaymentTypeId">
                                    <option value="">...</option>
                                    @foreach (var item in ViewBag.PaymentTypes)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="PaymentStatus">وضعیت پرداخت:</label>
                                <select id="PaymentStatus" class="form-control" name="IsPayed">
                                    <option value="">...</option>
                                    <option value="true" selected>پرداخت شده</option>
                                    <option value="false">پرداخت نشده</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="CurrentProcess">وضعیت سفارش:</label>
                                <select id="CurrentProcess" class="form-control" name="CurrentProcessId">
                                    <option value="">...</option>
                                    @foreach (var item in ViewBag.InvoiceProcesses)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group pull-left">
                                    <button type="reset" class="btn btn-default margin-r-5">حذف فیلتر</button>
                                    <button type="submit" class="btn btn-info margin-r-5">جستجو</button>
                                    <button type="submit" formaction="@Url.Action("Report", "Invoices")" class="btn btn-success"><i class=" fa fa-file-excel-o"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div>

</div>

<section class="content">
    <div style="direction: rtl;">
        <div class="card vertic">

            @{int i = 0;}
            <div class="card bg-light text-dark">
                <div class="row align-items-center bg-black-active" style="height:40px;line-height:20px;margin:0;">
                    <div class="col-2 text-light-blue text-bold">نام مشتری</div>
                    <div class="col-1 text-green text-bold">کد سفارش</div>
                    <div class="col-1">تاریخ سفارش</div>
                    <div class="col-1">مبلغ پرداختی</div>
                    <div class="col-1" style="font-size:11px;">کد تخفیف</div>
                    <div class="col-1">وضعیت</div>
                    <div class="col-1">پرداخت</div>
                    <div class="col-1">پرداخت شده </div>
                    <div class="col-1">نوع مشتری</div>
                    <div class="col-1">سوابق</div>
                    <div class="col-1"></div>
                </div>
            </div>
            @foreach (var item in Model.Invoices)
            {
                <div class="card bg-light text-dark" style="border:medium none;border-bottom:1px solid #999;border-radius:0;">
                    <div class="row align-items-center">
                        <div class="col-2 text-light-blue text-bold">@item.CustomerFirstName @item.CustomerLastName</div>
                        <div class="col-1 text-green text-bold">@Html.DisplayFor(modelItem => item.OrderNumber)</div>
                        <div class="col-1">@Html.DisplayForDateTime(item.InvoiceDate) </div>
                        <div class="col-1">@item.FinalPrice.Value.ToString("N0") ریال  </div>
                        <div class="col-1">@Html.DisplayFor(modelItem => item.DiscountCode) </div>
                        <div class="col-1">@(process.FirstOrDefault(x => x.Id == item.CurrentProcessId)?.Title)</div>
                        <div class="col-1">@Html.DisplayFor(modelItem => item.PaymentType.Title) </div>
                        <div class="col-1">@Html.DisplayForBoolean(item.IsPayed) </div>
                        <div class="col-1">
                            @if (string.IsNullOrEmpty(item.ProductGroup))
                            {
                                item.ProductGroup = "مشتریان عادی ";
                            }
                            @Html.DisplayFor(modelItem => item.ProductGroup)
                        </div>
                        <div class="col-1">
                            <span class="card-btn" title="جزئیات پرداخت" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Payments", "Invoices", new { id = item.Id })', 'مشاهده سوابق')">
                                <i class="fa fa-money"></i>
                            </span>
                            <span class="card-btn" title="جزئیات" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("History", "Invoices", new { id = item.Id })', 'مشاهده سوابق')">
                                <i class="fa fa-history"></i>
                            </span>
                        </div>
                        <div class="col-1"><button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#demo_@i"><i class="fa fa-caret-down"></i></button></div>
                    </div>
                </div>
                <br />

                <div class="table-responsive collapse" style="padding:0 10px;" id="demo_@i">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>محصول</th>
                                <th>قیمت</th>
                                <th>وضعیت</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var orderItem in item.OrderItems)
                            {
                                <tr>
                                    <td>@orderItem.Product.CatalogTitle</td>
                                    <td>@orderItem.BasePrice.ToString("N0") ریال</td>
                                    <td>@orderItem.OrderProcess.Name</td>
                                    <td>
                                        <span class="card-btn" title="جزئیات" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("OrderItemsHistory", "Invoices", new { id = orderItem.Id })', 'مشاهده سوابق')">
                                            <i class="fa fa-history"></i>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                i++;
            }

        </div>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);

        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnResetForm").on("click", function () {
            $(this).closest("form").find("input[type=text], input[type=tel], input[type=number], input[type=hidden]:not(.lock)").val('')
            $(this).closest("form").submit()
        });

        $('#cmbCustomer').select2({
            ajax: {
                url: '/order/customers/searchCustomer',
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        });

    });
</script>

