﻿@model Mega.Garage.Logic.PagedList<Mega.Garage.Persistence.Order.Entities.Invoice>

@{
    Layout = "~/Views/Shared/_List.cshtml";
    ViewBag.Title = "IndexByDealer";
    List<Mega.Garage.Persistence.Order.Entities.Invoice> invoiceItem = ViewBag.invoiceItem;
}

<div class="theader add">
    <section class="content-header align-right">
        <h1>فروش اتوسرویس ها</h1>
    </section>
</div>
<section class="content" style="min-height:unset;">
    <div class="row">
        <div class="col">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("IndexByDealer", "Invoices", FormMethod.Get))
                    {
                        <div class="row text-right">

                            <div class="form-group col-md-6">
                                <label for="FromDate">از تاریخ:</label>
                                @Html.EditorPersianDatePicker("FromDate", (DateTime?)ViewBag.FromDate)
                            </div>
                            <div class="form-group col-md-6">
                                <label for="ToDate">تا تاریخ:</label>
                                @Html.EditorPersianDatePicker("ToDate", (DateTime?)ViewBag.ToDate)
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="Dealer">اتوسرویس ها</label>
                            <select id="Dealer" class="form-control" name="DealerId">
                                <option value="">...</option>
                                @foreach (var item in ViewBag.dealer)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group pull-left">
                                    <button type="reset" class="btn btn-default margin-r-5">حذف فیلتر</button>
                                    <button type="submit" class="btn btn-info margin-r-5">جستجو</button>
                                    <button type="submit" formaction="@Url.Action("IndexByDealer", "Invoices")" class="btn btn-success"><i class=" fa fa-file-excel-o"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        ردیف نمایندگی
                    </th>
                    <th>
                        نوع پرداخت
                    </th>
                    <th>
                        مبلغ کل
                    </th>
                    <th>
                        تعداد کل
                    </th>
                    <th>
                        تاریخ فاکتور
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Records != null)
                {
                    foreach (var item in Model.Records)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DealerId)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentType.Title)</td>
                    <td>@item.TotalAmount.Value.ToString("N0") ریال  </td>
                    <td>@Html.DisplayFor(modelItem => item.TotalQty)</td>
                    <td>@Mega.Garage.Common.DateUtility.GetPersianDateTime(item.InvoiceDate)</td>
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div>
        @{
            int PageSize = (int)ViewBag.PageSize;
            int TotalRecords = (int)ViewBag.TotalRecords;
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>


