﻿@model List<Mega.Garage.Persistence.Order.Entities.OrderProcessHistory>

@{
    List<Mega.Garage.Persistence.Order.Entities.OrderProcess> orderProcess = ViewBag.OrderProcess;
}


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        وضعیت
                    </th>
                    <th>
                        تاریخ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @(orderProcess.Find(x => x.Id == item.OrderProcessId)?.Name)
                        </td>
                        <td>
                            @Html.DisplayForDateTime(item.CreatedDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>