﻿@model List<Mega.Garage.Persistence.Payment.Entities.UserPayment>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        کد فروش
                    </th>
                    <th>
                        کد ارجاع
                    </th>
                    <th>
                        شماره پیگیری
                    </th>
                    <th>
                        وضعیت
                    </th>
                    <th>
                        تاریخ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.GaragesCode
                        </td>
                        <td>
                            @item.ReferalCode
                        </td>
                        <td>
                            @item.GarageReferenceId
                        </td>
                        <td>
                            @item.PaymentStatus.Title
                        </td>
                        <td>
                            @Html.DisplayForDateTime(item.PaymentDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>