﻿@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @RenderBody()*@

@model Mega.Garage.Persistence.BaseEntity<int>
@if (Model != null && Model.Id > 0)
{
    <div class="form-group" align="right">
        <div class="form-group">
            <div class="input">
                تاریخ ایجاد :
                <b>@Mega.Garage.Common.DateUtility.GetPersianDateTime(Model.CreatedDate)</b>
            </div>
        </div>
        <div class="form-group">
            <div class="input">
                تاریخ ویرایش :
                <b>@Mega.Garage.Common.DateUtility.GetPersianDateTime(Model.ModifiedDate)</b>
            </div>
        </div>
        <div class="form-group">
            <div class="input">
                ایجاد شده توسط :
                <b>@Html.DisplayUserName(Model.CreatedBy)</b>
            </div>
        </div>
        <div class="form-group">
            <div class="input">
                ویرایش شده توسط :
                <b>@Html.DisplayUserName(Model.ModifiedBy)</b>
            </div>
        </div>
        <div class="form-group">
            <div class="input">
                نسخه :
                <b>@Html.DisplayFor(model => model.RowVersion)</b>
            </div>
        </div>
        <div class="form-group checkbox-input">
            <label>
            </label>

            <div class="input">
                فعال :
                <b>@Html.DisplayForBoolean(Model.IsActive)</b>
            </div>
        </div>
    </div>
}