﻿<!DOCTYPE html>
<html lang="en" data-textdirection="rtl" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سامانه مدیریتی</title>

    <link rel="stylesheet" href="~/Assets/css/mainStyle.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/css/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assets/css/persian-datepicker.css" />
    <link rel="stylesheet" href="~/Assets/css/select2.min.css" />
    <link rel="stylesheet" href="~/Assets/css/dataTables.bootstrap.min.css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style type="text/css">
        .content-header {
            direction: rtl !important;
        }

            .content-header > .btn {
                float: left !important;
            }

        .hidden {
            display: none !important;
        }

        .select2-container--default .select2-selection--single {
            border-radius: unset !important;
        }

        .select2-container .select2-selection--single {
            height: 31px !important;
        }

        .select2-results__option {
            direction: rtl;
            text-align: right;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #d2d6de !important;
        }

        .table td, .table th {
            vertical-align: middle !important
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="hold-transition sidebar-mini skin-black-light">

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header header-wrapper">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">

        <header class="main-header">
            <a href="/" class="logo">
                <span class="logo-mini"><b>پنل</b></span>
                <span class="logo-lg"><b> پنل </b>مدیریت</span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="@Url.Action("Index","Home",new { area = ""})"><i class="fa fa-dashboard"></i> <span>داشبورد </span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fas fa-map"></i> <span>کاتالوگ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Catalogs", new { area = "catalog" })"><i class="fa fa-book"></i>فهرست کاتالوگ ها</a></li>
                            <li><a href="@Url.Action("","Categories", new { area = "catalog" })"><i class="fa fa-sitemap"></i>طبقه بندی کاتالوگ ها</a></li>
                            <li><a href="@Url.Action("","Products", new { area = "order" })"><i class="fa fa-car"></i>محصول ها</a></li>
                            <li><a href="@Url.Action("","ProductGroups", new { area = "OnSite" })"><i class="fa fa-volume-up"></i>گروه محصول</a></li>
                            @*<li><a href="@Url.Action("","CatalogCategories", new { area = "catalog" })"><i class="fa fa-square"></i>اختصاص کاتالوگ به گروه</a></li>*@
                            <li><a href="@Url.Action("","Brands", new { area = "catalog" })"><i class="fa fa-certificate"></i>برندها</a></li>
                            <li><a href="@Url.Action("","Colors", new { area = "catalog" })"><i class="fa fa-paint-brush"></i>رنگ ها</a></li>
                            <li><a href="@Url.Action("","ProductAttributeKeys", new { area = "catalog" })"><i class="fa fa-exclamation-circle"></i>مشخصه های کاتالوگ</a></li>
                            <li><a href="@Url.Action("","CatalogStatus", new { area = "catalog" })"><i class="fa fa fa-check-square"></i>وضعیت کاتالوگ ها</a></li>
                            <li><a href="@Url.Action("","CatalogTypes", new { area = "catalog" })"><i class="fa fa-id-card"></i>نوع کاتالوگ ها</a></li>
                            <li><a href="@Url.Action("","CatalogProperties", new { area = "catalog" })"><i class="fa fa-gears"></i>ویژگی کاتالوگ ها</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-credit-card"></i> <span>سفارشات</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Invoices", new { area = "order" })"><i class="fa fa-money"></i>فاکتورهای صادر شده</a></li>
                            <li><a href="@Url.Action("","Customers", new { area = "order" })"><i class="fa fa-user"></i>مشتری ها</a></li>
                            <li><a href="@Url.Action("","Campaigns", new { area = "order" })"><i class="fa fa-handshake-o"></i>کمپین</a></li>
                            <li><a href="@Url.Action("","CampaignTypes", new { area = "order" })"><i class="fa fa-volume-up"></i>نوع کمپین</a></li>
                            <li><a href="@Url.Action("","Discount", new { area = "order" })"><i class="fa fa-gift"></i>کوپن تخفیف</a></li>
                            <li><a href="@Url.Action("IndexByDealer","Invoices", new { area = "order" })"><i class="fa fa-money"></i>فروش اتو سرویس ها</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-address-book-o"></i> <span>نمایندگی</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Dealers", new { area = "dealer" })"><i class="fa fa-address-card"></i>پروفایل نمایندگی ها</a></li>
                            <li><a href="@Url.Action("","DealerInventories", new { area = "dealer" })"><i class="fa fa-volume-up"></i>موجودی نمایندگی ها</a></li>
                            <li><a href="@Url.Action("","BookingCapacities", new { area = "dealer" })"><i class="fa fa-hourglass-1"></i>ظرفیت رزرو نمایندگی ها</a></li>
                            <li><a href="@Url.Action("","DealerTransactionHistories", new { area = "dealer" })"><i class="fa fa-history"></i>تاریخچه شارژ محصولات نمایندگی ها</a></li>
                            <li><a href="@Url.Action("","Bookings", new { area = "dealer" })"><i class="fa fa fa-check-square-o"></i>رزرو مراجعات</a></li>
                            <li><a href="@Url.Action("","TimeBoxes", new { area = "dealer" })"><i class="fa fa-clock-o"></i>بازه های زمانی</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i> <span>پرداخت</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","UserPayment", new { area = "payments" })"><i class="fa fa-address-card"></i>لیست پرداخت ها</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-star"></i> <span>نظرسنجی</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","SurveyType", new { area = "polling" })"><i class="fa fa-th-large"></i>نوع نظرسنجی</a></li>
                            <li><a href="@Url.Action("","Survey", new { area = "polling" })"><i class="fa fa-th"></i>دسته بندی نظرسنجی</a></li>
                            <li><a href="@Url.Action("","Question", new { area = "polling" })"><i class="fa fa-question"></i>سوالات نظرسنجی</a></li>
                        </ul>
                    </li>

                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-briefcase"></i> <span>محتوا</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("","Entries", new { area = "content" })"><i class="fa fa-pencil"></i> <span>نوشته ها</span></a></li>
                                <li><a href="@Url.Action("","Comments", new { area = "content" })"><i class="fa fa-comment"></i> <span>دیدگاه‌ها</span></a></li>
                                <li><a href="@Url.Action("","MultimediaLibraries", new { area = "content" })"><i class="fa fa-magic"></i> <span>چندرسانه‌ای</span></a></li>
                                <li><a href="@Url.Action("","Tags", new { area = "content" })"><i class="fa fa-tags"></i> <span>برچسب ها</span></a></li>
                                <li><a href="@Url.Action("","Translations", new { area = "content" })"><i class="fa fa-globe"></i> <span>ترجمه ها</span></a></li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-briefcase"></i> <span>امکانات</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("","Languages", new { area = "content" })"><i class="fa fa-circle-o"></i>زبان ها</a></li>
                                        <li><a href="@Url.Action("","Indices", new { area = "content" })"><i class="fa fa-circle-o"></i>فهرست ها</a></li>
                                        <li><a href="@Url.Action("","Positions", new { area = "content" })"><i class="fa fa-circle-o"></i>موقعیت ها</a></li>
                                        <li><a href="@Url.Action("","Sliders", new { area = "content" })"><i class="fa fa-circle-o"></i>اسلایدر</a></li>
                                        <li><a href="@Url.Action("","Progressbars", new { area = "content" })"><i class="fa fa-circle-o"></i>نوار پیشرفت</a></li>
                                        <li><a href="@Url.Action("","Categories", new { area = "content" })"><i class="fa fa-circle-o"></i>گروه ها</a></li>
                                        <li><a href="@Url.Action("","Tables", new { area = "content" })"><i class="fa fa-circle-o"></i>جدول ها</a></li>
                                        <li><a href="@Url.Action("","Dictionaries", new { area = "content" })"><i class="fa fa-circle-o"></i>پرسش و پاسخ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gear"></i> <span>اطلاعات سایت</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Settings", new { area = "General" })"><i class="fa fa-dot-circle-o"></i> تنطیمات سفارشات</a></li>
                            <li><a href="@Url.Action("","LandingPages", new { area = "OnSite" })"><i class="fa fa-dot-circle-o"></i> صفحات هدف</a></li>
                            <li><a href="@Url.Action("","OnSite", new { area = "OnSite" })"><i class="fa fa-refresh"></i>یکپارچه سازی کلاینت</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i> <span>مدیریت کاربران</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","User", new { area = "Account" })"><i class="fa fa-user"></i> کاربران سامانه</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#" onclick="window.location = '../../Accounting/LogOut'">
                            <i class="fa fa-sign-out"></i><span>خروج از سامانه</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">

            @RenderBody()

        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                s                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    <script type="text/template" id="DeleteTemplate">
        <div class="form-group submit sub-rem">
            <div>
                <p>
                    آیا از حذف این مورد اطمینان دارید؟
                </p>
            </div>
            <div class="modal-footer btn-wrapper">
                @using (Html.BeginForm(new { @id = "DeleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">بلی</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/adminlte.min.js"></script>
    <script src="~/Scripts/persian-date.js"></script>
    <script src="~/Scripts/persian-datepicker.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/jscolor.js"></script>
    <script>
        $(document).ready(function () {
            $(".persian-date").persianDatepicker({
                inline: false,
                format: "L",
                viewMode: "day",
                initialValue: false,
                autoClose: true,
                position: "auto",
                altFormat: "lll",
                altField: "#altfieldExample",
                onlyTimePicker: false,
                onlySelectOnDate: false,
                calendarType: "persian",
                inputDelay: 800,
                observer: false,
                calendar: {
                    persian: {
                        locale: "fa",
                        showHint: true
                    }
                }
            });
        });

        function openModal(url, modalTitle, modalSize) {
            if (url.toLowerCase().indexOf('/delete') > -1) {
                $(".modal-body").remove();
                $('.modal-title').html(modalTitle);
                $('.modal-content').append("<div class='modal-body'>" + $('#DeleteTemplate').html() + "</div>");
                $('.modal-content form:eq(0)').attr('action', url);
            }
            else {
                $('.modal-body').html("<div class='ellipsis-loader'><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div><div class='ellipsis-loader__dot'></div></div>");
                $('.modal-title').html('');
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        $(".modal-body").remove();
                        $('.modal-title').html(modalTitle);
                        $('.modal-content').append("<div class='modal-body'>" + data + "</div>");
                        $('.modal-content select').css({ width: '100%' }).select2({
                            dropdownParent: $('.modal-content')
                        });
                        $('.modal-body>form').attr('onsubmit', 'formValidate(this,event)');
                    },
                    fail: function (error) {
                        console.log(error);
                    }
                });
            }
        }
        function formValidate(ths, e) {
            e.preventDefault();
            doSubmit(ths);
            return false;
        }
        function doSubmit(ths) {
            var $form = $(ths);
            var $url = $form.attr('action');
            var $enctype = $form.attr('enctype');
            var formData = new FormData();
            $(ths).find('input,select,textarea').each(function () {
                if ($(this).is('[name]')) {
                    if ($(this).prop("tagName") == 'INPUT' && ($(this).is('[type]') && $(this).attr('type').toLowerCase() == 'file')) {
                        formData.append($(this).attr('name'), $(this)[0].files[0]);
                    }
                    else {
                        formData.append($(this).attr('name'), $(this).val());
                    }
                }
            });

            $.ajax(
                {
                    url: $url,
                    method: "POST",
                    enctype: $enctype,
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    error: function (res) {
                        var $errors = JSON.parse(res.responseText).Messages;
                        var errorBox = $('.errorList');
                        if (errorBox.length == 0)
                            errorBox = $('.modal-body>form').prepend('<div class="errorList alert alert-warning" role="alert"><ul style="margin-bottom:0;"></ul></div>');

                        $('.errorList>ul').empty();
                        for (var i = 0; i < $errors.length; i++) {
                            $('.errorList>ul').append('<li style="color:#444;">' + $errors[i] + '</i>');
                        }
                    },
                    success: function () {
                        $('#exampleModalCenter').modal('hide');
                        $(ths).find('button,input[type=button]').attr("disabled", true);
                        window.location.reload();
                    },
                    always: function () {
                    }

                });
        }
        function QS(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        };
        function getAllQS() {
            var matches = window.location.search.match(/([\\?&][a-zA-Z0-9]*=([^&#]*))/g);
            if (matches) {
                for (var i = 0; i < matches.length; i++) {
                    var m = matches[i].slice(1);
                    var mKey = m.split('=');
                    if ($('[name=' + mKey[0] + ']').length != 0) {
                        if ($('[name=' + mKey[0] + ']').prop('tagName') == "SELECT") {
                            $('[name=' + mKey[0] + ']').val(decodeURIComponent(mKey[1])).trigger('change');
                        }
                        else {
                            $('[name=' + mKey[0] + ']').val(decodeURIComponent(mKey[1]));
                        }
                    }
                }
            }
        }
        $('.box-body button[type=reset]').click(function () {
            window.location = window.location.origin + window.location.pathname;
        })
        $(document).ready(function () { getAllQS(); });

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };

        String.prototype.toEnglishDigits = function () {
            var value = this;
            value = value.replaceAll('۰', '0');
            value = value.replaceAll('۱', '1');
            value = value.replaceAll('۲', '2');
            value = value.replaceAll('۳', '3');
            value = value.replaceAll('۴', '4');
            value = value.replaceAll('۵', '5');
            value = value.replaceAll('۶', '6');
            value = value.replaceAll('۷', '7');
            value = value.replaceAll('۸', '8');
            return value.replaceAll('۹', '9');
        }

    </script>
    @RenderSection("Scripts", false)
</body>
</html>