﻿@model Mega.Garage.Persistence.Content.Entities.SliderMedia


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.ShowButton)
    @Html.HiddenFor(model => model.ButtonText)
    @Html.HiddenFor(model => model.Link)
    @Html.HiddenFor(model => model.SliderId)
    @Html.HiddenFor(model => model.MultimediaLibraryId)


    <div class="theader left">
        <div class="form-group">
            <div class="flex-column">
                @Html.Label("SliderTitle", Convert.ToString((string)ViewBag.SliderTitle))
            </div>
        </div>
        <div class="card-btn">
            @Html.ActionLink("بازگشت به فهرست", "Index")
            <span class="arrow-box">
                <i class="arrow left-half"></i>
                <i class="arrow right-half"></i>
                <i class="arrow horizontal"></i>
            </span>
        </div>
        <div class="descreption">
            بازگشت به فهرست
        </div>
    </div>
    <div class="box">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-line">

            <div class="form-group">
                عنوان
                <div class="flex-column">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                متن
                <div class="flex-column">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                نمایش دکمه
                <div class="flex-column">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ShowButton)
                        @Html.ValidationMessageFor(model => model.ShowButton, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                متن دکمه
                <div class="flex-column">
                    @Html.EditorFor(model => model.ButtonText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ButtonText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                پیوند
                <div class="flex-column">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                تصویر
                <div class="flex-column">
                    @Html.ActionLink("انتخاب تصویر", "SelectSliderMedia", "SliderMedia", new { sliderId = (long)Model.SliderId }, "")
                </div>
            </div>
        </div>
        <div class="input-line submit-box">
            <div class="form-group submit">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ایجاد" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}