﻿@model Mega.Garage.Persistence.Content.Entities.SliderMedia

@{
    Layout = "~/Views/Shared/_Edit.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="theader left">
            <div class="form-group">
                <div class="flex-column">
                    @Html.Label("SliderTitle", Convert.ToString((string)ViewBag.SliderTitle))
                </div>
            </div>
            <div class="card-btn">
                @Html.ActionLink("بازگشت به فهرست", "Index")
                <span class="arrow-box">
                    <i class="arrow left-half"></i>
                    <i class="arrow right-half"></i>
                    <i class="arrow horizontal"></i>
                </span>
            </div>
            <div class="descreption">
                بازگشت به فهرست
            </div>
        </div>
        <div class="box">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RowVersion)
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        عنوان تست
                        <div class="flex-column">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group" style="margin-bottom:0">
                        نمایش دکمه
                        <div class="flex-column">
                            <label class="switch">
                                <input type="checkbox" name="ShowButton" value="@Model.ShowButton" id="" />
                                <span></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        متن دکمه
                        <div class="flex-column">
                            @Html.EditorFor(model => model.ButtonText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ButtonText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        پیوند
                        <div class="flex-column">
                            <input type="url" name="Link" value="@Model.Link" />
                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="form-group">
                        متن
                        <div class="flex-column">
                            <textarea rows="4" name="@Model.Description">@Model.Description</textarea>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <div class="form-group submit">
                        <input type="submit" value="انتخاب تصویر" class="btn btn-link" data-target="#selectImage" data-toggle="modal" />
                    </div>
                </div>
            </div>
            <div class="input-line submit-box">
                <div class="form-group submit">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ذخیره" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="set-accordion">
                <a href="#">
                    <i class="fas fa-angle-right"></i>
                </a>
                <div class="content-accordion">
                    @*<div align="right">@Html.Partial("Details")</div>*@
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="selectImage">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width:145%">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">انتخاب تصویر</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <input class="form-control" id="filter-search" placeholder="نام عکس را جستجو کنید" /><a onclick="serachImage()"><i class="fa fa-search-plus serach-icon" aria-hidden="true"></i></a> 

                      </div>
                      <div class="col-lg-5">
                          <div class="file-upload">
                              <div class="file-select">
                                  <div class="file-select-button" id="fileName">Choose File</div>
                                  <div class="file-select-name" id="noFile">No file chosen...</div>
                                  <input type="file" name="chooseFile" id="chooseFile">
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <hr />
                
                <table class="table table-striped" dir="ltr">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام عکس</th>
                            <th scope="col">حذف</th>
                            <th scope="col">انتخاب</th>
                        </tr>
                    </thead>
                    <div id="gallery">
                        @foreach (var item in Model.ImagePathList)
                        {
                            <tr>
                                <td><img data-tags="Animators, Illustrators" width="80" height="50" src="@item" alt="@Path.GetFileName(item)" /> </td>
                                <td>@Path.GetFileName(item)</td>
                                @{ 
                                        string fileName = Path.GetFileName(item);
                                 <td><a  onclick="deleteImage('@fileName')"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                  <td><a ><i class="fas fa-check"></i></a></td>
                                }
                               
                            </tr>

                        }
                        <tbody id="tbody-uploadImage">
                        </tbody>
                    </div>
                </table>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-grey" data-dismiss="modal"> انصراف</button>
                    <button class="btn btn-success" id="insert-slider">ثبت</button>
                </div>
            </div>
        </div>
    </div>
}
