﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.SliderMedia>

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create", "SliderMedia", new { sliderId = ViewBag.SliderId })', 'اسلاید جدید')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            اسلاید جدید
        </div>        
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead>
                @if (Model == null)

                {
                    <tr>هیچ داده ای برای نمایش وجود ندارد!</tr>
                }
                else
                {
                    <tr>
                        <th>
                            تصویر
                        </th>
                        <th>
                            اسلایدر
                        </th>
                        <th>
                            عنوان
                        </th>
                        <th>
                            متن
                        </th>
                        <th>
                            دکمه نمایش داده شود؟
                        </th>
                        <th>
                            متن دکمه
                        </th>
                        <th>
                            پیوند
                        </th>
                        <th></th>
                    </tr>
                }

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MultimediaLibrary.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slider.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShowButton)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ButtonText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Link)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "SliderMedia", new { id = @item.Id, sliderId = item.SliderId })', 'ویرایش اسلاید')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "SliderMedia", new { id = @item.Id, sliderId = item.SliderId })', 'حذف اسلاید')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>