﻿@model Mega.Garage.Persistence.Content.Entities.SliderMedia

@{
    Layout = "~/Views/Shared/_Details.cshtml";
}

<div>
    <div class="dl-horizontal">

        <div class="theader left">
            <h4>تصویر اسلایدر</h4>
            <div class="card-btn">
                @Html.ActionLink("بازگشت به فهرست", "Index")
                <span class="arrow-box">
                    <i class="arrow left-half"></i>
                    <i class="arrow right-half"></i>
                    <i class="arrow horizontal"></i>
                </span>
            </div>
            <div class="descreption">
                بازگشت به فهرست
            </div>
        </div>
        <div class="box">
            <div class="input-line">
                <div class="form-group">
                    <label>
                        تصویر
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.MultimediaLibrary.Title)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        اسلایدر
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.Slider.Title)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        عنوان
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        متن
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        نمایش دکمه
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.ShowButton)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        متن دکمه
                    </label>

                    <div class="input" ]>
                        @Html.DisplayFor(model => model.ButtonText)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        پیوند
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.Link)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        تاریخ ایجاد
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        تاریخ ویرایش
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        ایجاد شده توسط
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        ویرایش شده توسط
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        نسخه
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.RowVersion)
                    </div>
                </div>
                <div class="form-group checkbox-input">
                    <label>
                        فعال
                    </label>

                    <div class="input">
                        @Html.DisplayFor(model => model.IsActive)
                    </div>
                </div>
            </div>

            <div class="input-line submit-box">

                <div class="form-group  submit sub-rem">
                    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id })
                </div>
            </div>
        </div>


    </div>
</div>