﻿@model Mega.Garage.Persistence.Content.Entities.EntryIndex

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EntryId)

    @*<div class="form-group">
            نوشته
            <div class="flex-column">
                @Html.Label((String)ViewBag.EntryTitle)
            </div>
        </div>*@
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                عنوان
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                پیوند
            </label>
            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                توضیحات
            </label>

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.Label((String)ViewBag.IsExist)
            </label>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                فهرست
            </label>
            @Html.DropDownList("IndexId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IndexId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
