﻿@model Mega.Garage.Persistence.Content.Entities.EntryIndex

<div class="form-group submit sub-rem">
    <div>
        <p>
            آیا از حذف این مورد اطمینان دارید؟

        </p>
    </div>
    <div class="modal-footer btn-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">بلی</button>
        }
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
</div>

