﻿@model Mega.Garage.Persistence.Content.Entities.EntryIndex

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IndexId)
    @Html.HiddenFor(model => model.EntryId)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-wrapper">
        @*<div class="form-group col-md-6 col-sm-12">
                <div class="flex-column">
                    <label for="label">
                        <b></b>عنوان نوشته:
                        @Html.Label((String)ViewBag.EntryTitle)
                    </label>
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <div class="flex-column">
                    @Html.Label((String)ViewBag.IndexTitle)
                </div>
            </div>*@

        <div class="form-group col-md-6 col-sm-12">
            <label for="label">
                عنوان نوشته در فهرست
            </label>
            <div class="flex-column">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label for="label">
                پیوند
            </label>
            <div class="flex-column">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label for="label">
                توضیحات
            </label>
            <div class="flex-column">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}