﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.EntryIndex>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div>
            <span class="card-btn btn btn-dark" title="بازگشت به ویرایش نوشته" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "Entries", new { id = ViewBag.EntryId })', 'ویرایش نوشته')">
                <i class='fa fa-mail-reply'></i>
            </span>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","EntryIndices", new { entryId = ViewBag.EntryId })', 'افزودن نوشته @ViewBag.EntryTitle به فهرست جدید')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                افزودن نوشته به فهرست
            </div>

        </div>
        <h1>
            فهرست های نوشته
        </h1>
    </section>
</div>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان نوشته
                    </th>
                    <th>
                        عنوان فهرست
                    </th>
                    <th>
                        عنوان نوشته در فهرست
                    </th>
                    <th>
                        پیوند
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entry.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Index.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Link)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "EntryIndices", new { id = @item.Id })', 'ویرایش نوشته  @item.Entry.Title در فهرست @item.Index.Title' )">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "EntryIndices", new { id = @item.Id })', 'حذف نوشته @item.Entry.Title از فهرست @item.Index.Title' )">
                                <i class="fa fa-trash"></i>
                            </span>

                        </td>
                    </tr>
                }
            <tbody>

        </table>
    </div>
</section>
