﻿@model Mega.Garage.Persistence.Content.Entities.TableColumn


    <div class="form-horizontal">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RowVersion)
            <div class="form-wrapper">
                <div class="form-group col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <label for="label">
                            نام ستون
                        </label>
                        @Html.EditorFor(model => model.ColumnName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ColumnName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <label for="label">
                            نوع ستون
                        </label>
                        @Html.DropDownList("ColumnTypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ColumnTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <label for="label">
                            توضیحات
                        </label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="modal-footer btn-wrapper">
                <button type="submit" class="btn btn-primary"> ذخیره</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>

            <div class="form-detail">@Html.Partial("_Details")</div>
        }
    </div>

