﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.TableColumn>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div>
            <a class="card-btn btn btn-dark" title="بازگشت به  @ViewBag.TableTitle" href="@Url.Action("Index", "TableValues", new { tableId = ViewBag.TableId })">
                <i class='fa fa-mail-reply'></i>
            </a>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create", "TableColumns", new { tableId = @ViewBag.TableId })', 'ایجاد ستون جدید')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                ستون جدید
            </div>
        </div>
        <h1>
            ستون های @ViewBag.TableTitle
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        نام ستون
                    </th>
                    <th>
                        نوع ستون
                    </th>
                    <th>
                        توضیحات
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>هیچ داده ای برای نمایش وجود ندارد!</tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ColumnName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TableColumnType.TypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","TableColumns", new { id = item.Id, tableId = item.TableId })' , 'ویرایش ستون جدول')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","TableColumns", new { id = item.Id, tableId = item.TableId })' , 'حذف ستون جدول')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
