﻿@model Mega.Garage.Persistence.Catalog.Entities.Catalog

@using (Html.BeginForm("Modify", "Catalogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ShortTitle)
                </label>
                @Html.EditorFor(model => model.ShortTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.EnglishTitle)
                </label>
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @*<div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CompanyId)
                </label>
                @Html.EditorFor(model => model.CompanyId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CategoryId)
                </label>
                @Html.DropDownList("CategoryId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control", id = "cmbCategory" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.BrandId)
                </label>
                @Html.DropDownList("BrandId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ConfigCode)
                </label>
                @Html.EditorFor(model => model.ConfigCode, new { htmlAttributes = new { @class = "form-control", id = "ConfigCode", @readonly = "readonly" } })
            </div>
        </div>

        @*<div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.FullConfigCode)
                </label>
                @Html.EditorFor(model => model.FullConfigCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogTypeId)
                </label>
                @Html.DropDownList("CatalogTypeId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @Html.HiddenFor(model => model.CatalogShippingTypeId)

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ThumbImagePath)
                </label>
                @Html.FileUpload(model => model.ThumbImagePath)
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.ImagePath)</label>
                @Html.FileUpload(model => model.ImagePath)
            </div>
        </div>

        @Html.HiddenFor(model => model.WebsiteBoostScore)

        @Html.HiddenFor(model => model.CategorySortId)

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsOnGarage, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-is-on-Garage",
                       name = "IsOnGarage"
                    })
                    <label class="custom-control-label" for="custom-switch-is-on-Garage">فعال در فروش</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.CatalogStatusId)</label>
                @Html.DropDownList("CatalogStatusId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Guid)</label>
                @Html.EditorFor(model => model.Guid, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = Model?.Guid ?? Guid.NewGuid().ToString() } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.LastBasePrice)</label>
                @Html.EditorFor(model => model.LastBasePrice, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>

        @Html.HiddenFor(model => model.LastBasePriceModified, new { @Value = DateTime.Now })

        @*<div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.HasGuarantee, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-has-guarantee",
                       name = "HasGuarantee"
                    })
                    <label class="custom-control-label" for="custom-switch-has-guarantee">داری گارانتی</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.GuaranteeTypeId)</label>
                @Html.EditorFor(model => model.GuaranteeTypeId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        @Html.HiddenFor(model => model.AverageUserRate)

    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#cmbCategory").on("change", function () {
            if ($(this).val()) {
                $.get("/catalog/catalogs/getNewCatalogCode", { categoryId: $(this).val() }, function (response) {
                    $("#ConfigCode").val(response);
                });
            }
            else {
                $("#ConfigCode").val("");
            }
        });

    });
</script>