﻿@{
    Layout = "~/Views/Shared/_List.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box box-info" style="padding: 15px; text-align: right;">

                    <div style="margin-bottom: 10px;">
                        <div class="custom-control custom-switch">
                            <input id="custom-switch-Mandatory-Dealer" name="MandatoryDealer" class="custom-control-input" type="checkbox" value="true" @(ViewBag.MandatoryDealer == true ? "checked=\"checked\"" : "") />
                            <input type="hidden" value="false" name="MandatoryDealer" />
                            <label class="custom-control-label" for="custom-switch-Mandatory-Dealer">اجباری بودن انتخاب اتوسریس در هنگام ثبت سفارش</label>
                        </div>
                    </div>
                    
                    <div style="margin-bottom: 10px;">
                        <div class="custom-control custom-switch">
                            <input id="custom-switch-SendSmsToDealer" name="SendSmsToDealer" class="custom-control-input" type="checkbox" value="true" @(ViewBag.SendSmsToDealer == true ? "checked=\"checked\"" : "") />
                            <input type="hidden" value="false" name="SendSmsToDealer" />
                            <label class="custom-control-label" for="custom-switch-SendSmsToDealer">ارسال پیامک به اتوسرویس در صورت ثبت سفارش</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary"> ذخیره</button>
                </div>
            </div>
        </div>
    </section>
}