﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var years = new List<int>();
    var calendar = new System.Globalization.PersianCalendar();
    var now = calendar.GetYear(DateTime.Now);
    for (int i = 1398; i <= now; i++)
    {
        years.Add(i);
    }
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
<style type="text/css">
    .loader {
        width: 75px;
        position: absolute;
        top: calc(50% - 37px);
        left: calc(50% - 37px);
    }

    .info-box-text {
        white-space: unset;
        text-overflow: clip;
        font-size: 13px;
        line-height: 18px;
    }

    @@media print {
        header, aside, footer {
            display: none;
        }

        .content-wrapper {
            margin: 0;
            width: 100%;
        }
    }
</style>
<section class="content">
    <div class="row">
        <div class="col">
            <div class="row">
                <a href="@Url.Action("Index", "Catalogs", new { area = "catalog" })" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-map"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">تعداد کاتالوگ </span>
                                <span class="info-box-number" style="font-size:30px;">@ViewBag.TotalCatalog</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Products", new { area = "order" })" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-car"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">تعداد محصولات</span>
                                <span class="info-box-number" style="font-size:30px;">@ViewBag.TotalProducts</span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="clearfix visible-sm-block"></div>
                <a href="@Url.Action("Index", "Customers", new { area = "order" })" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fa fa-user"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">تعداد مشتریان</span>
                                <span class="info-box-number" style="font-size: 30px;">@ViewBag.TotalCustomers</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Invoices", new { area = "order" })" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="">
                        <div class="info-box">
                            <span class="info-box-icon bg-orange"><i class="fa fa-money"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">تعداد سفارشات</span>
                                <span class="info-box-number" style="font-size:30px;">@ViewBag.TotalInvoices</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">آخرین سفارشات سه روز اخیر</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>نام سفارش دهنده</th>
                                    <th>کد سفارش</th>
                                    <th>تعداد محصولات در سبد خرید</th>
                                    <th>مبلغ سفارش</th>
                                    <th>تاریخ ثبت سفارش</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var invoices = (List<Mega.Garage.Persistence.Order.Entities.Invoice>)ViewBag.LastInvoices;
                                    foreach (Mega.Garage.Persistence.Order.Entities.Invoice item in invoices)
                                    {
                                            <tr class="translation-row" data-id=@item.Id>
                                                <td>@item.Customers.FirstName @item.Customers.LastName</td>
                                                <td>@item.OrderNumber</td>
                                                <td>@item.OrderItems.Count</td>
                                                <td>@item.FinalPrice.Value.ToString("N0") تومان</td>
                                                <td>@Mega.Garage.Common.DateUtility.GetPersianDateTime(item.InvoiceDate)</td>
                                            </tr>                                       
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <canvas id="product-chart" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <canvas id="discount-chart" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-12">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <div class="form-inline" style="padding: 20px 20px 0 0;">
                    <div class="form-group">
                        سال:
                        <select id="cmbInvoiceYear" class="form-control" style="margin-right: 7px; width: 150px;">
                            @foreach (var item in years)
                            {
                                <option value="@item" @(item == now ? "selected" : "")>@item</option>

                            }
                        </select>
                    </div>
                </div>
                <canvas id="total-invoices-count-per-month-report-chart" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <div class="form-inline" style="padding: 20px 20px 0 0;">
                    <div class="form-group">
                        سال:
                        <select id="cmbDealerSellYear" class="form-control" style="margin-right: 7px; width: 150px;">
                            @foreach (var item in years)
                            {
                                <option value="@item" @(item == now ? "selected" : "")>@item</option>
                            }
                        </select>
                    </div>
                </div>
                <canvas id="dealer-report-chart" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <div class="form-inline" style="padding: 20px 20px 0 0;">
                    <div class="form-group" style="margin:  10px 10px 0 0;">
                        از تاریخ:
                        <input id="invoice-count-by-payment-type-from-date" type="text" class="form-control invoice-count-by-payment-date" readonly />
                    </div>
                    <div class="form-group" style="margin: 10px 10px 0 0;">
                        تا تاریخ:
                        <input id="invoice-count-by-payment-type-to-date" type="text" class="form-control invoice-count-by-payment-date" readonly />
                    </div>
                </div>
                <canvas id="invoice-count-by-payment-type" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <img class="loader" src="/images/loader.gif" />
                <div class="form-inline" style="padding: 20px 20px 0 0;">
                    <div class="form-group" style="margin: 10px 10px 0 0;">
                        از تاریخ:
                        <input id="invoice-process-from-date" type="text" class="form-control invoice-process-date" readonly />
                    </div>
                    <div class="form-group" style="margin:  10px 10px 0 0;">
                        تا تاریخ:
                        <input id="invoice-process-to-date" type="text" class="form-control invoice-process-date" readonly />
                    </div>
                </div>
                <canvas id="invoice-process" style="height:380px;width:100%;padding:20px;"></canvas>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     USERS LIST 
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title"> محصولات فعال</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                @{
                                    var AllProducts = (List<Mega.Garage.Persistence.Order.Entities.Product>)ViewBag.ActiveProducts;
                                    foreach (var item in AllProducts)
                                    {
                                        <li style="width:100%;text-align:right;">
                                            <b>عنوان محصول : </b>@item.CatalogTitle
                                            <br />
                                            <b class="text-red">قیمت پایه :  @item.BasePrice.Value.ToString("N0") تومان</b>
                                            <br />
                                            <b class="text-green">قیمت با تخفیف :  @item.UnitPrice.Value.ToString("N0") تومان</b>
                                            <hr />
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</section>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    Chart.defaults.global.defaultFontFamily = 'IranSans'

    function getColors(count) {
        var colors = [];
        for (var i = 0; i < count; i++) {
            switch (i % 7) {
                case 0:
                    colors.push(window.chartColors.red);
                    break;
                case 1:
                    colors.push(window.chartColors.orange);
                    break;
                case 2:
                    colors.push(window.chartColors.yellow);
                    break;
                case 3:
                    colors.push(window.chartColors.green);
                    break;
                case 4:
                    colors.push(window.chartColors.blue);
                    break;
                case 5:
                    colors.push(window.chartColors.purple);
                    break;
                case 6:
                    colors.push(window.chartColors.grey);
                    break;
            }
        }

        return colors;
    }

    function getRandomColor() {
        var colors = [
            window.chartColors.red,
            window.chartColors.orange,
            window.chartColors.yellow,
            window.chartColors.green,
            window.chartColors.blue,
            window.chartColors.purple,
            window.chartColors.grey
        ];
        var index = Math.floor(Math.random() * (6 - 0 + 1)) + 0;;
        return colors[index];
    }

    $(document).ready(function () {

        $(".invoice-count-by-payment-date").persianDatepicker({
            format: "L",
            autoClose: true,
            onSelect: function () {
                getInvoiceCountByPaymentTypeReport();
            }
        });

        var today = new persianDate();
        var firstOfMonth = new persianDate([today.year(), today.month(), 1]).format("YYYY/MM/DD");
        var lastOfMonth = new persianDate([today.year(), today.month(), today.daysInMonth()]).format("YYYY/MM/DD");
        $("#invoice-count-by-payment-type-from-date").val(firstOfMonth);
        $("#invoice-count-by-payment-type-to-date").val(lastOfMonth);

        $(".invoice-process-date").persianDatepicker({
            format: "L",
            autoClose: true,
            onSelect: function () {
                getInvoiceProcessStatusReport();
            }
        });

        var today = new persianDate();
        var firstOfMonth = new persianDate([today.year(), today.month(), 1]).format("YYYY/MM/DD");
        var lastOfMonth = new persianDate([today.year(), today.month(), today.daysInMonth()]).format("YYYY/MM/DD");
        $("#invoice-process-from-date").val(firstOfMonth);
        $("#invoice-process-to-date").val(lastOfMonth);


        getProductSellReport();
        getDiscountCodeReport();
        getTotalInvoicesCountPerMonthReport();
        getDealerServiceTotalSellPerMonthInAUniqueYear();
        getInvoiceCountByPaymentTypeReport();
        getInvoiceProcessStatusReport();
    });

</script>

@*Product Report*@
<script>
    function getProductSellReport() {
        $("#product-chart").closest(".box").find(".loader").show();
        var isBig = $(window).width() > 700;
        $.ajax({
            url: '/home/getProductSellReport',
            type: 'GET',
            success: function (response) {
                var labels = [];
                var data = [];
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].CatalogTitle);
                    data.push(response[i].Count);
                }

                var productListConfig = {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: data,
                            backgroundColor: getColors(response.length),
                            label: 'فروش محصولات'
                        }],
                        labels: labels
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: isBig ? 'right' : 'bottom'
                        }
                    }
                };

                var productContext = document.getElementById('product-chart').getContext('2d');
                window.productChart = new Chart(productContext, productListConfig);

                $("#product-chart").closest(".box").find(".loader").hide();
            }
        });
    }

</script>

@*Discount Report*@
<script>
    var discountData = null;
    function getDiscountCodeReport() {
        $("#discount-chart").closest(".box").find(".loader").show();
        $.ajax({
            url: '/home/getDiscountCodeReport',
            type: 'GET',
            success: function (response) {
                discountData = response;
                var labels = [];
                var data = [];
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].DiscountCode);
                    data.push(response[i].Count);
                }

                var discountConfig = {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'نمودار فروش کارت های تخفیف',
                            backgroundColor: getColors(response.length),
                            borderColor: window.chartColors.blue,
                            data: data,
                            fill: false,
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: { mode: 'nearest', intersect: true },
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'کد تخفیف' } }],
                            yAxes: [{
                                display: true, scaleLabel: { display: true, labelString: 'تعداد استفاده شده' }
                            }]
                        },
                        onClick: function (e) {
                            var index = this.getElementsAtEvent(e)[0]._index;
                            var discountCode = discountData[index].DiscountCode;
                            document.location.href = "/Order/Invoices?DiscountCode=" + discountCode;
                        }
                    }
                };

                $("#discount-chart").closest(".box").find(".loader").hide();
                var ctx = document.getElementById('discount-chart').getContext('2d');
                window.discount = new Chart(ctx, discountConfig);
            }
        });
    }
</script>

@*Invoice Report*@
<script>
    var months = ['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'];

    $("#cmbInvoiceYear").on("change", function () {
        getTotalInvoicesCountPerMonthReport();
    });

    function getTotalInvoicesCountPerMonthReport() {
        $("#total-invoices-count-per-month-report-chart").closest(".box").find(".loader").show();
        $.ajax({
            url: '/home/getTotalInvoicesCountPerMonthReport',
            type: 'GET',
            data: { year: $("#cmbInvoiceYear").val() },
            success: function (response) {

                var labels = [];
                var data = [];
                for (var i = 0; i < response.length; i++) {
                    labels.push(months[parseInt(response[i].Month) - 1]);
                    data.push(response[i].Count);

                }

                var totalInvoicesCountPerMonthReportConfig = {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'نمودار تعداد فروش بر حسب ماه',
                            backgroundColor: getColors(response.length),
                            borderColor: window.chartColors.blue,
                            data: data,
                            fill: false,
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: { mode: 'nearest', intersect: true },
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'ماه' } }],
                            yAxes: [{
                                display: true, scaleLabel: { display: true, labelString: 'تعداد سفارش' }
                            }]
                        }
                    }
                };


                var box = $("#total-invoices-count-per-month-report-chart").closest(".box");
                if (window.dealerChart) {
                    box.find("canvas").remove();
                    box.append('<canvas id="total-invoices-count-per-month-report-chart" style="height:380px;width:100%;padding:20px;"></canvas>');
                }

                box.find(".loader").hide();

                var ctx = document.getElementById('total-invoices-count-per-month-report-chart').getContext('2d');
                window.totalInvoicesCountPerMonthReport = new Chart(ctx, totalInvoicesCountPerMonthReportConfig);
            }
        });
    }
</script>

@*Dealer Report*@
<script>

    $("#cmbDealerSellYear").on("change", function () {
        getDealerServiceTotalSellPerMonthInAUniqueYear();
    });

    function getDealerServiceTotalSellPerMonthInAUniqueYear() {
        $("#dealer-report-chart").closest(".box").find(".loader").show();
        $.ajax({
            url: '/home/getDealerServiceTotalSellPerMonthInAUniqueYear',
            type: 'GET',
            data: { year: $("#cmbDealerSellYear").val() },
            success: function (response) {

                var dataSet = [];
                for (var i = 0; i < response.length; i++) {

                    var data = [];
                    for (var j = 0; j < response[i].Reports.length; j++) {
                        data.push(response[i].Reports[j].Price)
                    }

                    dataSet.push({
                        label: response[i].DealerTitle,
                        steppedLine: false,
                        borderColor: getRandomColor(),
                        data: data,
                        fill: false
                    });
                }

                var dealerConfig = {
                    type: 'line',
                    data: {
                        labels: ['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'],
                        datasets: dataSet
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: { mode: 'nearest', intersect: true },
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'ماه' } }],
                            yAxes: [{
                                display: true, scaleLabel: { display: true, labelString: 'تعداد سفارش' }
                            }]
                        }
                    }
                };

                var box = $("#dealer-report-chart").closest(".box");
                if (window.dealerChart) {
                    box.find("canvas").remove();
                    box.append('<canvas id="dealer-report-chart" style="height:380px;width:100%;padding:20px;"></canvas>');
                }

                box.find(".loader").hide();
                var ctx = document.getElementById('dealer-report-chart').getContext('2d');
                window.dealerChart = new Chart(ctx, dealerConfig);
            }
        });
    }
</script>

@*Invoice Count By Payment Type*@
<script>

    var invoiceCountByPaymentTypeData = null;
    function getInvoiceCountByPaymentTypeReport() {
        $("#invoice-count-by-payment-type").closest(".box").find(".loader").show();
        $.ajax({
            url: '/home/getInvoiceCountByPaymentTypeReport',
            type: 'GET',
            data: {
                fromDate: $("#invoice-count-by-payment-type-from-date").val(),
                toDate: $("#invoice-count-by-payment-type-to-date").val()
            },
            success: function (response) {
                invoiceCountByPaymentTypeData = response;

                var labels = [];
                var data = [];
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].PaymentTypeTitle);
                    data.push(response[i].Count);
                }

                var totalInvoicesCountPerMonthReportConfig = {
                    type: 'horizontalBar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'نمودار تعداد فروش بر حسب نوع پرداخت',
                            backgroundColor: getColors(response.length),
                            borderColor: window.chartColors.blue,
                            data: data,
                            fill: false,
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: { mode: 'nearest', intersect: true },
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'تعداد سفارش' }, ticks: { beginAtZero: true } }],
                            yAxes: [{
                                display: true, scaleLabel: { display: true, labelString: 'نوع پرداخت' }
                            }]
                        },
                        onClick: function (e) {
                            var index = this.getElementsAtEvent(e)[0]._index;
                            var paymentType = invoiceCountByPaymentTypeData[index].PaymentType;
                            if (paymentType > 0) {
                                document.location.href =
                                    "/Order/Invoices" +
                                    "?PaymentTypeId=" + paymentType +
                                    "&P_FromDate=" + $('#invoice-count-by-payment-type-from-date').val() +
                                    "&P_ToDate=" + $('#invoice-count-by-payment-type-to-date').val();
                            }
                            else
                                document.location.href = "/Order/Invoices";

                        }
                    }
                };


                var box = $("#invoice-count-by-payment-type").closest(".box");
                if (window.invoiceCountByPaymentTypeReport) {
                    box.find("canvas").remove();
                    box.append('<canvas id="invoice-count-by-payment-type" style="height:380px;width:100%;padding:20px;"></canvas>');
                }

                box.find(".loader").hide();
                var ctx = document.getElementById('invoice-count-by-payment-type').getContext('2d');
                window.invoiceCountByPaymentTypeReport = new Chart(ctx, totalInvoicesCountPerMonthReportConfig);
            }
        });
    }
</script>

@*Invoice Process*@
<script>

    var invoiceProcessStatusData = null;
    function getInvoiceProcessStatusReport() {
        $("#invoice-process").closest(".box").find(".loader").show();
        $.ajax({
            url: '/home/getInvoiceProcessStatusReport',
            type: 'GET',
            data: {
                fromDate: $("#invoice-process-from-date").val(),
                toDate: $("#invoice-process-to-date").val()
            },
            success: function (response) {
                invoiceProcessStatusData = response;

                var labels = [];
                var data = [];
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].CurrentProcessTitle);
                    data.push(response[i].Count);
                }

                var totalInvoicesCountPerMonthReportConfig = {
                    type: 'horizontalBar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'نمودار تعداد فروش بر حسب نوع پرداخت',
                            backgroundColor: getColors(response.length),
                            borderColor: window.chartColors.blue,
                            data: data,
                            fill: false,
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: { mode: 'nearest', intersect: true },
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'تعداد سفارش' }, ticks: { beginAtZero: true } }],
                            yAxes: [{
                                display: true, scaleLabel: { display: true, labelString: 'وضعیت' }
                            }]
                        },
                        onClick: function (e) {
                            var index = this.getElementsAtEvent(e)[0]._index;
                            var currentProcess = invoiceProcessStatusData[index].CurrentProcess;
                            if (currentProcess > 0) {
                                document.location.href =
                                    "/Order/Invoices" +
                                    "?CurrentProcessId=" + currentProcess +
                                    "&P_FromDate=" + $('#invoice-process-from-date').val() +
                                    "&P_ToDate=" + $('#invoice-process-to-date').val();
                            }
                            else {
                                document.location.href = "/Order/Invoices";
                            }
                        }
                    }
                };

                var box = $("#invoice-process").closest(".box");
                if (window.invoiceCountByPaymentTypeReport) {
                    box.find("canvas").remove();
                    box.append('<canvas id="invoice-process" style="height:380px;width:100%;padding:20px;"></canvas>');
                }

                box.find(".loader").hide();
                var ctx = document.getElementById('invoice-process').getContext('2d');
                window.invoiceCountByPaymentTypeReport = new Chart(ctx, totalInvoicesCountPerMonthReportConfig);
            }
        });
    }
</script>