﻿@model Mega.Garage.Persistence.Content.Entities.Index

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                عنوان
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                عنوان انگلیسی
            </label>
            @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                توضیحات
            </label>

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                حداکثر تعداد اقلام فهرست
            </label>
            @Html.EditorFor(model => model.MaxNumberOfIndexItems, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxNumberOfIndexItems, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="checkbox">
                <label for="label">
                    نمایش تاریخ انتشار
                </label>
                @Html.EditorFor(model => model.ShowPublishDate)
                @Html.ValidationMessageFor(model => model.ShowPublishDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="checkbox">
                <label for="label">
                    نمایش فهرست
                </label>
                @Html.EditorFor(model => model.ShowIndex)
                @Html.ValidationMessageFor(model => model.ShowIndex, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                سند چندرسانه ای
            </label>
            @Html.DropDownList("MultimediaLibraryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MultimediaLibraryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
