﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Index>
@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Indices")', 'ایجاد فهرست')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            فهرست جدید
        </div>
        <h1>
            فهرست ها
        </h1>
    </section>
</div>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        سند چندرسانه ای
                    </th>
                    <th>
                        عنوان فهرست
                    </th>
                    <th>
                        عنوان انگلیسی
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th>
                        حداکثر تعداد اقلام فهرست
                    </th>
                    <th>
                        نمایش تاریخ انتشار
                    </th>
                    <th>
                        نمایش فهرست
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MultimediaLibraries.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnglishTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxNumberOfIndexItems)
                        </td>
                        <td>
                            @if (item.ShowPublishDate == null)
                            {
                                @Html.Label("UndefinedAllowance", "نامشخص");
                            }
                            else if (item.ShowPublishDate.Value)
                            {
                                @Html.Label("CommentAllowed", "بلی");
                            }
                            else if (!item.ShowPublishDate.Value)
                            {
                                Html.Label("CommentAllowed", "خیر");
                            }
                        </td>
                        <td>
                            @if (item.ShowIndex == null)
                            {
                                @Html.Label("UndefinedAllowance", "نامشخص");
                            }
                            else if (item.ShowIndex.Value)
                            {
                                @Html.Label("CommentAllowed", "بلی");
                            }
                            else if (!item.ShowIndex.Value)
                            {
                                Html.Label("CommentAllowed", "خیر");
                            }
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Indices",new { id = @item.Id })' , 'ویرایش فهرست')">
                                <i class='fa fa-edit'></i>
                            </span>
                               
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Indices",new { id = @item.Id })' , 'حذف فهرست')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>
