﻿@model MegaViewModel<Mega.Garage.Logic.OnSite.ViewModel.ProductGroupViewModel>

<section class="ftco-section bg-light">
    <div class="container">

        <div class="row">
            @{
                var ProductGroupData = Model.Data.ProductGroup;
                foreach (var item in Model.Data.Products)
                {
                    double BasePrice = (double)((item.BasePrice.HasValue) ? item.BasePrice.Value : 1);
                    double UnitPrice = (double)((item.UnitPrice.HasValue) ? item.UnitPrice.Value : 1);

                    double Discount = Math.Ceiling((BasePrice - UnitPrice) / BasePrice * 100);

                    <div class="col-xl-4 col-md-4 col-sm-12 ftco-animate">
                           @Html.Partial("_ProductThumbnail",item)
                    </div>
                }
            }
        </div>
    </div>
</section>
