﻿@{
    Layout = null;
    Mega.Garage.Persistence.Order.Entities.Customer customer = ViewBag.Customer;
}
@if (ViewBag.MobileNumber != null)
{
    if (customer != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@customer.FirstName @customer.LastName</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/user/profile">پروفایل</a>
                <a class="dropdown-item" href="/user/archive">لیست سفارشات</a>
                <a class="dropdown-item" href="/user/logout">خروج</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item"><a href="/user/archive" class="nav-link">@ViewBag.MobileNumber</a></li>
    }
}
else
{
    <li class="nav-item"><a href="/user/register" class="nav-link">ورود</a></li>
}