﻿@model Mega.Garage.Logic.OnSite.ViewModel.ProductGroupViewModel
@{
    ViewBag.Title = "صفحه اصلی";
    Mega.Garage.Logic.OnSite.ViewModel.ProductGroupViewModel singleProductList = ViewBag.SingleProductList;
    Mega.Garage.Persistence.OnSite.Entities.ProductGroup productGroup = ViewBag.ProductGroup;
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        @Html.Partial("_SliderItem", new Mega.Garage.Client.Models.SliderModel() { ImageUrl = "/theme/images/slider_01.jpg" })
        @Html.Partial("_SliderItem", new Mega.Garage.Client.Models.SliderModel() { ImageUrl = "/theme/images/slider_02.jpg" })
        @Html.Partial("_SliderItem", new Mega.Garage.Client.Models.SliderModel() { ImageUrl = "/theme/images/slider_03.jpg" })
        @Html.Partial("_SliderItem", new Mega.Garage.Client.Models.SliderModel() { ImageUrl = "/theme/images/slider_04.jpg" })
    </div>
</section>

<input type="hidden" id="hidden-product-group" value="@productGroup.Id" />

<section class="ftco-section ftco-no-pb ftco-no-pt testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-md-9 col-sm-7 ftco-animate">
                <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated title_testimony_box_small">
                    <h2 class="mt-5">پیشنهاد ویژه</h2>
                </div>
                <div class="col-md-12">
                    <div class="carousel-testimony-2 owl-carousel">
                        @foreach (var item in singleProductList.Products)
                        {
                            @Html.Partial("_ProductThumbnail", item)
                        }

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-5 ftco-animate mt-5 img-auto title_testimony_box">
                <img width="260" src="/theme/images/titel.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4 pb-1">فروش اینترنتی روغن موتور اسپیدی</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class=" col-xl-3 col-md-4 col-sm-6 ftco-animate">
                    @Html.Partial("_ProductThumbnail", item)
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4 pb-1">پرفروش ترین محصولات اسپیدی</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    @foreach (var item in Model.Products)
                    {
                        @Html.Partial("_ProductThumbnail", item)
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/theme/images/bg_4.jpg);">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span>تعداد نمایندگی ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="38">0</strong>
                                <span>محصولات</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="25">0</strong>
                                <span>سال تجربه</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="32">0</strong>
                                <span>جوایز و گواهی نامه</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

