﻿@{
    Mega.Garage.Persistence.OnSite.Entities.ProductGroup productGroup = ViewBag.ProductGroup;
}

@section Header {

    <style type="text/css">
        .row.content_box {
            padding: 10px 10px 10px;
            line-height: 26px;
        }

            .row.content_box .box_style_1 {
                width: 100%;
            }
    </style>

}

<input type="hidden" id="hidden-product-group" value="@productGroup.Id" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 slider_box pb-3">
                <h1>کمپین ویژه رانندگان اسنپ</h1>
                <img src="/theme/images/snapp.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container pb-5">
        <div class="row content_box">
            <div class="col-xl-10 col-md-8 col-sm-12 ftco-animate">
                <p>
                    شرکت نفت سپاهان در همکاری با اسنپ اقدام به ارائه خدمات تعویض روغن برای رانندگان اسنپ کرده است. رانندگان اسنپ می‌توانند با استفاده از تسهیلات نفت سپاهان، روغن موتور مورد نیاز خود را با قیمتی بسیار کمتر از قیمت مصرف کننده تهیه کرده و از خدمات متنوع دیگر برخوردار شوند.
                </p>
                <p class="box_style_1">
                    اجرت تعویض روغن برای <span>رانندگان اسنپ رایگان</span> است.
                </p>
                <p>
                    خدمات شرکت نفت سپاهان از سوی واحد‌های ثابت و سیار در نقاط مشخص شده تهران، قابل ارائه است. رانندگان می‌توانند بر اساس روزهای هفته به نشانی‌های مشخص شده مراجعه کنند.
                </p>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-12 ftco-animate content_box_pic">
                <a href="/theme/images/logo_speedy_big.jpg" class="image-popup">
                    <img src="/theme/images/logo_speedy.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_ProductList")

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/theme/images/bg_4.jpg);">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span>تعداد نمایندگی ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="38">0</strong>
                                <span>محصولات</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="25">0</strong>
                                <span>سال تجربه</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="32">0</strong>
                                <span>جوایز و گواهی نامه</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">پیام سیستم</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                محصول شما با موفقیت به سبد خرید اضافه شد.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ادامه خرید</button>
                <a class="btn btn-primary" href="/cart">انتقال به سبد خرید</a>
            </div>
        </div>
    </div>
</div>
