﻿@model IEnumerable<Mega.Garage.Persistence.Order.Entities.Customer>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<style type="text/css">
    #search-form label {
        width: 67px;
        justify-content: left;
    }
</style>

<div class="theader add">
    <section class="content-header">
        <h1>مشتری ها</h1>
        <div>
            @*<div class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Customers")', 'گزارش')">
                    <span class="arrow-box">
                        <i class="arrow vertical"></i>
                        <i class="arrow horizontal"></i>
                    </span>
                    گزارش
                </div>*@
        </div>
    </section>
</div>

<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>از تاریخ</label>
                                @Html.EditorPersianDatePicker("FromDate", (DateTime?)ViewBag.FromDate)
                            </div>
                            <div class="col-md-3 form-group">
                                <label>تا تاریخ</label>
                                @Html.EditorPersianDatePicker("ToDate", (DateTime?)ViewBag.ToDate)
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="textName">نام: &nbsp;</label>
                                <input id="textName" type="text" name="Name" class=" form-control" value="@(ViewBag.Name)" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="textDiscount">کدتخفیف: &nbsp;</label>
                                <input id="textDiscountCode" type="text" name="DiscountCode" class=" form-control" value="@(ViewBag.DiscountCode)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="content">

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            <span class="card-btn" title="نمایش">
                                @Html.ActionLink("سفارشات", "IndexByCustomer", "Invoices", new { customerId = item.Id }, null)
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @{
            int PageSize = (int)ViewBag.PageSize;
            int TotalRecords = (int)ViewBag.TotalRecords;
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnResetForm").on("click", function () {
            $(this).closest("form").find("input[type=text], input[type=tel], input[type=number], input[type=hidden]").val('')
            $(this).closest("form").submit();
        });
    });
</script>
