﻿@model Mega.Garage.Persistence.Content.Entities.ProgressbarStep

@{
    Layout = "~/Views/Shared/_Create.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="theader left">
            <h4>مرحله نوار پیشرفت</h4>
            <div class="card-btn">
                @Html.ActionLink("بازگشت به فهرست", "Index")
                <span class="arrow-box">
                    <i class="arrow left-half"></i>
                    <i class="arrow right-half"></i>
                    <i class="arrow horizontal"></i>
                </span>
            </div>
            <div class="descreption">
                بازگشت به فهرست
            </div>
        </div>
        <div class="box">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-line">
                <div class="form-group">
                    مرحله
                    <div class="flex-column">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    آیکون
                    <div class="flex-column">
                        @Html.DropDownList("MultimediaLibraryId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MultimediaLibraryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    نوار پیشرفت
                    <div class="flex-column">
                        @Html.DropDownList("ProgressbarId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgressbarId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    توضیحات
                    <div class="flex-column">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="input-line submit-box">
                <div class="form-group submit">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ایجاد" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

