﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.ProgressbarStep>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <span>
        مرحله های نوار پیشرفت
    </span>
    <div class="card-btn">
        <span class="arrow-box">
            <i class="arrow vertical"></i>
            <i class="arrow horizontal"></i>
        </span>
        @Html.ActionLink("افزودن مورد جدید", "Create")
    </div>
    <div class="descreption">
        افزودن مورد جدید
    </div>
</div>
<table class="table light">
    <tr>
        <th>
            آیکون
        </th>
        <th>
            نوار پیشرفت
        </th>
        <th>
            مرحله
        </th>
        <th>
            توضیحات
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MultimediaLibrary.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Progressbar.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <span class="card-btn" title="ویرایش">
            <i class='fas fa-edit'></i>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
        </span>
        <span class="card-btn" title="جزئیات">
            <i class="fas fa-info"></i>
            @Html.ActionLink("جزئیات", "Details", new { id = item.Id })
        </span>

        <span class="card-btn" title="حذف">
            <i class="fas fa-trash-alt"></i>
            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </span>

    </td>
</tr>
    }

</table>
