﻿@model IEnumerable<Mega.Garage.Persistence.Catalog.Entities.ProductAttributeValue>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div>
            <h1>مقدار مشخصه ها</h1>
            <a class="card-btn btn btn-dark" title="بازگشت به فهرست مشخصه ها" href="@Url.Action("Index", "ProductAttributeKeys")">
                <i class='fa fa-mail-reply'></i>
            </a>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","ProductAttributeValues")', 'مقدار')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                مقدار جدید
            </div>
        </div>
    </section>
</div>


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductAttributeKeyId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HexValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdditionalField1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdditionalField2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdditionalField3)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductAttributeKey.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HexValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionalField1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionalField2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionalField3)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","ProductAttributeValues",new { id = @item.Id })' , 'ویرایش مقدار مشخصه کاتالوگ ')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","ProductAttributeValues",new { id = @item.Id })' , 'حذف مقدار مشخصه کاتالوگ')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
