﻿@model Mega.Garage.Persistence.Catalog.Entities.ProductAttributeValue

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Value)</label>
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Code)</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.HexValue)</label>
                @Html.EditorFor(model => model.HexValue, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.AdditionalField1)</label>
                @Html.EditorFor(model => model.AdditionalField1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.AdditionalField2)</label>
                @Html.EditorFor(model => model.AdditionalField2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.AdditionalField3)</label>
                @Html.EditorFor(model => model.AdditionalField3, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}