﻿@model List<Mega.Garage.Logic.Fitup.ViewModel.CarGroupViewModel>
@{
    Layout = "~/Views/Shared/_List.cshtml";
    ViewBag.Title = "گروه خودرو و محصولات";

    List<Mega.Garage.Persistence.Fitup.Entities.Mapping> ProductData = ViewBag.ProductData;
}

<style type="text/css">
    #search-box {
        padding: 20px 10px;
        display: inline-block;
    }

    .mb-0 {
        text-align: right;
    }

    .model {
        text-align: right;
        padding: 5px;
    }

    .hidden {
        display: none;
    }
</style>

<div class="theader add">
    <section class="content-header">
        <input id="search-box" type="text" class="form-control" placeholder="جستجو" />
    </section>
</div>

<section class="content">
    <div class="accordion" id="accordionExample">
        @foreach (var item in Model)
        {
            <div class="card group">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapse@(item.Id)">
                            @item.Title
                        </button>
                    </h2>
                </div>
                <div id="collapse@(item.Id)" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (var child in item.Models)
                        {
                            <div class="model">
                                <div class="custom-control custom-switch">
                                    <input id="custom-switch-@child.Id" name="model" class="car-model custom-control-input" type="checkbox" value="@child.Id" @(ProductData.Count(x => x.CarModelId == child.Id) > 0 ? "checked=\"checked\"" : "") />
                                    <input type="hidden" value="false" name="MandatoryDealer" />
                                    <label class="custom-control-label" for="custom-switch-@child.Id">@child.Code - @child.Title</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search-box").on("keyup", function (event) {
            var value = $(this).val();
           
            if (value != '') {
                $(".model").each(function () {
                    if ($(this).html().indexOf(value) >= 0) {
                        $(this).removeClass("hidden");
                    }
                    else {
                        $(this).addClass("hidden");
                    }
                });

                $(".group").each(function (index, element) {
                    debugger;
                    var count = $(this).find(".card-body>div").not('.hidden').length;
                    if (count > 0) {
                        $(this).removeClass("hidden");
                    }
                    else {
                        $(this).addClass("hidden");
                    }
                });

            }
            else {
                $(".group, .model").removeClass("hidden");
            }
        });

        $(".car-model").on("change", function () {
            var productId = @ViewBag.ProductId;
            var modelId = $(this).val();

            if ($(this).prop("checked")) {
                add(productId, modelId);
            }
            else {
                remove(productId, modelId);
            }
        });

    });

    function add(productId, modelId) {
        $.post('/Fitup/Mapping/Add', { productId: productId, modelId: modelId }, function (response) {
            console.log("Add", response);
        });
    }

    function remove(productId, modelId) {
        $.post('/Fitup/Mapping/Remove', { productId: productId, modelId: modelId }, function (response) {
            console.log("Remove", response);
        });
    }

</script>