﻿@font-face {
    font-family: 'iranyekan';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/iranyekan/iranyekanwebregular.eot");
    src: url("../fonts/iranyekan/iranyekanwebregular.eot#iefix") format("embedded-opentype'"), url("../fonts/iranyekan/iranyekanwebregular.ttf") format("truetype"), url("../fonts/iranyekan/iranyekanwebregular.woff") format("woff"), url("../fonts/iranyekan/iranyekanwebregular.otf") format("opentype"), url("../fonts/iranyekan/iranyekanwebregular.svg") format("svg");
