﻿@model Mega.Garage.Persistence.Polling.Entities.Question

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.SurveyId)
                </label>
                @Html.DropDownList("SurveyId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsNegativeAnswerBetter, new
               {
                   @class = "custom-control-input",
                   id = "IsNegativeAnswerBetter",
                   name = "IsNegativeAnswerBetter"
               })
                    <label class="custom-control-label" for="IsForWeb">@Html.DisplayNameFor(model => model.IsNegativeAnswerBetter)</label>
                </div>
            </div>
        </div>

    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
