﻿@model Mega.Garage.Persistence.Account.Entities.User

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    رمزعبور جدید
                </label>
                <input type="password" class="form-control" name="newPassword" />
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    تکرار رمزعبور جدید
                </label>
                <input type="password" class="form-control" name="confirmNewPassword" />
            </div>
        </div>

    </div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
