﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Table>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Tables")', 'ایجاد جدول')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            جدول جدید
        </div>
        <h1>
            جدول ها
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        زبان
                    </th>
                    <th>
                        نام جدول
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="نمایش">                               
                                @Html.ActionLink("نمایش", "Index", "TableValues", new { tableId = item.Id }, null) 
                            </span>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Tables",new { id = @item.Id })' , 'ویرایش جدول')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Tables",new { id = @item.Id })' , 'حذف جدول')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>
