﻿@model IEnumerable<Mega.Garage.Persistence.Catalog.Entities.CatalogProperty>
@{
    Layout = "~/Views/Shared/_List.cshtml";
}
<div class="theader add">
    <section class="content-header">
        <h1>مشخصه های کاتالوگ</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","CatalogProperties")', 'مشخصه')">
            <span class="arrow-box"><i class="arrow vertical"></i><i class="arrow horizontal"></i></span>
            مشخصه جدید
        </div>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CatalogId)</th>
                    <th>@Html.DisplayNameFor(model => model.CatalogPropertyTypeId)</th>
                    <th>@Html.DisplayNameFor(model => model.PropTypeId)</th>
                    <th>@Html.DisplayNameFor(model => model.PropValueId)</th>
                    <th>@Html.DisplayNameFor(model => model.HasAdditiveCost)</th>
                    <th>@Html.DisplayNameFor(model => model.AdditiveCostType)</th>
                    <th>@Html.DisplayNameFor(model => model.AdditiveCostAmount)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Catalog.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.CatalogPropertyTypeId)</td>
                        <td>@Html.DisplayFor(modelItem => item.PropTypeId)</td>
                        <td>@Html.DisplayFor(modelItem => item.PropValueId)</td>
                        <td>@Html.DisplayForBoolean(item.HasAdditiveCost)</td>
                        <td>@Html.DisplayFor(modelItem => item.AdditiveCostType)</td>
                        <td>@Html.DisplayFor(modelItem => item.AdditiveCostAmount)</td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","CatalogProperties", new { id = @item.Id })' , 'ویرایش مشخصه')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","CatalogProperties", new { id = @item.Id })' , 'حذف مشخصه')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>