﻿@model Mega.Garage.Persistence.Catalog.Entities.CatalogProperty

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogId)
                </label>
                @Html.DropDownList("CatalogId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CatalogId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 hidden">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogPropertyTypeId)
                </label>
                @Html.EditorFor(model => model.CatalogPropertyTypeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatalogPropertyTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsDefaultVariation, new
                    {
                       @class = "custom-control-input",
                       id = "custom-is-default-variation",
                       name = "IsDefaultVariation"
                    })
                    @Html.ValidationMessageFor(model => model.IsDefaultVariation, "", new { @class = "text-danger" })
                    <label class="custom-control-label" for="custom-is-default-variation">نوع پیش فرض</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.PropTypeId)
                </label>
                @Html.EditorFor(model => model.PropTypeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.PropValueId)
                </label>
                @Html.EditorFor(model => model.PropValueId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropValueId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.HasAdditiveCost, new
                    {
                       @class = "custom-control-input",
                       id = "custom-has-additive-cost",
                       name = "HasAdditiveCost"
                    })
                    @Html.ValidationMessageFor(model => model.HasAdditiveCost, "", new { @class = "text-danger" })
                    <label class="custom-control-label" for="custom-has-additive-cost">شامل هزینه اضافه</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.AdditiveCostType)
                </label>
                @Html.EditorFor(model => model.AdditiveCostType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditiveCostType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.AdditiveCostAmount)
                </label>
                @Html.EditorFor(model => model.AdditiveCostAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditiveCostAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 hidden">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Guid)
                </label>
                @Html.EditorFor(model => model.Guid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Guid, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}


