﻿@model IEnumerable<Mega.Garage.Persistence.Dealer.Entities.Dealer>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>نمایندگی ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Dealers")', 'نمایندگی ها')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            نمایندگی جدید
        </div>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Icon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>                    
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerLastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Province)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOnSite)
                    </th>

                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.ImagePreview(modelItem => item.Icon, Size: 't')
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.IsOnSite)
                        </td>
                        <td>
                            <a class="card-btn" href="@Url.Action("Index","DealerInventories", new { id = @item.Id })">
                                <i class="fa fa-database"></i>
                            </a>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Dealers", new { id = @item.Id })' , 'ویرایش نمایندگی')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Dealers", new { id = @item.Id })' , 'حذف نمایندگی')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</section>