﻿@model Mega.Garage.Persistence.Dealer.Entities.Dealer

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Code)
                </label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsOnSite, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-Is-On-Site",
                       name = "IsOnSite"
                    })
                    <label class="custom-control-label" for="custom-switch-Is-On-Site">نمایش در سایت</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.OwnerFirstName)
                </label>
                @Html.EditorFor(model => model.OwnerFirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.OwnerLastName)
                </label>
                @Html.EditorFor(model => model.OwnerLastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.OwnerPhone)
                </label>
                @Html.EditorFor(model => model.OwnerPhone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Phone)
                </label>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.OwnerNationalCode)
                </label>
                @Html.EditorFor(model => model.OwnerNationalCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Province)
                </label>
                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.City)
                </label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

       
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ShebaId)
                </label>
                @Html.EditorFor(model => model.ShebaId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.BankAccountNumber)
                </label>
                @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.IPGBankId)
                </label>
                @Html.EditorFor(model => model.IPGBankId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Address)
                </label>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Longitude)
                </label>
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Latitude)
                </label>
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Image)
                </label>
                @Html.FileUpload(model => model.Image)
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Icon)
                </label>
                @Html.FileUpload(model => model.Icon)
            </div>
        </div>

        <div class="form-group col-lg-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.DocumentImage)
                </label>
                @Html.FileUpload(model => model.DocumentImage)
            </div>
        </div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
