﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="direction:rtl;text-align:right;padding:30px 20px;">
        <h2 style="background-color:#fff;padding:10px;">همگام‌سازی</h2>
        <ul style="list-style-position:inside;line-height:30px;margin-top:20px;">
            <li>@Html.ActionLink("همگام سازی رنگ‌ها", "SyncColors", "OnSiteController", new { area = "OnSite" })</li>
            <li>@Html.ActionLink("همگام سازی برندها", "SyncBrands", "OnSiteController", new { area = "OnSite" })</li>
            <li>@Html.ActionLink("همگام سازی گروه‌های محصولات", "SyncProductGroups", "OnSiteController", new { area = "OnSite" })</li>
            <li>@Html.ActionLink("همگام سازی محصولات", "SyncProducts", "OnSiteController", new { area = "OnSite" })</li>
            <li>@Html.ActionLink("همگام سازی دسته‌بندی‌ها", "SyncCategories", "OnSiteController", new { area = "OnSite" })</li>
        </ul>
    </div>

