﻿@model IEnumerable<Mega.Garage.Persistence.Catalog.Entities.ProductAttributeKey>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>مشخصه ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","ProductAttributeKeys")', 'مشخصه کاتالوگ')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            مشخصه جدید
        </div>
    </section>
</div>


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentProductAttributeKeyId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HasPropertyValue)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentProductAttributeKeyId)
                        </td>
                        <td>
                            @Html.DisplayForBoolean(item.HasPropertyValue)
                        </td>
                        <td>
                            <a class="card-btn" title="مقدارها"  href="@Url.Action("Index","ProductAttributeValues", new { keyId = @item.Id })">
                                <i class='fa fa-bars'></i>
                            </a>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","ProductAttributeKeys", new { id = @item.Id })' , 'ویرایش مشخصه کاتالوگ ')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","ProductAttributeKeys", new { id = @item.Id })' , 'حذف مشخصه کاتالوگ')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>