﻿@model Mega.Garage.Persistence.Catalog.Entities.ProductAttributeKey

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.RowVersion)
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Title)</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Code)</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.Description)</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">@Html.DisplayNameFor(model => model.ParentProductAttributeKeyId)</label>
                @Html.EditorFor(model => model.ParentProductAttributeKeyId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.HasPropertyValue, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-has-property-value",
                       name = "HasPropertyValue"
                    })
                    <label class="custom-control-label" for="custom-switch-has-property-value">دارای مقدار</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
