﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.MultimediaLibrary>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}
<div class="theader add">
    <section class="content-header">
        <div>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","MultimediaLibraries")', 'ایجاد سند')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                سند جدید
            </div>
            <a class="create-btn btn btn-info" href="@Url.Action("Index", "MultimediaCategories")">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                گروه بندی اسناد 
            </a>
        </div>

        <h1>
            اسناد چند رسانه ای
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        گروه
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        متن جایگزین
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th>
                        اندازه عرض
                    </th>
                    <th>
                        اندازه طول
                    </th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MultimediaCategory.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubstituteText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>                    
                    <td>
                        @if (ViewBag.RecievedId != 0)
                        {
                            <span class="card-btn" title="انتخاب">
                                <i class='fas fa-info'></i>
                                @Html.ActionLink("انتخاب", "ReturnSliderMedia", "SliderMedia", new { sliderMediaId = item.Id, sliderId = ViewBag.RecievedId, returnUrl = ViewBag.ReturnUrl }, "")
                            </span>
                        }
                        <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","MultimediaLibraries",new { id = @item.Id })' , 'ویرایش سند')">
                            <i class='fa fa-edit'></i>
                        </span>

                        <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","MultimediaLibraries",new { id = @item.Id })' , 'حذف سند')">
                            <i class="fa fa-trash"></i>
                        </span>

                    </td>
         
                </tr>
                }
            </tbody>

        </table>
    </div>
</section>
   
