﻿@model Mega.Garage.Persistence.Content.Entities.Progressbar

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                عنوان
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                توضیحات
            </label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                نمایش نوار پیشرفت
            </label>
            <div class="checkbox">
                @Html.EditorFor(model => model.ShowProgressbar)
                @Html.ValidationMessageFor(model => model.ShowProgressbar, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                گردش کار
            </label>
            @Html.EditorFor(model => model.FlowId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FlowId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
