﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Progressbar>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}


<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Progressbars")', 'ایجاد نوار پیشرفت')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            نوارپیشرفت جدید
        </div>
        <h1>
            نوارهای پیشرفت
        </h1>
    </section>
</div>


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th>
                        نمایش نوار پیشرفت
                    </th>
                    <th>
                        گردش کار
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.ShowProgressbar == null)
                            {
                                @Html.Label("UndefinedAllowance", "نامشخص");
                            }
                            else if (item.ShowProgressbar.Value)
                            {
                                @Html.Label("CommentAllowed", "بلی");
                            }
                            else if (!item.ShowProgressbar.Value)
                            {
                                Html.Label("CommentAllowed", "خیر");
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlowId)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Progressbars",new { id = @item.Id })' , 'ویرایش  نوار پیشرفت')">
                                <i class='fa fa-edit'></i>
                            </span>                            

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Progressbars",new { id = @item.Id })' , 'حذف  نوار پیشرفت')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>