﻿@model IEnumerable<Mega.Garage.Persistence.Dealer.Entities.DealerTransactionHistory>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

    <div class="theader add">
        <section class="content-header">
            <h1>محصولات نمایندگی ها</h1>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","DealerTransactionHistories")', 'شارژ موجودی')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                شارژ موجودی
            </div>
        </section>
    </div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DealerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>                    
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dealer.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionAmount)
                        </td>
                        <td>
                            @Html.DisplayForDateTime(item.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td> 
                    </tr>
                </tbody>
            }
        </table>
    </div>
</section>