﻿@model Mega.Garage.Persistence.Dealer.Entities.DealerTransactionHistory

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.DealerId)
            </label>
            @Html.DropDownList("DealerId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.ProductId)
            </label>
            @Html.EditorFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Qty)
            </label>
            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}