﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.MultimediaCategory>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div>
            <a class="card-btn btn btn-dark" title="بازگشت به فهرست اسناد چندرسانه ای" href="@Url.Action("Index", "MultimediaLibraries")">
                <i class='fa fa-mail-reply'></i>
            </a>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","MultimediaCategories")', 'ایجاد ')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                گروه جدید
            </div>
        </div>
        <h1>
            اسناد چند رسانه ای
        </h1>
    </section>
</div>


<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان گروه
                    </th>
                    <th>
                        توضیحات
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","MultimediaCategories",new { id = @item.Id })' , 'ویرایش')">
                                <i class='fa fa-edit'></i>
                            </span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","MultimediaCategories",new { id = @item.Id })' , 'حذف')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>
