﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_List.cshtml";
}


<div class="theader add">
    <section class="content-header">
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","Authors")', 'ایجاد نویسنده ')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            افزودن کاربر جدید
        </div>
        <h1>
            کاربران
        </h1>
    </section>
</div>
<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="search">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            ‌
            <div class="flex-column">
                @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <button type="submit" value="جستجو" class="btn btn-primary">جستجو</button>
        </div>
    }

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        نام نویسنده
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","Authors",new { id = @item.Id })' , 'ویرایش نویسنده')">
                                <i class='fa fa-edit'></i>
                            </span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Authors",new { id = @item.Id })' , 'حذف نویسنده')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    </div>
</section>
