﻿@model List<Mega.Garage.Persistence.Order.Entities.Invoice>
@{
    ViewBag.Title = "سوابق سفارش";
    var customer = (Mega.Garage.Persistence.Order.Entities.Customer)ViewBag.Customer;
    List<Mega.Garage.Persistence.Order.Entities.InvoiceProcess> InvoiceProcessList = Mega.Garage.Logic.Order.Services.InvoiceService.GetAllInvoiceProcesses().ToList();
}


<div class="hero-wrap hero-bread" style="background-image: url('/theme/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        @Html.Partial("_Messages")

        <div class="item">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:120px;">شماره سفارش</th>
                        <th>تاریخ سفارش</th>
                        <th>نوع پرداخت</th>
                        <th>قیمت نهایی</th>
                        <th>توضیحات</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string PurchaseDate = Mega.Garage.Common.DateUtility.GetPersianDate(item.InvoiceDate);
                        <tr>
                            <td><a href="/reviewOrder/check/@item.OrderNumber" target="_blank">@item.OrderNumber</a></td>
                            <td>
                                <div style="padding:3px 0;line-height:15px;">
                                    @PurchaseDate
                                    <br />
                                    <span style="font-size:12px;color:silver">(@item.InvoiceDate.ToString("HH:mm:ss"))</span>
                                </div>
                            </td>
                            <td>
                                <div style="padding:3px 0;line-height:15px;">
                                    @item.PaymentType.Title
                                    <br />
                                    @if (item.IsPayed.GetValueOrDefault())
                                    {
                                        <span style="font-size:12px;color:green">(پرداخت شده)</span>
                                    }
                                    else
                                    {
                                        <span style="font-size:12px;color:orangered">(پرداخت نشده)</span>
                                    }
                                </div>
                            </td>
                            <td>@item.FinalPrice.Value.ToString("N0") ریال </td>
                            <td>@item.PaymentStatus</td>
                            <td>
                                @if (item.PaymentTypeId == 2 && !item.IsPayed.GetValueOrDefault())
                                {
                                    <a href="/ReviewOrder/Payment/@item.OrderNumber" class="btn btn-success">پرداخت</a>
                                }
                            </td>
                            <td>
                                <a href="/reviewOrder/check/@item.OrderNumber" target="_blank" class="btn btn-primary">مشاهده</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row marg-t-35">
            <div class="col">
                @Html.Partial("_DealerList")
            </div>
        </div>
    </div>
</section>



