﻿@model Mega.Garage.Persistence.Order.Entities.Customer

<div class="container" style="margin-top: 35px; margin-bottom: 30px">
    <div class="row justify-content-center">
        <div class="col col-md-4 ftco-animate">
            <div class="row">
                <label for="txtFirstName">نام</label>
                <input type="text" class="form-control" id="txtFirstName" value="@Model.FirstName" disabled />
            </div>
            <div class="row">
                <label for="txtLastName">نام خانوادگی</label>
                <input type="text" class="form-control" id="txtLastName" value="@Model.LastName" disabled />
            </div>
            <div class="row">
                <label for="txtMobile">تلفن همراه</label>
                <input type="text" class="form-control" id="txtMobile" value="@Model.Mobile" disabled />
            </div>
            <div class="row">
                <label for="cmbCarGroup">گروه خودرو</label>
                <select id="cmbCarGroup" class="form-control" name="CarGroup" disabled>
                    <option value="">..:: انتخاب کنید ::..</option>
                    @for (int i = 0; i < ViewBag.CarGroup.Count; i++)
                    {
                        <option value="@(ViewBag.CarGroup[i].Code)" @(Model.CarGroupCode == ViewBag.CarGroup[i].Code ? "selected" : "")>@(ViewBag.CarGroup[i].Title)</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
