﻿@{
    ViewBag.Title = "ثبت نام";
}

<div class="hero-wrap hero-bread" style="background-image: url('/theme/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">ورود به سامانه</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="~/">فروش اینترنتی محصولات اسپیدی</a></span></p>
            </div>
        </div>
    </div>
</div>



<section class="ftco-section">

    <div class="text-center" style="margin-bottom: 20px;">
        <a id="lnkRegister" href="#">ثبت نام</a> / <a id="lnkHaveCode" href="#">کد دارم</a>
    </div>

    <div class="container">
        @Html.Partial("_Messages")

        @if ((bool)(ViewBag.NeedDisable))
        {
            <div class="alert alert-success">
                <a href="/landing/snapp" style="color: #333">مشاهده محصولات</a>
            </div>
        }
        @if (!ViewBag.NeedDisable)
        {
            <div class="row justify-content-center">
                <div id="containerRegister" class="col-xl-8 ftco-animate @((TempData["Verify"] == null || !(bool)TempData["Verify"]) ? "" : "d-none")">
                    @using (Html.BeginForm("Register", "User", FormMethod.Post))
                    {
                        <h3 class="mb-4 billing-heading">برای ورود به سامانه لطفا شماره همراه خود را وارد نمایید:</h3>
                        <input type="hidden" name="redirect" value="@TempData["Redirect"]" />
                        <div class="row align-items-end">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="txtRegisterMobile">شماره همراه</label>
                                    @{
                                        if ((bool)(ViewBag.NeedDisable))
                                        {
                                            <input id="txtRegisterMobile" disabled="disabled" value="@ViewBag.MobileNo" type="tel" class="form-control" name="mobile" />
                                        }
                                        else
                                        {
                                            <input id="txtRegisterMobile" autocomplete="off" type="tel" class="form-control" name="mobile" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button @((bool)ViewBag.NeedDisable ? "disabled=disabled" : "") class="btn btn-primary px-4 btn-site">دریافت کد</button>
                                </div>
                            </div>
                            <div class="w-100"></div>
                        </div>
                    }
                </div>
                <div id="containerHaveCode" class="col-xl-8 ftco-animate @((TempData["Verify"] != null && (bool)TempData["Verify"]) ? "" : "d-none")">
                    @using (Html.BeginForm("Verify", "User", FormMethod.Post))
                    {
                        <h3 class="mb-4 billing-heading">برای ورود به سامانه لطفا کد ارسال شده را وارد کنید:</h3>
                        <div class="row align-items-end">
                            <div class="col-md-5">
                                <input type="hidden" name="redirect" value="@TempData["Redirect"]" />
                                <div class="form-group">
                                    <label for="txtMobile">شماره همراه</label>
                                    <input id="txtMobile" @((bool)ViewBag.NeedDisable ? "disabled=disabled" : "") type="tel" class="form-control" name="Mobile" value="@TempData["MobileNumber"]" @(TempData["MobileNumber"] != null ? "readonly" : "") />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txtCode">کد پیامک شده</label>
                                    <input id="txtCode" @((bool)ViewBag.NeedDisable ? "disabled=disabled" : "") autocomplete="off" type="tel" class="form-control" name="Code" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button @((bool)ViewBag.NeedDisable ? "disabled=disabled" : "") class="btn btn-primary px-4 btn-site">ورود</button>
                                </div>
                            </div>
                            <div class="w-100"></div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>
<!-- .section -->


@section Scripts {
    <script>

        $(document).ready(function () {
             if ('@ViewBag.RefId' != '') {
                 $('form[name=paymentForm]').submit();
            }
            $("#lnkRegister").on("click", function (event) {
                event.preventDefault();
                event.stopPropagation();
                $("#containerHaveCode").addClass("d-none");
                $("#containerRegister").removeClass("d-none");

                $(".container").find(".alert").remove();
            });

            $("#lnkHaveCode").on("click", function (event) {
                event.preventDefault();
                event.stopPropagation();
                $("#txtMobile").removeAttr("disabled");
                $("#containerHaveCode").removeClass("d-none");
                $("#containerRegister").addClass("d-none");

                $(".container").find(".alert").remove();
            });

        });

    </script>
}