﻿
@{
    ViewBag.Title = "Verify";
}

<h2>Verify</h2>
@Html.Partial("_Messages")

@using (Html.BeginForm())
{
    <input type="tel" name="Mobile" class="form-control" value="@TempData["MobileNumber"]" maxlength="20" placeholder="تلفن همراه" />

    <input type="tel" name="Code" class="form-control" maxlength="5" placeholder="کد پیامک شده" />

    <input type="submit" class="btn btn-success" value="ورود" />
}
