﻿@model IEnumerable<Mega.Garage.Persistence.Order.Entities.Product>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>محصول ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Products")', 'محصول')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            محصول جدید
        </div>
    </section>
</div>

<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>از قیمت</label>
                                <input type="text" class="form-control" name="FromPrice" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>تا قیمت</label>
                                <input type="text" class="form-control" name="ToPrice" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>عنوان</label>
                                <input type="text" class="form-control" name="Title" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>کاتالوگ</label>
                                <input type="text" class="form-control" name="Catalog" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ColorImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Mega.Garage.Persistence.Order.Entities.Product item in Model)
                {
                    <tr>
                        <td>
                            @Html.ImagePreview(modelItem => item.ColorImage, 't')
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogCode)
                        </td>
                        <td>
                            @if (item.UnitPrice.HasValue)
                            {
                                @item.UnitPrice.Value.ToString("#,#")
                            }

                        </td>
                        <td>
                            <a href="/Fitup/Mapping/Index/@item.Id">
                                <i class="fa fa-tags"></i>
                            </a>

                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Products", new { id = @item.Id })' , 'ویرایش محصول')">
                                <i class='fa fa-edit'></i>
                            </span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Products", new { id = @item.Id })' , 'حذف محصول')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);

        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>

