﻿@model Mega.Garage.Persistence.Order.Entities.Product

@using (Html.BeginForm("Modify", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Code)
                </label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogId)
                </label>
                @Html.DropDownList("CatalogId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control", id = "cmbProducts" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogTitle)
                </label>
                @Html.EditorFor(model => model.CatalogTitle, new { htmlAttributes = new { @class = "form-control", id = "txtCatalogTitle", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogCode)
                </label>
                @Html.EditorFor(model => model.CatalogCode, new { htmlAttributes = new { @class = "form-control", id = "txtCatalogCode", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ShortTitle)
                </label>
                @Html.EditorFor(model => model.ShortTitle, new { htmlAttributes = new { @class = "form-control", id = "txtShortTitle", @readonly = "readonly" } })
            </div>
        </div>

        @Html.HiddenFor(model => model.CatalogImage, new { id = "hiddenCatalogImage" })

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.BasePrice)
                </label>
                @Html.EditorFor(model => model.BasePrice, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </label>
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column text-area">
                <label for="label">
                    @Html.DisplayNameFor(model => model.CatalogDescription)
                </label>
                @Html.TextAreaFor(model => model.CatalogDescription, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ColorId)
                </label>
                @Html.DropDownList("ColorId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ColorAdditiveCost)
                </label>
                @Html.EditorFor(model => model.ColorAdditiveCost, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ColorImage)
                </label>
                @Html.FileUpload(model => model.ColorImage)
            </div>
        </div>

        <div class="form-group col-12">
            <div class="d-flex flex-column">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.IsOnSite, new
                    {
                       @class = "custom-control-input",
                       id = "custom-switch-is-on-site",
                       name = "IsOnSite"
                    })
                    <label class="custom-control-label" for="custom-switch-is-on-site">@Html.DisplayNameFor(model => model.IsOnSite)</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#cmbProducts").on("change", function () {
            $.getJSON("/catalog/catalogs/getCatalog/" + $(this).val(), function (response) {
                console.log(response);
                $("#txtCatalogTitle").val(response.Title);
                $("#txtShortTitle").val(response.ShortTitle);
                $("#txtCatalogCode").val(response.ConfigCode);
                $("#hiddenCatalogImage").val(response.ImagePath);
            })
        });
    });
</script>
