﻿@model IEnumerable<Mega.Garage.Persistence.Catalog.Entities.Color>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1>رنگ ها</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa"
             onclick="openModal('@Url.Action("Modify","Colors")', 'رنگ')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            رنگ جدید
        </div>
    </section>
</div>

<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>عنوان</label>
                                <input id="textTitle" type="text" name="Title" class=" form-control" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" formaction="@Url.Action("Report", "Colors")" class="btn btn-success pull-left" style="margin-right: 5px;"><i class=" fa fa-file-excel-o"></i></button>
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnglishTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ColorHexCode)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnglishTitle)
                        </td>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.ColorHexCode)
                            <div style="width:20px;height:20px;border:1px solid #999;display:inline-block;background-color:@(item.ColorHexCode.StartsWith("#")?item.ColorHexCode:"#"+item.ColorHexCode)"></div>
                        </td>

                        <td>

                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Colors",new { id = @item.Id })' , 'ویرایش رنگ ')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Colors",new { id = @item.Id })' , 'حذف رنگ')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);

        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>