﻿@model Mega.Garage.Persistence.Catalog.Entities.Color

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.EnglishTitle)
                </label>
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ColorHexCode)
                </label>
                @Html.ColorPicker(model => model.ColorHexCode)
                @Html.ValidationMessageFor(model => model.ColorHexCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-detail">@Html.Partial("_Details")</div>

        <div class="modal-footer btn-wrapper">
            <button type="submit" class="btn btn-primary"> ذخیره</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        </div>
    </div>
}
