﻿@model MegaViewModel<string>
@{
    ViewBag.Title = "LogIn";
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به سامانه</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/rtl.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/css/mainStyle.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>ورود به سایت</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

            <form action="/Accounting/Login" method="post">
                <input type="hidden" name="redirectTo" value="@Request["data"]" />
                <div class="form-group has-feedback">
                    <input type="text" name="userName" class="form-control" placeholder="نام کاربری">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="رمز عبور">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="rememberme"> مرا به خاطر بسپار
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
                    </div>
                </div>
                @if (Model != null && Model.Status != MegaStatus.Successfull)
                {
                    <div class="alert alert-danger " style="margin-top:10px;color:#444;">
                        <ul>
                            @foreach (var Error in Model.Messages)
                            {
                                <li style="color:#444;font-size:14px;">@Error</li>
                            }
                        </ul>
                    </div>
                }
            </form>
            <a href="#">رمز عبورم را فراموش کرده ام.</a><br>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>

