﻿@model Mega.Garage.Persistence.Catalog.Entities.Category

@using (Html.BeginForm("Modify", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Title)
            </label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.EnglishTitle)
            </label>
            @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.ParentCategoryId)
            </label>
            @Html.DropDownList("ParentCategoryId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.CategoryCode)
            </label>
            @Html.EditorFor(model => model.CategoryCode, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.CategoryTypeId)
            </label>
            @Html.DropDownList("CategoryTypeId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>
    @Html.HiddenFor(model => model.CategoryTypeId)

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.WideImagePath)
            </label>
            @Html.FileUpload(model => model.WideImagePath)
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.ThumbImagePath)
            </label>
            @Html.FileUpload(model => model.ThumbImagePath)
        </div>
    </div>

    @Html.HiddenFor(model => model.SortNumber)

    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.CanAssignProduct, new
                {
                   @class = "custom-control-input",
                   id = "custom-can-assign-product",
                   name = "CanAssignProduct"
                })
                <label class="custom-control-label" for="custom-can-assign-product">قابلیت تخصیص محصول</label>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.AddressLink)
    @Html.HiddenFor(model => model.LevelNumber)

    <div class="form-group col-12">
        <div class="d-flex flex-column">
            <div class="custom-control custom-switch">
                @Html.CheckBoxFor(model => model.IsMainMenu, new
                {
                   @class = "custom-control-input",
                   id = "custom-is-main-menu",
                   name = "IsMainMenu"
                })
                <label class="custom-control-label" for="custom-is-main-menu">قرارگیری در منوی اصلی</label>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="flex-column">
            <label for="label">
                @Html.DisplayNameFor(model => model.Description)
            </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}

