﻿@model Mega.Garage.Persistence.Content.Entities.EntryTag


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="input-line">
        <div class="form-wrapper">
            <div class="form-group col-md-6 col-sm-12">
                <div class="flex-column">
                    <label for="label">نوشته</label>
                    @Html.Label((String)ViewBag.EntryTitle)
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="label"> برچسب </label>
                    <div class="flex-column">
                        @Html.DropDownList("TagId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}