﻿@model Mega.Garage.Persistence.Content.Entities.EntryTag

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    <div class="form-wrapper">
        <div class="form-group col-md-6 col-sm-12">
            <div class="flex-column">
                <label for="label">نوشته</label>                
                    @Html.Label((String)ViewBag.EntryTitle)                
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="form-group">
                <label for="label"> برچسب </label>
                <div class="flex-column">
                    @Html.DropDownList("TagId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-detail">@Html.Partial("_Details")</div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}
