﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.EntryTag>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}
<div class="theader add">
    <section class="content-header">
        <div>           
            <span class="card-btn btn btn-dark" title="بازگشت به ویرایش نوشته" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "Entries", new { entryId = ViewBag.EntryId })', 'ویرایش نوشته')">
                <i class='fa fa-mail-reply'></i>
            </span>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create","EntryTags")', 'ایجاد برچسب برای نوشته')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                افزودن برچسب به نوشته
            </div>
        </div>
        <h2>
            برچسب های نوشته
        </h2>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        عنوان نوشته
                    </th>
                    <th>
                        برچسب
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entry.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag.Title)
                        </td>
                        <td>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit", "EntryTags", new { entryId = @item.Id })', 'ویرایش برچسب های نوشته')">
                                <i class='fa fa-edit'></i>
                            </span>

                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete", "EntryTags", new { entryId = @item.Id })', 'حذف برچسب های نوشته')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>