﻿@model IEnumerable<Mega.Garage.Persistence.Payment.Entities.UserPayment>
@{
    Layout = "~/Views/Shared/_List.cshtml";
}
<div class="theader add">
    <section class="content-header">
        <h1 class="">لیست پرداخت های کاربران</h1>
    </section>
</div>

<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>از تاریخ</label>
                                @Html.EditorPersianDatePicker("FromDate", (DateTime?)ViewBag.FromDate)
                            </div>
                            <div class="col-md-3 form-group">
                                <label>تا تاریخ</label>
                                @Html.EditorPersianDatePicker("ToDate", (DateTime?)ViewBag.ToDate)
                            </div>
                            <div class="col-md-3 form-group">
                                <label>وضعیت پرداخت</label>
                                <select class="form-control" name="PaymentStatus">
                                    <option value="">...</option>
                                    @foreach (var item in ViewBag.PaymentStatus)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>نام پرداخت کننده</label>
                                <input type="text" name="FullName" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.GaragesCode)</th>
                    <th>@Html.DisplayNameFor(model => model.ReferalCode)</th>
                    <th>@Html.DisplayNameFor(model => model.IPGId)</th>
                    <th>@Html.DisplayNameFor(model => model.GarageReferenceId)</th>
                    <th>@Html.DisplayNameFor(model => model.Invoice.PaymentType.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.InvoiceId)</th>
                    <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
                    <th>@Html.DisplayNameFor(model => model.PaymentStatusId)</th>
                    <th>@Html.DisplayNameFor(model => model.HasSplit)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td style="font-family:Tahoma;">@Html.DisplayFor(modelItem => item.GaragesCode)</td>
                    <td style="font-family:Tahoma;">@Html.DisplayFor(modelItem => item.ReferalCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.IPG.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.GarageReferenceId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Invoice.PaymentType.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.InvoiceId)</td>
                    <td>@Html.DisplayForDateTime(item.PaymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentStatus.Title)</td>
                    <td>@Html.DisplayForBoolean(item.HasSplit)</td>
                    <td>
                        <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Brands",new { id = @item.Id })' , 'ویرایش برند')">
                            <i class='fa fa-edit'></i>
                        </span>
                        <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Brands",new { id = @item.Id })' , 'حذف برند')">
                            <i class="fa fa-trash"></i>
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>
