﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.TableValue>

@using (Html.BeginForm("Create", "TableValues", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    var counter = 0;
    foreach (var value in Model)
    {
        counter++;
        @Html.HiddenFor(modelItem => value.TableId, new { @id = "TableId" + counter })
        @Html.HiddenFor(modelItem => value.RowId, new { @id = "RowId" + counter })
        @Html.HiddenFor(modelItem => value.ColumnId, new { @id = "ColumnId" + counter })

        <div class="form-group">
            @Html.DisplayFor(modelItem => value.TableColumn.ColumnName, new { @id = "ColumnName" + counter })

            <div class="flex-column">
                @Html.TextBoxFor(modelItem => value.Value, new { @id = "Value" + counter })
            </div>
        </div>
        @Html.Hidden(counter.ToString(), new { @id = counter })

    }
    <div class="input-line submit-box">
        <div class="form-group submit">
            <input type="submit" value="ایجاد" class="btn btn-default" />
        </div>
    </div>
}
