﻿@model IEnumerable<Mega.Garage.Persistence.Content.Entities.TableValue>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            var counter = 0;
            foreach (var value in Model)
            {
                counter++;
                @Html.HiddenFor(modelItem => value.Id)
                @Html.HiddenFor(modelItem => value.TableId)
                @Html.HiddenFor(modelItem => value.RowId)
                @Html.HiddenFor(modelItem => value.ColumnId)
                @Html.HiddenFor(modelItem => value.RowVersion)

                <div class="form-group">
                    @Html.DisplayFor(modelItem => value.TableColumn.ColumnName, new { @id = "ColumnName" + counter })

                    <div class="flex-column">
                        @Html.TextBoxFor(modelItem => value.Value, new { @id = "Value" + counter })
                    </div>
                </div>
            }
            @Html.Hidden(counter.ToString(), new { @id = counter });
        }

        <div class="input-line submit-box">
            <div class="form-group submit">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ذخیره" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>