﻿@using Mega.Garage.Persistence.Content.Entities
@model IEnumerable<Mega.Garage.Persistence.Content.Entities.TableValue>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <div>
            <a class="card-btn btn btn-dark" title="بازگشت به فهرست جدول ها " href="@Url.Action("Index", "Tables")">
                <i class='fa fa-mail-reply'></i>
            </a>
            <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Create", "TableValues", new { tableId = @ViewBag.TableId, tableValue = ViewBag.TableValue })', 'افزودن سطر جدید')">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                سطر جدید
            </div>
            <a class="create-btn btn btn-info" href="@Url.Action("Index", "TableColumns", new { tableId = @ViewBag.TableId })">
                <span class="arrow-box">
                    <i class="arrow vertical"></i>
                    <i class="arrow horizontal"></i>
                </span>
                ستون های جدول
            </a>
        </div>
        <h1>
            @ViewBag.Tabletitle
        </h1>
    </section>
</div>

<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                
                @if (ViewBag.TableColumnCount != 0)
                {
                    if (ViewBag.TableColumnCount != 0 && ViewBag.TableValue == null)
                    {
                        <tr>
                            @foreach (TableColumn column in ViewBag.TableColumn)
                            {
                                <th>
                                    @Html.DisplayFor(modelItem => column.ColumnName)
                                </th>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            @foreach (TableColumn column in ViewBag.TableColumn)
                            {
                                <th>
                                    @Html.DisplayFor(modelItem => column.ColumnName)
                                </th>
                            }
                        </tr>

                        foreach (TableRow row in ViewBag.TableRow)
                        {
                            <tr>
                                @foreach (TableColumn column in ViewBag.TableColumn)
                                {
                                    foreach (TableValue value in ViewBag.TableValue)
                                    {
                                        if (value.ColumnId == column.Id && value.RowId == row.Id && value.IsActive)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => value.Value)
                                            </td>
                                        }
                                    }
                                }
                                <td>
                                    <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Edit","TableValues", new { rowId = row.Id, tableId = row.TableId })' , 'ویرایش سطر')">
                                        <i class='fa fa-edit'></i>
                                    </span>

                                    <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","TableValues", new { rowId = row.Id, tableId = row.TableId })' , 'حذف سطر')">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                }
</table>
    </div>
</section>
