﻿@using Mega.Garage.Logic.Dealer.Services
<link href="~/Scripts/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet/leaflet.js"></script>
<div class="row">

    <div class="col-md-12 heading-section ftco-animate">
        <h4 class="mt-4 mb-4 information-heading">
            روزهای هفته، از شنبه تا پنجشنبه، از ساعت 8 الی 20 و جهت مراجعه روزهای جمعه، هماهنگی با اتوسرویس الزامی می باشد.
        </h4>
    </div>
</div>
<h3>لیست نمایندگی ها</h3>
<div class="alert alert-dark">در حال حاضر تنها اتوسرویس های منتخب در استان تهران، قادر به سرویس دهی هستند.</div>

<div>
    <div id="map" style="height: 400px; margin-bottom: 40px; z-index: 1;"></div>
</div>

@{
    var DealerList = DealerService.GetDealersList().ToList();
    var dealerMapData = DealerList.Where(x => x.Latitude != null && x.Longitude != null).ToList();
}

<script type="text/javascript">
    var map = L.map("map");
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 17,
        minZoom: 5,
        attribution: 'Speedy',
    }).addTo(map);

    map.setView([35.6892, 51.3890], 11);

    var fg = L.featureGroup().addTo(map);
    map.setMinZoom(11);

    @foreach (var item in dealerMapData)
    {
        <text>
        L.marker([@(item.Latitude), @(item.Longitude)]).addTo(fg)
            .bindPopup('<b>@item.Title</b>' + 
                '<br />' + 
                '@item.Address' + 
                '<br />' + 
                '@(!string.IsNullOrEmpty(item.PhoneNumber) ? "تلفن: " + item.PhoneNumber : "")' + 
                '<br />' +
                '@(!string.IsNullOrEmpty(item.Description) ? item.Description : "")' 
                );
        </text>
    }


    //setTimeout(function () {
    //    map.fitBounds(fg.getBounds());
    //}, 1000);
</script>

<div id="dealer-list" class="row justify-content-center">
    @{
        for (int i = 0; i < DealerList.Count(); i++)
        {
            var dealer = DealerList[i];

            <div class="col-md-6 ftco-animate">
                <div class="bg-white auto_service_box mb-4" style="height: 90%;">
                    <h3>@dealer.Title</h3>
                    @if (!string.IsNullOrEmpty(dealer.Address))
                    {
                        <p>
                            @(string.IsNullOrEmpty(dealer.Province) ? "" : "استان: " + dealer.Province + " - ")
                            @(string.IsNullOrEmpty(dealer.City) ? "" : "شهر: " + dealer.City + " - ")
                            @dealer.Address
                        </p>
                    }
                    @if (!string.IsNullOrEmpty(dealer.PhoneNumber) || !string.IsNullOrEmpty(dealer.Description))
                    {
                        <p class="text-secondary">
                            تلفن تماس : @dealer.PhoneNumber
                            <br />
                            @dealer.Description
                        </p>
                    }

                </div>
            </div>
        }
    }
</div>