﻿<!DOCTYPE html>
<html lang="fa">
<head>
    <title>@ViewBag.Title | فروش اینترنتی روغن موتور اسپیدی</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.Description فروش اینترنتی روغن موتور اسپیدی" />
    @Styles.Render("~/Content/css")
    <style>
        .imgItem {
            max-width: 100%;
        }

        .table tbody tr td {
            padding: 5px 0;
        }

        .btn-site {
            height: 52px;
        }

        .information-heading {
            font-size: 22px;
            font-weight: bold;
        }
    </style>
    @RenderSection("Header", required: false)
    @Scripts.Render("~/bundles/jquery")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93064236-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-93064236-9');
    </script>

</head>
<body class="goto-here">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/theme/images/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> منو
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    @Html.Action("_UserMobile", "Home")
                    <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link">سبد خرید <span class="ion-ios-cart"></span> [<span id="bsktCount">@Mega.Garage.Client.Utility.Cart.GetTotalItemsInBasket()</span>]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">پیام سیستم</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    محصول شما با موفقیت به سبد خرید اضافه شد.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ادامه خرید</button>
                    <a class="btn btn-primary" href="/cart">انتقال به سبد خرید</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">پیام سیستم</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="ModalErrorMessage" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-top row">
                <div class="first-column col-xl-4 col-md-4 col-sm-6 ftco-animate fadeInUp ftco-animated">
                    <h4>دسترسی سریع</h4>
                    <ul id="menuElem">
                        <li>
                            <a href="/">صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="https://iranecar.com" target="_blank">درباره ایرانی کار</a>
                        </li>
                        <li>
                            <a href="https://iranecar.com/partnership/" target="_blank">فراخوان همکاری</a>
                        </li>
                        <li>
                            <a href="https://iranecar.com/contact-us/" target="_blank">تماس با ما</a>
                        </li>
                    </ul>
                    <div class="footer-shape"></div>
                </div>
                <div class="second-column col-xl-3 col-md-3 col-sm-6 ftco-animate fadeInUp ftco-animated">
                    <h4>پیوند ها</h4>
                    <ul id="menuElem">
                        <li>
                            <a href="http://esababattery.iranecar.com/" target="_blank">صبا باتری</a>
                        </li>
                    </ul>
                </div>
                <div class="third-column col-xl-5 col-md-5 col-sm-12 ftco-animate fadeInUp ftco-animated">
                    <h4>ارتباط با ما</h4><p>
                        آدرس: تهران، خ کریم خان، خ استاد نجات اللهی جنوبی خ سپند شرقی، پ ۳۷،<br>
                        کدپستی: ۱۵۹۸۸۱۷۴۱۱
                    </p>

                    <p>تلفن تماس: ۸۸۵۱۰۹۲۲ الی ۴</p>

                    <p>دورنگار: ۸۸۸۵۴۶۲۷</p>

                    <p>ایمیل: support@iranecar.com</p>
                </div>
            </div>
            <div class="footer-bottom col-xs-12">
                <div class="row">
                    <div class=" first-colum col-md-4 col-xs-6">
                        <div class="marg-t-35 hidden-xs"></div>
                        <a href="http://iranecar.com/" alt=""><img id="p_lt_ctl09_EditableImage1_ucEditableImage_imgImage" class="img-responsive" src="/theme/images/LogoFooter.png" alt=""></a>
                    </div>
                    <div class="second-colum col-md-3 col-xs-12 ">
                        <img class="" src="/theme/images/namad-E.png" alt="نماد اعتماد الکترونیکی" onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=145043&amp;p=rfthaodsdshwobpdaodsxlao&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')" style="cursor:pointer">
                        <img class="enemad-box" src="/theme/images/namad.png" alt="نماد اعتماد الکترونیکی" onclick="window.open('https://trustseal.enamad.ir/Verify.aspx?id=10431&amp;p=n5PlxAVW1vohEzjC&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')" style="cursor:pointer">
                        <div class="footer-shape"></div>
                    </div>
                    <div class="third-colum col-md-5 col-xs-12">
                        <ul class="social">
                            <li>
                                <a href="https://www.instagram.com/iranecar/" rel="nofollow" target="_blank">
                                    <img src="~/theme/images/instagram.png" alt="intagram" title="ورود به شبکه اجتماعی اینستاگرام ایرانی کار" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" rel="nofollow" class="instagram" target="_blank">
                                    <img src="~/theme/images/linkedin.png" alt="linkedin" title="ورود به شبکه اجتماعی لینکداین ایرانی کار" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.aparat.com/iranecar" rel="nofollow" class="telegram" target="_blank">
                                    <img src="~/theme/images/aparat.png" alt="aparat" title="ورود به شبکه اجتماعی آپارات ایرانی کار" />
                                </a>
                            </li>
                        </ul>
                        <p>
                            Copyright © @DateTime.Now.Year<br>
                            تمامی حقوق برای شرکت مشاورین گسترش الکترونیک ایما (مگا) محفوظ است&nbsp;
                        </p>
                        <div class="footer-shape"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    @Scripts.Render("~/bundles/jquery-migrate")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/jSc")

    @RenderSection("Scripts", required: false)

</body>
</html>