﻿@{
    if (TempData["Messages"] != null)
    {
        var messages = (List<Mega.Garage.Client.Models.Message>)TempData["Messages"];

        foreach (var message in messages)
        {
            if (message.Type == Mega.Garage.Client.Models.MessageType.Information)
            {
                <div class="alert alert-info" role="alert">
                    <strong>@message.Content</strong>
                </div>
            }
            if (message.Type == Mega.Garage.Client.Models.MessageType.Warning)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>@message.Content</strong>
                </div>
            }
            if (message.Type == Mega.Garage.Client.Models.MessageType.Error)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>@message.Content</strong>
                </div>
            }
            if (message.Type == Mega.Garage.Client.Models.MessageType.Success)
            {
                <div class="alert alert-success" role="alert">
                    <strong>@message.Content</strong>
                </div>
            }
        }
    }
}