﻿@model Mega.Garage.Persistence.Order.Entities.Product
@{
    double BasePrice = (double)((Model.BasePrice.HasValue) ? Model.BasePrice.Value : 1);
    double UnitPrice = (double)((Model.UnitPrice.HasValue) ? Model.UnitPrice.Value : 1);
    double Discount = Math.Ceiling((BasePrice - UnitPrice) / BasePrice * 100);
}
<div class="item">
    <div class="product">
        <a href="~/product?Id=@Model.Id" class="img-prod">
            @Html.ImagePreview(x => Model.ColorImage, "imgItem")
            @if (Discount >= 1)
            {
                <span class="status">@Discount.ToString() %</span>
            }
            <div class="overlay"></div>
        </a>
        <div class="text py-3 px-3">
            <h3 style="height: 42px;overflow:hidden;">@Model.CatalogTitle</h3>
            <h4>@Model.CatalogDescription</h4>
            <hr />
            <div class="">
                <div class="price">
                    <div>
                    </div>
                    @if (Model.BasePrice != Model.UnitPrice)
                    {
                        <div class="mr-2 price-dc">@Model.BasePrice.Value.ToString("N0") ریال</div>
                    }
                </div>
                <div class="price">
                    <div class="price-Garage">قیمت ویژه</div>
                    <div class="price-Garage big">@Model.UnitPrice.Value.ToString("N0") ریال</div>
                </div>
            </div>
            <p class="bottom-area d-flex px-3">
                <a href="#" class="add-to-cart text-center py-2 mr-1" data-id="@Model.Id"><span><i class="ion-ios-cart ml-1"></i> افزودن به سبد خرید</span></a>
            </p>
        </div>
    </div>
</div>
