﻿@model Mega.Garage.Client.Models.SliderModel
<div class="slider-item">
    <div class="overlay"></div>
    <a @(string.IsNullOrEmpty(Model.LinkUrl)?"":Model.LinkUrl) class="container-fluid p-0">
        <div class="row d-flex no-gutters align-items-center justify-content-end" data-scrollax-parent="true">
            <img style="width:100%;" class="one-third order-md-last img-fluid" src="@Model.ImageUrl" title="@Model.ImageUrl" alt="@Model.Title">
        </div>
    </a>
</div>


