﻿@model IEnumerable<Mega.Garage.Persistence.Polling.Entities.Survey>

@{
    Layout = "~/Views/Shared/_List.cshtml";
}

<div class="theader add">
    <section class="content-header">
        <h1 class="">لیست دسته بندی سوالات</h1>
        <div class="create-btn btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Survey")', 'دسته بندی جدید')">
            <span class="arrow-box">
                <i class="arrow vertical"></i>
                <i class="arrow horizontal"></i>
            </span>
            دسته بندی جدید
        </div>
    </section>
</div>
<section class="content" style="min-height:unset;">
    <form method="get">
        <div class="row">
            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row text-right">
                            <div class="col-md-3 form-group">
                                <label>عنوان</label>
                                <input name="title" class="form-control" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>نوع نظرسنجی</label>
                                @Html.DropDownList("surveyTypeId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 form-group">
                                <label>کد</label>
                                <input name="code" class="form-control" />
                            </div>
                            <div class="col-md-2 form-group">
                                <label>از تاریخ</label>
                                <input type="text" class="form-control persian-date" name="startDate" />
                            </div>
                            <div class="col-md-2 form-group">
                                <label>تا تاریخ</label>
                                <input type="text" class="form-control persian-date" name="endDate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info pull-left margin-r-5">جستجو کن</button>
                                    <button type="reset" class="btn btn-default pull-left">حذف فیلتر</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Code)</th>
                    <th>@Html.DisplayNameFor(model => model.QuestionType)</th>
                    <th>@Html.DisplayNameFor(model => model.LinkUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.ClientId)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Code</td>
                        @if (item.QuestionType == 1)
                        {
                            <td>بلی/خیر</td>
                        }
                        else
                        {
                            <td>امتیازی</td>
                        }
                        <td>@item.LinkUrl</td>
                        <td>@item.ClientId</td>
                        <td>
                            <span class="card-btn" title="ویرایش"  onclick="window.open('Question?ServeyId=@item.Id')">
                                <i class='fa fa-list'></i>
                            </span>
                            <span class="card-btn" title="ویرایش" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Modify","Survey",new { id = @item.Id })' , 'ویرایش دسته بندی')">
                                <i class='fa fa-edit'></i>
                            </span>
                            <span class="card-btn" title="حذف" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="adsa" onclick="openModal('@Url.Action("Delete","Survey",new { id = @item.Id })' , 'حذف دسته بندی')">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @{
            int PageSize = (int)(ViewBag.PageSize);
            int TotalRecords = (int)(ViewBag.TotalRecords);
        }
        @Html.Pagger(TotalRecords, PageSize)
    </div>
</section>


