﻿@model Mega.Garage.Persistence.Polling.Entities.Survey

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Title)
                </label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Code)
                </label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.StartDate)
                </label>
                @Html.EditorPersianDatePicker(model => model.StartDate)
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.EndDate)
                </label>
                @Html.EditorPersianDatePicker(model => model.EndDate)
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.LinkUrl)
                </label>
                @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.QuestionType)
                </label>
                <select name="QuestionType" class="form-control">
                    <option value="1">بلی/خیر</option>
                    <option value="2">امتیازی</option>
                </select>
                @*@Html.EditorFor(model => model.QuestionType)*@
            </div>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.ClientId)
                </label>
                @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.SurveyTypeId)
                </label>
                @Html.DropDownList("SurveyTypeId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <div class="d-flex flex-column">
                <label for="label">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-detail">
        @if (Model != null && Model.Id > 0)
        {
            <div class="form-group" align="right">
                <div class="form-group">
                    <div class="input">
                        تاریخ ایجاد :
                        <b>@Mega.Garage.Common.DateUtility.GetPersianDateTime(Model.CreatedDate)</b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input">
                        تاریخ ویرایش :
                        <b>@Mega.Garage.Common.DateUtility.GetPersianDateTime(Model.ModifiedDate)</b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input">
                        ایجاد شده توسط :
                        <b>@Html.DisplayUserName(Model.CreatedBy)</b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input">
                        ویرایش شده توسط :
                        <b>@Html.DisplayUserName(Model.ModifiedBy)</b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input">
                        نسخه :
                        <b>@Html.DisplayFor(model => model.RowVersion)</b>
                    </div>
                </div>
                <div class="form-group checkbox-input">
                    <label>
                    </label>

                    <div class="input">
                        فعال :
                        <b>@Html.DisplayForBoolean(Model.IsActive)</b>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="modal-footer btn-wrapper">
        <button type="submit" class="btn btn-primary"> ذخیره</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
}

